@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\000034}}
.b-feedback .comment {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #EBEBEB;
  background: white;
  color: #959595;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px 20px 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000316}}
.b-feedback .comment > .ico-man {
  float: left;
  margin: 2px;
  width: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000321}}
.b-feedback .comment > .content {
  margin-left: 70px;
  font-size: 14px;
  line-height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000326}}
.b-feedback .comment > .content .info {
  margin-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000329}}
.b-feedback .comment > .content .info .user {
  color: black;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000333}}
.b-feedback .comment > .content .info .date {
  color: #959595;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000337}}
.b-feedback .comment > .content .info .edit, .b-feedback .comment > .content .info .save, .b-feedback .comment > .content .info .cancel {
  color: #76b718;
  text-decoration: none;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\0000342}}
.b-feedback .comment > .content .info .edit:hover, .b-feedback .comment > .content .info .save:hover, .b-feedback .comment > .content .info .cancel:hover {
  color: #67a015;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000344}}
.b-feedback .comment > .content .info .save, .b-feedback .comment > .content .info .cancel {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000349}}
.b-feedback .comment > .content .text .current {
  color: #333;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000353}}
.b-feedback .comment > .content .text .edit {
  display: none;
  border: 1px solid #ddd;
  padding: 7px 1px 1px 3px;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_comment\.css\.scss}line{font-family:\0000363}}
.b-feedback .official-answer .comment .info .date {
  color: #B7B7B7;
}
