@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\000034}}
.b-feedback .topic {
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\000037}}
.b-feedback .topic > .info {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 25px;
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003159}}
.b-feedback .topic > .info.section-info > .icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAwhJREFUeNqMk8lrFEEUxr%2Bq6mWmZ8aeZIyRTIIJQUwwAZUoejAuQYMHUZDgzT%2FADcGTJ8GLBwUFEUHEiwcRFFeIUdy9iRuJUXBLMJOMTpKZzmR6ZqqXsrqDiTet5jXV9er79XuvXpEtNxkIBYgCMCZACMH97S7%2BNXruKhC%2B1Akh0HNHCQEKA1zfSwtgj65q3SrT0pAfjs8z3OHPQXCDEZbxPSCwAKD8IRJp3PW2m4Z5oKNxTVdTqjkZUY2I5KPslCpjUyMbPmTe9lhl6zwDexBoHu9yFwBSvK2hJn1iS%2FuOVTqN6pZVxKxvBQFAocxoTq0w0smW3qef%2But%2FWVlBwR4GuhDgel7ajJmHNi7fttpzhTY2NY7DrZcQ102ZkosSL%2BDWxBnMaiP6%2Bpatqx99uHdotlIcltIMDQAyn74VSzvXelxov6azEshx%2F%2FtlXB0%2BhVc%2F%2B5GM1KGJrcRI9huEA605tXyt74m%2B%2BQgUqnXXRuvMyXwu%2FKM8CjzKXcFkcQIbcnvRkF%2BH4ewQRvMjsLIlRBMRkxKlW0rPhgAi1EYimC4rDcdzUJy1MFMuoCu2CztTR%2FCm0I9Xpdsw9Di4qIJx6L5LG%2BcjkHnDdV1UXBulygyqsGFGkuip2webTGOgfA4iZsOgsbmKUyI1c9MQUK06Gas63Qm1EtGkU6dxEJ%2FgeuE4fPloi6RRUx48kb3CULRtzrmbCVnByy47L8fzmUKiNoaoqUNNAFE9hv1t53Gw7YIMPTG3tkiDYWrIl2YsXvVfhoA1F5mMh1z7%2FD3zruJwJ7UkHm7Soio8m4UWzIO1mjoDJafsjP6YfCOkZq5%2BQavJ0XaW9NbWJE5u3NTWUd%2BQUF1HwBr1Qp%2B5jEFRCSbGLefFk09DhXzpWMSgA5T%2B3couHRj9WFRzY%2B%2BPdnY1dLS2L04kl0W0wJebsvnXj5PFwdfjg1WfnzZTUqzLy0f%2FikAxCIQHRV%2BPdnUldmsq2axGWX3gc8reT87FM%2FcLrsfTZDhaI8VKeBgLgP8Zic2EChs%2B08NeC2%2FgbwEGAP0cU3G1OW01AAAAAElFTkSuQmCC) no-repeat;
  border-color: #D5F8A7!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003163}}
.b-feedback .topic > .info.section-issues > .icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wIGA0aMwvQStsAAAGCSURBVDjLpZOxahtBEIa%2FvT2dfCOfg3SSBbJNXAkiFEgaVWpSX6%2FCD2CQCQTcuvJLJM%2BQLUXKdAGDXyNKYwIBE7PHWdrbNMHYkn3G9sA2%2F%2Bz888%2FPjPLe85IIqpJGZMeIjJ9FYETG8cbGr3aa%2FjAiB89RMH07HDIcDACmTyIwIoftVutgr9sl3dpir9cbG5GT%2B%2F6qVRONiFZKLT%2BMRrxKEgDyouD72RlL515PrP35mILT%2FW6XJAypzWbUZjPqZUl%2FdxfguHIEIzKoaX3S397GWXuDO2vZbzZp1OufjEhWpWDaT1N0UVDeIiithTznTaezZmhwq3smYfixF0U4a9cUOGtJlaITx5kROVwz0Yh8e58kWTuKKjfv73LJ%2BeUlHsKJtS74X3zc1jprOUeZ5zevOZ%2FTnM%2FvYI3Fgp0wBDgFUF%2FjOAqgGAUB8Uq3ztUVAL83N%2B%2FgC%2BC8LFlAGgLvGt5Tv76mXCG4eGAcDSRa80epkfLeY0Q%2BV63rA%2FFlYu2Reuk5%2FwMdP5B48pUMlAAAAABJRU5ErkJggg%3D%3D) no-repeat;
  border-color: #FDDBFF!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003167}}
.b-feedback .topic > .info.section-ideas > .icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wIGA0aEKm3O6kAAAHzSURBVDjLfZLPalNREIe%2FufemGmmwuGgIShYVJOJCIUtpoL6Aq6wk4i7QFxDahav2CbpwowitG1vQF2iaRLJwISpNskpiTCg3tJabkKK5t0nHRUibmD8%2FGBjOzHxz5swRVQWguG1gWYplyRNFX4iSQECVbRF51%2B1p6tyDB8%2F7%2BQMZV64isGGauh9cJLF0F5aWIBgkYVm6L8iGMK4hgMQNn7V25%2F4y848%2BQVQhqsw%2F%2FMjtyDKmz1xTiI8RVBVV5cdbyTjZkKpb0TG5FW1%2BDun3N2QG%2BQO7vIHnamwhFAHtTWjS42YwgnduxKaO8NcFroWhmgBn7yrD2UOqCbgexnUvpr%2BB55E9ts%2FANKC2Cl%2Blb%2FVVMAyOG3%2FwXMn%2BD7AGzrnHVunbl9itp6tYN35BxwYB5kJ0zTCl1Gs8V7emAoDdU%2Ftos5Ivrt17%2FAxUQfqLq%2BTec2rXN30%2BdmesERRdPzzYSZ8c1WEuCL5FTo7q5FM7aZB1Zv2DszZ4HdAemd%2FVIhgLYC5w%2FDNP94JMp6O02%2BOAyxE0%2BgFVRUTSeYdX3mGbWq1GLucHXqYHefGpgH4xQLrZbBIOhwFoNBqUy%2BX0UHwyoFwujwQKhQK2bVMqlRCRicUjgFarNRLw%2B%2F0EAgFEhGndRwCO4wyfrySTyQOAaDS6wgz9A%2FLs9DynlpleAAAAAElFTkSuQmCC) no-repeat;
  border-color: #FFE7B6!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003171}}
.b-feedback .topic > .info.section-thanks > .icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAh5JREFUeNqkkztvE0EUhe%2BdGc%2Bu8fqV2EmMiKEjMRIttKniFECNqBAhpIIfwK9AQoIiSohE44CwREMFFaJGIcaUgOMQ49hev9a7Xu8MsyYoGBGwlCmv5nzn3NEZlFLCSQ6BEx6Wzb%2F6yfGToHc4%2FnsqPy0h%2FDLX4tddt%2F3Oc60cG99LAALPxibPryfPzKbaZuNW5eu2S8YVg9SWohPzG4nT51IsQGEiOhkKMGOBHUUWx4ql4NlwbG4zNp1O%2BksyG6BaLn23%2B2aOHEa7imjcU6D46P4KKrRsyJjfCCfPJj2JgA5A5UupXqkWbyM4bxnK4I1g5OJjxkNGp%2FZpwZO7q4iwPwQJvsi1uc1gPD3lKWumeNVKqW62i8uEOi8BKDCExBU9lDA8lUWPXLjWM4ku8fNN5ZyhNPNEi6anXCUkfYD6QbnRsorLlNn5Xw1gQla3rOr%2BEovPRDzKgYUyi%2F0WyQMaKRqZnekrZ64uNhtl03YKK7%2BLhwBg3ReW%2FeEUP8BHGJ42XAwA6plLUu3hCvU6A4Buba%2Fpeh9XKO89B0lHi%2BQPiGY97Ts7nDTJQ6EngwOhLqFyVu52c68pQDlrvWcgyDFVHkI662KwfVd0a5Z6bF8PbvNbS8jCHapZWyDJf%2F6CD9E7a%2Bjt3MeeOZCdikmwsEr1Xu7P2KMrjJSdAtXbD8B5X8dAf5dy%2B42U%2Fy7rIQCPJqjCBqzXSDxznM%2F6Q4ABAHku4s6AxMKsAAAAAElFTkSuQmCC) no-repeat;
  border-color: #D1F3FF!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003179}}
.b-feedback .topic > .info.section-info {
  background-color: #EBFFCC;
  border-color: #D5F8A7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003183}}
.b-feedback .topic > .info.section-info .active {
  background-color: #EBFFCC!important;
  border-color: #D5F8A7!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003188}}
.b-feedback .topic > .info.section-issues {
  background-color: #FFE8FA;
  border-color: #FDDBFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003192}}
.b-feedback .topic > .info.section-issues .active {
  background-color: #FFE8FA!important;
  border-color: #FDDBFF!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003197}}
.b-feedback .topic > .info.section-ideas {
  background-color: #FFF6CC;
  border-color: #FFE7B6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003201}}
.b-feedback .topic > .info.section-ideas .active {
  background-color: #FFF6CC!important;
  border-color: #FFE7B6!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003206}}
.b-feedback .topic > .info.section-thanks {
  background-color: #E8F8FF;
  border-color: #D1F3FF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003210}}
.b-feedback .topic > .info.section-thanks .active {
  background-color: #E8F8FF!important;
  border-color: #D1F3FF!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000315}}
.b-feedback .topic > .info .topic-details {
  position: relative;
  left: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000318}}
.b-feedback .topic > .info .topic-details span {
  line-height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000321}}
.b-feedback .topic > .info .topic-details .user {
  color: black;
  font-size: 14px;
  text-transform: capitalize;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000326}}
.b-feedback .topic > .info .topic-details .date {
  color: #B7B7B7;
  font-size: 12px;
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000332}}
.b-feedback .topic > .info .head {
  border-bottom: 1px dotted #BFB899;
  overflow: hidden;
  padding-bottom: 8px;
  margin-bottom: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003159}}
.b-feedback .topic > .info .head.section-info > .icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAwhJREFUeNqMk8lrFEEUxr%2Bq6mWmZ8aeZIyRTIIJQUwwAZUoejAuQYMHUZDgzT%2FADcGTJ8GLBwUFEUHEiwcRFFeIUdy9iRuJUXBLMJOMTpKZzmR6ZqqXsrqDiTet5jXV9er79XuvXpEtNxkIBYgCMCZACMH97S7%2BNXruKhC%2B1Akh0HNHCQEKA1zfSwtgj65q3SrT0pAfjs8z3OHPQXCDEZbxPSCwAKD8IRJp3PW2m4Z5oKNxTVdTqjkZUY2I5KPslCpjUyMbPmTe9lhl6zwDexBoHu9yFwBSvK2hJn1iS%2FuOVTqN6pZVxKxvBQFAocxoTq0w0smW3qef%2But%2FWVlBwR4GuhDgel7ajJmHNi7fttpzhTY2NY7DrZcQ102ZkosSL%2BDWxBnMaiP6%2Bpatqx99uHdotlIcltIMDQAyn74VSzvXelxov6azEshx%2F%2FtlXB0%2BhVc%2F%2B5GM1KGJrcRI9huEA605tXyt74m%2B%2BQgUqnXXRuvMyXwu%2FKM8CjzKXcFkcQIbcnvRkF%2BH4ewQRvMjsLIlRBMRkxKlW0rPhgAi1EYimC4rDcdzUJy1MFMuoCu2CztTR%2FCm0I9Xpdsw9Di4qIJx6L5LG%2BcjkHnDdV1UXBulygyqsGFGkuip2webTGOgfA4iZsOgsbmKUyI1c9MQUK06Gas63Qm1EtGkU6dxEJ%2FgeuE4fPloi6RRUx48kb3CULRtzrmbCVnByy47L8fzmUKiNoaoqUNNAFE9hv1t53Gw7YIMPTG3tkiDYWrIl2YsXvVfhoA1F5mMh1z7%2FD3zruJwJ7UkHm7Soio8m4UWzIO1mjoDJafsjP6YfCOkZq5%2BQavJ0XaW9NbWJE5u3NTWUd%2BQUF1HwBr1Qp%2B5jEFRCSbGLefFk09DhXzpWMSgA5T%2B3couHRj9WFRzY%2B%2BPdnY1dLS2L04kl0W0wJebsvnXj5PFwdfjg1WfnzZTUqzLy0f%2FikAxCIQHRV%2BPdnUldmsq2axGWX3gc8reT87FM%2FcLrsfTZDhaI8VKeBgLgP8Zic2EChs%2B08NeC2%2FgbwEGAP0cU3G1OW01AAAAAElFTkSuQmCC) no-repeat;
  border-color: #D5F8A7!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003163}}
.b-feedback .topic > .info .head.section-issues > .icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wIGA0aMwvQStsAAAGCSURBVDjLpZOxahtBEIa%2FvT2dfCOfg3SSBbJNXAkiFEgaVWpSX6%2FCD2CQCQTcuvJLJM%2BQLUXKdAGDXyNKYwIBE7PHWdrbNMHYkn3G9sA2%2F%2Bz888%2FPjPLe85IIqpJGZMeIjJ9FYETG8cbGr3aa%2FjAiB89RMH07HDIcDACmTyIwIoftVutgr9sl3dpir9cbG5GT%2B%2F6qVRONiFZKLT%2BMRrxKEgDyouD72RlL515PrP35mILT%2FW6XJAypzWbUZjPqZUl%2FdxfguHIEIzKoaX3S397GWXuDO2vZbzZp1OufjEhWpWDaT1N0UVDeIiithTznTaezZmhwq3smYfixF0U4a9cUOGtJlaITx5kROVwz0Yh8e58kWTuKKjfv73LJ%2BeUlHsKJtS74X3zc1jprOUeZ5zevOZ%2FTnM%2FvYI3Fgp0wBDgFUF%2FjOAqgGAUB8Uq3ztUVAL83N%2B%2FgC%2BC8LFlAGgLvGt5Tv76mXCG4eGAcDSRa80epkfLeY0Q%2BV63rA%2FFlYu2Reuk5%2FwMdP5B48pUMlAAAAABJRU5ErkJggg%3D%3D) no-repeat;
  border-color: #FDDBFF!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003167}}
.b-feedback .topic > .info .head.section-ideas > .icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wIGA0aEKm3O6kAAAHzSURBVDjLfZLPalNREIe%2FufemGmmwuGgIShYVJOJCIUtpoL6Aq6wk4i7QFxDahav2CbpwowitG1vQF2iaRLJwISpNskpiTCg3tJabkKK5t0nHRUibmD8%2FGBjOzHxz5swRVQWguG1gWYplyRNFX4iSQECVbRF51%2B1p6tyDB8%2F7%2BQMZV64isGGauh9cJLF0F5aWIBgkYVm6L8iGMK4hgMQNn7V25%2F4y848%2BQVQhqsw%2F%2FMjtyDKmz1xTiI8RVBVV5cdbyTjZkKpb0TG5FW1%2BDun3N2QG%2BQO7vIHnamwhFAHtTWjS42YwgnduxKaO8NcFroWhmgBn7yrD2UOqCbgexnUvpr%2BB55E9ts%2FANKC2Cl%2Blb%2FVVMAyOG3%2FwXMn%2BD7AGzrnHVunbl9itp6tYN35BxwYB5kJ0zTCl1Gs8V7emAoDdU%2Ftos5Ivrt17%2FAxUQfqLq%2BTec2rXN30%2BdmesERRdPzzYSZ8c1WEuCL5FTo7q5FM7aZB1Zv2DszZ4HdAemd%2FVIhgLYC5w%2FDNP94JMp6O02%2BOAyxE0%2BgFVRUTSeYdX3mGbWq1GLucHXqYHefGpgH4xQLrZbBIOhwFoNBqUy%2BX0UHwyoFwujwQKhQK2bVMqlRCRicUjgFarNRLw%2B%2F0EAgFEhGndRwCO4wyfrySTyQOAaDS6wgz9A%2FLs9DynlpleAAAAAElFTkSuQmCC) no-repeat;
  border-color: #FFE7B6!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003171}}
.b-feedback .topic > .info .head.section-thanks > .icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8%2F9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAh5JREFUeNqkkztvE0EUhe%2BdGc%2Bu8fqV2EmMiKEjMRIttKniFECNqBAhpIIfwK9AQoIiSohE44CwREMFFaJGIcaUgOMQ49hev9a7Xu8MsyYoGBGwlCmv5nzn3NEZlFLCSQ6BEx6Wzb%2F6yfGToHc4%2FnsqPy0h%2FDLX4tddt%2F3Oc60cG99LAALPxibPryfPzKbaZuNW5eu2S8YVg9SWohPzG4nT51IsQGEiOhkKMGOBHUUWx4ql4NlwbG4zNp1O%2BksyG6BaLn23%2B2aOHEa7imjcU6D46P4KKrRsyJjfCCfPJj2JgA5A5UupXqkWbyM4bxnK4I1g5OJjxkNGp%2FZpwZO7q4iwPwQJvsi1uc1gPD3lKWumeNVKqW62i8uEOi8BKDCExBU9lDA8lUWPXLjWM4ku8fNN5ZyhNPNEi6anXCUkfYD6QbnRsorLlNn5Xw1gQla3rOr%2BEovPRDzKgYUyi%2F0WyQMaKRqZnekrZ64uNhtl03YKK7%2BLhwBg3ReW%2FeEUP8BHGJ42XAwA6plLUu3hCvU6A4Buba%2Fpeh9XKO89B0lHi%2BQPiGY97Ts7nDTJQ6EngwOhLqFyVu52c68pQDlrvWcgyDFVHkI662KwfVd0a5Z6bF8PbvNbS8jCHapZWyDJf%2F6CD9E7a%2Bjt3MeeOZCdikmwsEr1Xu7P2KMrjJSdAtXbD8B5X8dAf5dy%2B42U%2Fy7rIQCPJqjCBqzXSDxznM%2F6Q4ABAHku4s6AxMKsAAAAAElFTkSuQmCC) no-repeat;
  border-color: #D1F3FF!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000339}}
.b-feedback .topic > .info .head .votes {
  float: left;
  text-align: center;
  width: 52px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000345}}
.b-feedback .topic > .info .head .votes center {
  font-size: 23px;
  line-height: 24px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000350}}
.b-feedback .topic > .info .head .votes span {
  font-weight: normal;
  color: #898989;
  font-size: 12px;
  line-height: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000357}}
.b-feedback .topic > .info .head .icon {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white!important;
  background-position: 50% 50%!important;
  background-repeat: no-repeat;
  border: 1px solid #FFE7B6;
  display: inline-block;
  float: right;
  height: 28px;
  text-indent: -5000px;
  vertical-align: middle;
  width: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000370}}
.b-feedback .topic > .info .head h1 {
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0 40px 0 60px;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000379}}
.b-feedback .topic > .info .content {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  word-wrap: break-word;
  color: #555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000385}}
.b-feedback .topic > .info .content p {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000389}}
.b-feedback .topic > .info .buttons {
  height: 31px;
  margin: 0 0 20px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000393}}
.b-feedback .topic > .info .buttons .edit {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\0000396}}
.b-feedback .topic > .info .buttons .edit .status {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003100}}
.b-feedback .topic > .info .buttons .add-vote {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAABXCAYAAAAj6%2BQnAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wIHQcONxhaLHMAAACDSURBVDjL7ZFLDkBAEER7ZFyAnZu4%2FyEsHMCGEJEwfmWrKxZGEAu9m5eqzqSfybocshsbh9H%2BLWZYnEoYAAoEQnMBWNopFpwQcEW4ciIB7394Lz2ocGK9YYdbnQbt3GlQjbUGaTPRTeNEy8bQ%2F7I%2FKBtjT6AltygLedzcL%2FsV2eJb2QACeKfgAT6O7wAAAABJRU5ErkJggg%3D%3D) repeat-x 0 -58px;
  border-color: #1AC131;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  float: left;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  height: 29px;
  margin-right: 20px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000369}}
.b-feedback .topic > .info .buttons .add-vote:hover {
  background-position: 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000372}}
.b-feedback .topic > .info .buttons .add-vote:active {
  background-position: 0 -58px;
  border-color: #C4C4C4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000376}}
.b-feedback .topic > .info .buttons .add-vote > .how-vote {
  border-right: 1px solid white;
  color: #111;
  cursor: inherit;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000388}}
.b-feedback .topic > .info .buttons .add-vote > .how-like {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAYAAADJ7fe0AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFHAsyIKFMivsAAADFSURBVCjPpZKxCsIwEIa%2FFhEKiiK4OgRFcHNxEuID%2BApZ%2BwjugpurIM55DBcDgouCT5DZqSAITkWXCg5tE%2B03XS4%2FH8dxAQ6UEWegAcy0tLe8TIibPjAEVkWB0DFFB4iy5%2BQvCbAE6lmd%2FCxRRvSB%2BKt1KcoGJZIDIB2TLrS060AZ8coady1tWxmxA0bA1GPpT6BZy%2FmI8WerpU1DqtHzvZMiUuBYVZIA%2B6qSCGgVSa6ekrmW9pQr0dKOgQGwAR4lku6neAOIlyd78ZFIPgAAAABJRU5ErkJggg%3D%3D) no-repeat;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  border-left: 1px solid #E8E8E8;
  cursor: inherit;
  float: left;
  height: 29px;
  width: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000398}}
.b-feedback .topic > .info .buttons .add-vote:active > .how-like {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAYAAADJ7fe0AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFHAs1AjttXdgAAAC7SURBVCjPpZIxCsJAEEVfgggBRRFsrSKCnY3FR9ADeI4cwV6wsxXEs9hYyNgoeAyrgCBYBW0iWCTZaF41O%2Ft5DMN4ODCzM9AAZpJuWRkfNyEwAFZ5Ad8xRQcI0uf4LwmwBOppHf8sMbMQiL5al7ysVyA5AFPHpAtJa8%2FMXmnjLqltZjtgCExKLP0JNGsZHxHl2UpKfKrRK3sneSTAsaokBvZVJQHQypNcS0rmkk6ZEkkjoA9sgEeBpPsp3t%2BJJ3seIcciAAAAAElFTkSuQmCC) no-repeat;
  background-position: 50% 45%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003102}}
.b-feedback .topic > .info .buttons .add-vote.disabled {
  cursor: default;
  background-position: 0 -58px !important;
  border-color: #C4C4C4!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003107}}
.b-feedback .topic > .info .buttons .add-vote.disabled > .how-vote {
  color: #AAA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003110}}
.b-feedback .topic > .info .buttons .add-vote.disabled > .how-like {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAYAAADJ7fe0AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFHAs1AjttXdgAAAC7SURBVCjPpZIxCsJAEEVfgggBRRFsrSKCnY3FR9ADeI4cwV6wsxXEs9hYyNgoeAyrgCBYBW0iWCTZaF41O%2Ft5DMN4ODCzM9AAZpJuWRkfNyEwAFZ5Ad8xRQcI0uf4LwmwBOppHf8sMbMQiL5al7ysVyA5AFPHpAtJa8%2FMXmnjLqltZjtgCExKLP0JNGsZHxHl2UpKfKrRK3sneSTAsaokBvZVJQHQypNcS0rmkk6ZEkkjoA9sgEeBpPsp3t%2BJJ3seIcciAAAAAElFTkSuQmCC) no-repeat;
  background-position: 50% 45%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003114}}
.b-feedback .topic > .info .buttons .add-vote.disabled > .txt {
  color: #AAA;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003118}}
.b-feedback .topic > .info .buttons .add-vote > .txt {
  color: black;
  cursor: inherit;
  float: left;
  line-height: 21px;
  margin-top: 4px;
  padding: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003103}}
.b-feedback .topic > .info .buttons .status {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  color: white;
  display: inline-block;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 16px;
  line-height: 16px;
  padding: 0 5px;
  float: right;
  margin: 7px 0 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003231}}
.b-feedback .topic > .info .buttons .status.editable {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003236}}
.b-feedback .topic > .info .buttons .status.known, .b-feedback .topic > .info .buttons .status.under_consideration {
  background-color: #FBA344;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003238}}
.b-feedback .topic > .info .buttons .status.known.editable:hover, .b-feedback .topic > .info .buttons .status.under_consideration.editable:hover {
  background-color: #f79429;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003241}}
.b-feedback .topic > .info .buttons .status.known.editable:active, .b-feedback .topic > .info .buttons .status.under_consideration.editable:active {
  background-color: #f9b264;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003247}}
.b-feedback .topic > .info .buttons .status.planned, .b-feedback .topic > .info .buttons .status.need_answer {
  background-color: #B0B5BF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003249}}
.b-feedback .topic > .info .buttons .status.planned.editable:hover, .b-feedback .topic > .info .buttons .status.need_answer.editable:hover {
  background-color: #a2a6af;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003252}}
.b-feedback .topic > .info .buttons .status.planned.editable:active, .b-feedback .topic > .info .buttons .status.need_answer.editable:active {
  background-color: #c3c5cb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003259}}
.b-feedback .topic > .info .buttons .status.in_progress, .b-feedback .topic > .info .buttons .status.solving, .b-feedback .topic > .info .buttons .status.not_a_problem {
  background-color: #6F7379;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003261}}
.b-feedback .topic > .info .buttons .status.in_progress.editable:hover, .b-feedback .topic > .info .buttons .status.solving.editable:hover, .b-feedback .topic > .info .buttons .status.not_a_problem.editable:hover {
  background-color: #5c5d5e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003264}}
.b-feedback .topic > .info .buttons .status.in_progress.editable:active, .b-feedback .topic > .info .buttons .status.solving.editable:active, .b-feedback .topic > .info .buttons .status.not_a_problem.editable:active {
  background-color: #898b8c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003271}}
.b-feedback .topic > .info .buttons .status.completed, .b-feedback .topic > .info .buttons .status.solved, .b-feedback .topic > .info .buttons .status.answered {
  background-color: #40BF00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003273}}
.b-feedback .topic > .info .buttons .status.completed.editable:hover, .b-feedback .topic > .info .buttons .status.solved.editable:hover, .b-feedback .topic > .info .buttons .status.answered.editable:hover {
  background-color: #3cad03;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003276}}
.b-feedback .topic > .info .buttons .status.completed.editable:active, .b-feedback .topic > .info .buttons .status.solved.editable:active, .b-feedback .topic > .info .buttons .status.answered.editable:active {
  background-color: #46cb03;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003281}}
.b-feedback .topic > .info .buttons .status.declined {
  background-color: #FF7272;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003283}}
.b-feedback .topic > .info .buttons .status.declined.editable:hover {
  background-color: #fc5656;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\00003286}}
.b-feedback .topic > .info .buttons .status.declined.editable:active {
  background-color: #fd9292;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003111}}
.b-feedback .topic > .comments-container .head {
  line-height: 26px;
  margin: 0 20px 12px;
  height: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000319}}
.b-feedback .topic > .comments-container .head .caption {
  color: #959595;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003114}}
.b-feedback .topic > .comments-container .head .to-add-comment {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(top, #f1f1f1, #d9d9d9);
  background: -moz-linear-gradient(top, #f1f1f1, #d9d9d9);
  background: -o-linear-gradient(top, #f1f1f1, #d9d9d9);
  background: linear-gradient(top, #f1f1f1, #d9d9d9);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  background-color: #f1f1f1;
  border: 1px solid #707070;
  color: #3C3C3C;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  min-width: 60px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  margin-top: -2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000348}}
.b-feedback .topic > .comments-container .head .to-add-comment:hover {
  border: 1px solid #C4C4C4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000351}}
.b-feedback .topic > .comments-container .head .to-add-comment:active {
  border: 1px solid #878787;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003118}}
.b-feedback .topic > .comments-container .head .caption {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003123}}
.b-feedback .topic > .official-answer {
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003126}}
.b-feedback .topic > .official-answer .title {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fafafa, #e1e1e1);
  background: -moz-linear-gradient(top, #fafafa, #e1e1e1);
  background: -o-linear-gradient(top, #fafafa, #e1e1e1);
  background: linear-gradient(top, #fafafa, #e1e1e1);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
  border: 2px solid #E1E1E1;
  color: black;
  font-size: 14px;
  font-weight: normal;
  height: 32px;
  line-height: 36px;
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003138}}
.b-feedback .topic > .official-answer .comment {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  background-color: #F9F9F9;
  border: 2px solid #E1E1E1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003145}}
.b-feedback .topic > .add-comment .head {
  line-height: 26px;
  margin: 0 20px 12px;
  height: 26px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000319}}
.b-feedback .topic > .add-comment .head .caption {
  color: #959595;
  font-size: 24px;
  font-weight: normal;
  line-height: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003149}}
.b-feedback .topic > .add-comment textarea {
  background: white;
  border: 1px solid #ddd;
  padding: 7px 1px 1px 3px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003155}}
.b-feedback .topic > .add-comment .post {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(top, #f1f1f1, #d9d9d9);
  background: -moz-linear-gradient(top, #f1f1f1, #d9d9d9);
  background: -o-linear-gradient(top, #f1f1f1, #d9d9d9);
  background: linear-gradient(top, #f1f1f1, #d9d9d9);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  background-color: #f1f1f1;
  border: 1px solid #707070;
  color: #3C3C3C;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  min-width: 60px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000348}}
.b-feedback .topic > .add-comment .post:hover {
  border: 1px solid #C4C4C4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback\.css\.scss}line{font-family:\0000351}}
.b-feedback .topic > .add-comment .post:active {
  border: 1px solid #878787;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003159}}
.b-feedback .topic > .add-comment .official-check {
  float: left;
  margin-top: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/b-feedback_topic\.css\.scss}line{font-family:\00003165}}
.b-feedback .topic > .please-login a {
  cursor: pointer;
}
