@charset "US-ASCII";
/*

  Author: ...
  Date: ...
  Description: Assist class for sliders (datepickers in particular); 

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000335}}
.g-slider {
  position: relative;
  padding: 0 !important;
  min-height: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000339}}
.g-slider > .slide-display {
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000344}}
.g-slider > .slide-display > .slide-line {
  position: absolute;
  width: 10000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000347}}
.g-slider > .slide-display > .slide-line > .item {
  float: left;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000353}}
.g-slider > .nav {
  display: block;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000316}}
.g-slider > .nav.prev {
  left: 0;
  background-position: -120px center;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000326}}
.g-slider > .nav.prev.enabled {
  background-position: 0 center;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000329}}
.g-slider > .nav.prev.enabled:hover {
  background-position: -40px center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000330}}
.g-slider > .nav.prev.enabled:active {
  background-position: -80px center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000316}}
.g-slider > .nav.next {
  right: 0;
  background-position: -280px center;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000326}}
.g-slider > .nav.next.enabled {
  background-position: -160px center;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000329}}
.g-slider > .nav.next.enabled:hover {
  background-position: -200px center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/sliders\/g-slider\.css\.scss}line{font-family:\0000330}}
.g-slider > .nav.next.enabled:active {
  background-position: -240px center;
}
