@charset "US-ASCII";
/*
Description: Search results block. It includes search conditions block with sorting buttons and tickets block.
*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000319}}
#b-trips {
  background-color: white;
  padding-bottom: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000322}}
#b-trips .more {
  padding: 0 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000325}}
#b-trips .search-message {
  color: #414141;
  font: italic 18px Georgia, "Nimbus Roman No9 L", serif;
  line-height: 18px;
  margin-top: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000333}}
.b-flights-search__conditions {
  min-height: 82px;
  background-color: #F8F7F3;
  padding: 0;
  /*top: -399px;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000340}}
.b-flights-search__conditions .search-conditions {
  background: #f8f7f3;
  color: #414141;
  font-family: "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  padding: 8px 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000351}}
.b-flights-search__conditions .search-conditions .from-city {
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000354}}
.b-flights-search__conditions .search-conditions span.accent {
  color: #67a015;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000360}}
.b-flights-search__conditions .search-filters {
  background: #f8f7f3;
  padding-bottom: 9px;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000370}}
.b-flights-search__conditions .search-filters .dropdown {
  display: inline-block;
  line-height: 24px;
  margin-left: 20px;
  position: relative;
  vertical-align: top;
  width: 140px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000378}}
.b-flights-search__conditions .search-filters .dropdown a span {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000381}}
.b-flights-search__conditions .search-filters .dropdown a span.title {
  color: #878787;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000384}}
.b-flights-search__conditions .search-filters .dropdown a span.value {
  color: #67a015;
  margin-top: 0px;
  line-height: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000393}}
.b-flights-search__conditions .search-filters .dropdown.open ul {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000398}}
.b-flights-search__conditions .search-filters .dropdown ul {
  position: absolute;
  display: none;
  top: 100%;
  z-index: 1000;
  left: 50%;
  margin-left: -81px;
  margin-top: 8px;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\0000399}}
.b-flights-search__conditions .search-filters .dropdown ul .arrow {
  position: absolute;
  width: 0;
  height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003104}}
.b-flights-search__conditions .search-filters .dropdown ul .arrow.outer {
  left: 50%;
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.2);
  margin-left: -6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003113}}
.b-flights-search__conditions .search-filters .dropdown ul .arrow.inner {
  left: 50%;
  top: -9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  margin-left: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003124}}
.b-flights-search__conditions .search-filters .dropdown ul li a {
  display: block;
  padding: 3px 8px;
  line-height: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003131}}
.b-flights-search__conditions .search-filters .dropdown ul li.disabled a {
  color: #bababa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003137}}
.b-flights-search__conditions .search-filters .dropdown ul li:hover {
  background-color: #76b718;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003141}}
.b-flights-search__conditions .search-filters .dropdown ul li:hover a {
  color: white;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003146}}
.b-flights-search__conditions .search-filters .dropdown ul li:hover.disabled {
  cursor: default;
  background-color: #bababa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003185}}
.b-flights-search__conditions .search-filters span.switcher {
  min-height: 20px;
  min-width: 34px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  background-color: #c7bf9f;
  box-shadow: inset 0px 1px #a79b68, inset 0px -1px white;
  margin-bottom: -6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003199}}
.b-flights-search__conditions .search-filters span.switcher.disabled {
  cursor: default;
  background-color: #ebe8dc;
  box-shadow: inset 0px 1px #a79b68, inset 0px -1px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003206}}
.b-flights-search__conditions .search-filters span.switcher span.point {
  background-color: #76b718;
  border-radius: 8px;
  box-shadow: inset 0px -1px #476f0f, inset 0px 1px #85ce1b, 0px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: block;
  height: 16px;
  position: absolute;
  width: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003215}}
.b-flights-search__conditions .search-filters span.switcher span.point.econom {
  top: 2px;
  left: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003219}}
.b-flights-search__conditions .search-filters span.switcher span.point.business {
  top: 2px;
  right: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003223}}
.b-flights-search__conditions .search-filters span.switcher span.point.disabled {
  background-color: #bababa;
  box-shadow: inset 0px -1px #5e5e5e, inset 0px 1px lightgrey, 0px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003231}}
.b-flights-search__conditions .search-filters a.switcher-label {
  color: #414141;
  cursor: pointer;
  line-height: 24px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003237}}
.b-flights-search__conditions .search-filters a.switcher-label.active {
  color: #67a015;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003240}}
.b-flights-search__conditions .search-filters a.switcher-label.disabled {
  cursor: default;
  color: #878787;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003243}}
.b-flights-search__conditions .search-filters a.switcher-label.disabled .number, .b-flights-search__conditions .search-filters a.switcher-label.disabled .count {
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003249}}
.b-flights-search__conditions .search-filters a.item-sort {
  cursor: pointer;
  margin-left: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003253}}
.b-flights-search__conditions .search-filters a.item-sort.disabled {
  cursor: default;
  color: #878787;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003257}}
.b-flights-search__conditions .search-filters a.item-sort.disabled i {
  color: #878787;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003262}}
.b-flights-search__conditions .search-filters a.item-sort i {
  color: #414141;
  font-size: 0.85em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003269}}
.b-flights-search__conditions .sort-by {
  display: inline-block;
  line-height: 42px;
  margin-left: 32px;
  vertical-align: middle;
  width: 70%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003276}}
.b-flights-search__conditions .sort-by .item-wrapper {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003279}}
.b-flights-search__conditions .sort-by .item-wrapper .item {
  background: none;
  border: medium none;
  color: #67a015;
  cursor: pointer;
  display: inline;
  line-height: 40px;
  margin: 0 16px;
  text-align: center;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003290}}
.b-flights-search__conditions .sort-by .item-wrapper .item .sort-order {
  display: inline-block;
  height: 10px;
  margin-left: 3px;
  width: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003296}}
.b-flights-search__conditions .sort-by .item-wrapper .item.asc .sort-order {
  background: url(/assets/blocks/b-flights-search/asc.png) center left no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003299}}
.b-flights-search__conditions .sort-by .item-wrapper .item.desc .sort-order {
  background: url(/assets/blocks/b-flights-search/desc.png) center left no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003309}}
.scrollcontainer .b-flights-search__conditions {
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 200;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003315}}
.b-flight-tickets {
  padding-top: 405px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003318}}
.b-flight-tickets .b-ticket {
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-flights-search\.css\.scss}line{font-family:\00003323}}
.b-flight-tickets-none {
  padding-bottom: 15px!important;
  padding-top: 105px!important;
}
