@charset "US-ASCII";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-progress-bar\.css\.scss}line{font-family:\000038}}
.b-progress-bar {
  position: absolute;
  display: none;
  z-index: 100;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-progress-bar\.css\.scss}line{font-family:\0000316}}
.b-progress-bar p.progress-bar-title {
  color: white;
  margin-bottom: 0;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition-property: text-shadow;
  -moz-transition-property: text-shadow;
  -o-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-progress-bar\.css\.scss}line{font-family:\0000325}}
.b-progress-bar p.progress-bar-title.glow, .b-progress-bar p.progress-bar-title .glow {
  text-shadow: 0px 0px 5px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-progress-bar\.css\.scss}line{font-family:\0000330}}
.b-progress-bar div.progress-bar {
  min-height: 4px;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  box-shadow: inset 0px 1px #212121, inset 0px -1px #949494;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-progress-bar\.css\.scss}line{font-family:\0000338}}
.b-progress-bar div.progress-bar span {
  position: relative;
  top: 1px;
  border-radius: 1px 0px 0px 1px;
  height: 2px;
  display: block;
  width: 0%;
  background-color: #878787;
  box-shadow: inset -3px 0px 1px white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-progress-bar\.css\.scss}line{font-family:\0000349}}
.b-progress-bar div.progress-bar span.valid {
  background-color: #76b718;
  box-shadow: inset -3px 0px 1px #eaf9d5, 0px 0px 3px #eaf9d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-progress-bar\.css\.scss}line{font-family:\0000354}}
.b-progress-bar div.progress-bar span.invalid {
  background-color: #ed8f00;
  box-shadow: inset -3px 0px 1px #fff8ed, 0px 0px 3px #fff8ed;
}
