@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\000038}}
.b-trips-graph {
  background: url(/assets/blocks/b-trips-graph/background_right.png) no-repeat;
  float: left;
  height: 300px;
  margin-bottom: 9px;
  width: 475px;
  margin-top: 105px;
  position: absolute;
  z-index: 10;
  margin-left: 463px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000319}}
.b-trips-graph:first-child {
  margin-left: -8px;
  background: url(/assets/blocks/b-trips-graph/background_left.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000323}}
.b-trips-graph:first-child .prices {
  left: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000326}}
.b-trips-graph:first-child .prices .price {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000330}}
.b-trips-graph:first-child .slide-display {
  margin: 0 23px 0 58px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000334}}
.b-trips-graph .nav {
  width: 36px;
  height: 36px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: 0 -1px #232323;
  -moz-box-shadow: 0 -1px #232323;
  box-shadow: 0 -1px #232323;
  behavior: url(/assets/polyfills/PIE.htc);
  -pie-poll: true;
  top: 9px;
  background: #76b718;
  opacity: 0.5;
  filter: alpha(opacity=50);
  top: 24px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003137}}
.b-trips-graph .nav > span.inner {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAABICAYAAACeNle5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAThJREFUeNrs2e0NwiAQBuDiBB3BERhBN%2BnGuglugDU2DSLUgzs4El8S0n%2FtkwbuA4z3fhppGIAAAujfQNMLRJ2Ed9l1Ov8e55J379%2BQAkUYXVACs5T%2BfTFQDqMCijAuxHQHJTCWs2FYIAqmG4iK6QIqwfQCkTG1oFNlgJ%2FXadVTx1HMGWVRH6K0tn0WpRkYkyjt1OFVU8eQyTVC3YYoPwLUHKGsKihCudqKEV0HQAABBBBAAAEEUD3Ibc%2BrMeZOaUhbdK7N%2B3wOqMlJSDWIcqTXHdSirWaDpNtqEZBkWy0GkmqrRUESp%2FrioAzKtj5jLBmPbbaN1MS%2FswfMERb1R%2FTW3vZfqUQzMLIuYqRTB%2FsihptcL9IXMZzyYwnijFj5wakYfRBnflaN1O8MV8Ki6wAIIIC0x1OAAQCbeLtTsh%2Fs8AAAAABJRU5ErkJggg%3D%3D) center top no-repeat;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003144}}
.b-trips-graph .nav.prev {
  left: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003146}}
.b-trips-graph .nav.prev > span.inner {
  background-position: center top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003150}}
.b-trips-graph .nav.next {
  right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003152}}
.b-trips-graph .nav.next > span.inner {
  background-position: center bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003156}}
.b-trips-graph .nav.enabled {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003158}}
.b-trips-graph .nav.enabled > span.inner {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003161}}
.b-trips-graph .nav.enabled:hover {
  background: #80c20a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003164}}
.b-trips-graph .nav.enabled:active {
  margin: 0 -1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000340}}
.b-trips-graph .headline {
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px;
  height: 35px;
  padding-top: 35px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000346}}
.b-trips-graph .headline .text {
  color: #b2b2b2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000349}}
.b-trips-graph .headline .months {
  color: white;
  -webkit-transition-property: text-shadow;
  -moz-transition-property: text-shadow;
  -o-transition-property: text-shadow;
  transition-property: text-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000355}}
.b-trips-graph .headline > .b-progress-bar {
  width: 300px;
  margin-left: -150px;
  display: block;
  top: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000361}}
.b-trips-graph .headline > .b-progress-bar .progress-bar {
  margin: 0 auto;
  width: 66%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000368}}
.b-trips-graph .prices {
  position: absolute;
  right: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000372}}
.b-trips-graph .prices .price {
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px;
  color: white;
  font-size: 10px;
  text-align: left;
  width: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000379}}
.b-trips-graph .prices .price.price-4 {
  top: -22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000382}}
.b-trips-graph .prices .price.price-3 {
  top: 44px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000385}}
.b-trips-graph .prices .price.price-2 {
  top: 109px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000388}}
.b-trips-graph .prices .price.price-1 {
  top: 174px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000394}}
.b-trips-graph > .g-slider {
  height: 280px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\0000397}}
.b-trips-graph > .g-slider > .slide-display {
  height: 225px;
  margin: 0 58px 0 23px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003101}}
.b-trips-graph > .g-slider .item {
  height: 224px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003105}}
.b-trips-graph > .g-slider .item > .bars {
  bottom: 33px;
  height: 161px;
  position: absolute;
  left: 1px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003112}}
.b-trips-graph > .g-slider .item > .bars .wrapper {
  float: left;
  width: 26px;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003117}}
.b-trips-graph > .g-slider .item > .bars .bar {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: opacity,height,background;
  -moz-transition-property: opacity,height,background;
  -o-transition-property: opacity,height,background;
  transition-property: opacity,height,background;
  background: white;
  bottom: 0;
  cursor: pointer;
  height: 0%;
  margin: 0 8px;
  position: absolute;
  width: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003130}}
.b-trips-graph > .g-slider .item > .bars .bar:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px, rgba(0, 0, 0, 0.1) 1px 0px 0px 0px, rgba(0, 0, 0, 0.1) -1px 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px, rgba(0, 0, 0, 0.1) 1px 0px 0px 0px, rgba(0, 0, 0, 0.1) -1px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px, rgba(0, 0, 0, 0.1) 1px 0px 0px 0px, rgba(0, 0, 0, 0.1) -1px 0px 0px 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003136}}
.b-trips-graph > .g-slider .item > .bars .bar.active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px 0px, rgba(0, 0, 0, 0.2) 1px 0px 0px 0px, rgba(0, 0, 0, 0.2) -1px 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px 0px, rgba(0, 0, 0, 0.2) 1px 0px 0px 0px, rgba(0, 0, 0, 0.2) -1px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px 0px, rgba(0, 0, 0, 0.2) 1px 0px 0px 0px, rgba(0, 0, 0, 0.2) -1px 0px 0px 0px;
  opacity: 1;
  filter: alpha(opacity=100);
  background: #ed8f00;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003146}}
.b-trips-graph > .g-slider .item > .months, .b-trips-graph > .g-slider .item > .dates {
  bottom: 13px;
  position: absolute;
  left: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003151}}
.b-trips-graph > .g-slider .item > .months > .date, .b-trips-graph > .g-slider .item > .months > .month, .b-trips-graph > .g-slider .item > .dates > .date, .b-trips-graph > .g-slider .item > .dates > .month {
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px;
  color: rgba(255, 255, 255, 0.6);
  float: left;
  font-size: 8px;
  text-align: center;
  width: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003159}}
.b-trips-graph > .g-slider .item > .months > .date.active, .b-trips-graph > .g-slider .item > .months > .month.active, .b-trips-graph > .g-slider .item > .dates > .date.active, .b-trips-graph > .g-slider .item > .dates > .month.active {
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003165}}
.b-trips-graph > .g-slider .item > .months {
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003168}}
.b-trips-graph > .g-slider .item > .months > .month {
  font-size: 9px;
  margin-left: 26px;
  width: 78px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/datepicker\/b-trips-graph\.css\.scss}line{font-family:\00003173}}
.b-trips-graph > .g-slider .item > .months > .month:first-child {
  margin-left: 0;
}
