@charset "US-ASCII";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/profile\/b-profile_table\.css\.scss}line{font-family:\000036}}
.b-profile-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 928px;
  text-align: center;
  vertical-align: middle;
  font-size: 13px;
  border-bottom: 1px solid white;
  border-top: 1px solid rgba(99, 99, 99, 0.3);
  padding: 0;
  margin: 27px 0 27px 0;
  min-height: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/profile\/b-profile_table\.css\.scss}line{font-family:\0000321}}
.b-profile-table th {
  font-weight: bold;
  height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/profile\/b-profile_table\.css\.scss}line{font-family:\0000326}}
.b-profile-table th, .b-profile-table td {
  border-bottom: 1px solid rgba(99, 99, 99, 0.3);
  border-left: none;
  border-right: 1px dashed rgba(99, 99, 99, 0.3);
  border-top: 1px solid white;
  padding: 9px 5px;
  text-align: center;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/profile\/b-profile_table\.css\.scss}line{font-family:\0000335}}
.b-profile-table th:last-child, .b-profile-table td:last-child {
  border-right: none;
}
