@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000312}}
.b-pin .holder {
  float: right;
  width: 250px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000317}}
.b-pin .holder .holder-image {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAZCAYAAAArK%2B5dAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wGDQUcADS%2BxD8AAAUZSURBVEjHtZbLbxtVFMZ%2FnhmPx2MnM06d2E4XCa2VEqtpiaFEkZC6YhWJ0i1skLxpUTcsYME%2FgNQViEUlShBiQzfdVEKURVBViUgWat0maZsofahJk%2BbhhNjx2DPjebDoeEhLaAUSV7rS6N4733e%2Bc%2B4558L%2FPCKvOlAqlXqBd4FxQA6WF4CfJicnF%2F4zQalUehs4q6rqR%2Fl8nqGhIVRVxXEcVlZWuHPnDtVq9RZwYXJy8pt%2FRVAqlc6rqvppsVikWCzS09NDKpUikUhgWRatVgvDMHj06BFTU1MsLy9fAL7aT5G4D%2FjXuVzuk5MnT5JOp5EkiVgshqIoxGIxHMfBNE1M00QQBAYHBxFF8cTq6uq50dHRnyuVyspePOEF8C%2Fy%2Bfy5iYkJZFkOwSzLwnVdADzPw3EcbNsOZz6f58SJEwBn%2F1FBqVR6J51Of3fmzBlkWcZ1XUzTxPM8otEoyWQydFGj0aDRaNBsNrEsC8dx6O7uxjTNNwYHB%2BVKpfLrfgrOnj59mkwmQzabpb%2B%2FH13XcRwHwzCwLAsgVNVsNjFNk3a7jed5CIJAsVgkGo1%2BfurUKe05glKpdFDX9Q%2BKxSIAqqrS39%2FPoUOHSKVSNJtNGo0GAKZphtbbtg2ALMuoqkoqlaJQKJBMJj%2FuYHcUTBQKhdC3juMQiUTo7e1lZGQETdOoVqsA1Ot1dnZ2sG0bWZbp6upC07RwFgoFRFF8D1AApIBgJJ1O02q1iEQiCIKAIAhIkoQsy4yNjVEulwF48uQJAL29vSQSCWKxGJIkIYoioih2%2Fn0N6AasDkGPJEmhG%2FYbuVyOVqvF%2BPj4SzM3kUggCMIBQAdqHYJWo9Fgd3cXz%2FPwPA%2FXdWm32%2BGtsSyLiYkJLl%2B%2BzNjYGJlMBkVREMW%2FUsn3fVqtFr7v20AXEOsQLKyvrzMwMIDrujiOE4Lbto3v%2Bxw9ejS0sFwuMzAwQDabRdM0FEVBlmUEQWBjYwPbtteCGEidIF9dWlrCMAwMw6DRaGAYBqZp4vs%2B2WyWvr4%2BADKZDJ7n8fjxYx48eMDS0hLr6%2Btsb2%2Bzu7vL7du3qdVqs0GORUSASqWyMTw8%2FH5fX19WEAQcx8FxHARBQNM0crkc6XQaIDSik2Ttdjs87zgOV65c4fr1699ub2%2BvAht7E%2B3CzMwM7XYb13URBIFEIoGu63R3dyNJz7wZj8fp6uoiFovRbrep1WpsbW2xtbXF9PQ0CwsL1%2B7fv%2F8YsAE3jFClUrkxNDSUi0ajb%2FX09KAoCpqmkUqlQj97nhcWur3Wu65LrVZjenqamzdvXtzc3HwKbADV54qd7%2Ftfzs%2FPs7a2hqqqJBIJVFVFlmUikWeVXZIkFEUhHo8Ti8WIRCLU63XK5TKLi4vf37179wFgADXAfq5c37p1q3rkyJGplZUVzff9wuHDh9F1nXg8jiiKuK6LZVmh9bZts7y8zNzcHIuLiz9MTU1dBZrAU2ANMP%2FWD%2Bbm5pZnZmZ%2B0TTtwL179940DCPMaFmWqdfrYUe7ceMGs7Oz1yqVysVyufw7YAWueRIo8P6pZYqAnsvlXj927NiHuq6PK4oyIElSyvO8pmVZT3d2dm7Pz8%2F%2F9vDhw6eAF1heBZaBzYDspU1fDOpJBugrDA%2BPHD9%2B%2FLMfL106D2wBPuAEt6UDvg78Eaz5e4vdfsMNZFrAzsH%2Bfr0nlWoDOwGQF%2Bw1gnO1gMjZCyK94tXRkW6Njo6uJpNJG3gI3A%2F2Owrs4Nt%2FEeBPCXN9KYUw2l4AAAAASUVORK5CYII%3D) no-repeat;
  height: 25px;
  margin: 0 auto;
  width: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000324}}
.b-pin .rope {
  margin-top: 25px;
  position: absolute;
  right: 32px;
  width: 250px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000331}}
.b-pin .rope .rope-image {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAADCAYAAACJZs%2BgAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wGDQUaJrDp5kQAAAAhSURBVBjTY2AgEvR2d%2Bv2dHVdZmBg0GAgATAx0BjQ3AIAQmAEcPGKlc8AAAAASUVORK5CYII%3D) repeat-y;
  height: 700px;
  /* фейковая высота - заглушка, пока скриптом на странице не будет выставлена корректная */
  margin: 0 auto;
  width: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000338}}
.b-pin .border-clear {
  clear: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000341}}
.b-pin .pin {
  display: inline-block;
  float: right;
  position: relative;
  width: 250px;
  margin-right: -263px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000348}}
.b-pin .pin .slot {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAYAAACXtf2DAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wGDQUcE7AAheEAAAHvSURBVDjL7ZRBi1JRFMfP9WmgPRnw8noPFTE0axzkwRUXYdCjcghSAhfuWt0WfZaZ5iOcTQzuWrjpC8wM6WJ8hDwaKXyWAzKJTPgWvesi27SImMn7htr1X97LOT%2FO%2BZ9zACS1t7tbermzMwCAOxBAIfjH%2Bg%2F4u4DVaqUEBawN4JznGWOPhBCP4%2FH4vZCiRCzLMhhjYNv22bp4sib5tmmaT2u12kNCSObo4CC6VSp91zTt1HGc406n8woA%2Boj4OXAFnPMHjUbjRb1ef6aqqrZcLiNj1wXdMEgqldrIZDKbxWJxq9frnTDGPti2vZL2gHN%2BK5fLPalWqw1CyKU%2BpdPpUqvVeg4AVlCTy81ms64oyrV1PS6Xy9uUUotzHpUCcM7DsVjstqZpeakxDIUilUolDwA3ZStQdV1X%2F9Sa35VIJBIAsCELEIvFwg8y677v%2BwAgpACI%2BG0%2Bn3%2FyPO9MFjAcDscAcBrE5P5gMHgrk3w2m310HKeLiF8u%2Bg9f9IiIfQDYz2azhWQyWbwsuRDCa7fbrwGgH3jRGGN%2Bt9s9oZSqhmFkhRDK2HXhhq4DpRQmk8k7RNyfTqdvENG%2B6qkIA8B9SqlVKBQ2l75%2Fd35%2BbhNC3ruue%2FjzTEyufIt%2BAUUBwPA8Tx%2BNRtdN0zxGxK8ysT8AgTGpaMw4jKQAAAAASUVORK5CYII%3D) no-repeat;
  height: 20px;
  position: absolute;
  right: 108px;
  width: 24px;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000356}}
.b-pin .pin img {
  background-color: white;
  border: 1px solid #A2A2A2;
  display: block;
  margin: 0 auto 30px auto;
  padding: 5px;
  width: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000366}}
.b-pin .pin img.rotated_1 {
  -webkit-transform: rotate(0.8deg);
  -moz-transform: rotate(0.8deg);
  -ms-transform: rotate(0.8deg);
  -o-transform: rotate(0.8deg);
  transform: rotate(0.8deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000369}}
.b-pin .pin img.rotated_2 {
  -webkit-transform: rotate(0.5deg);
  -moz-transform: rotate(0.5deg);
  -ms-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
  transform: rotate(0.5deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/place_descriptions\/b-pin\.css\.scss}line{font-family:\0000374}}
.b-pin .content {
  max-width: 628px;
}
