@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
/* блок справки */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000311}}
.b-help {
  margin-left: 13px;
  margin-bottom: -20px !important;
  /* хлебные крошки */
  /* кастомизация слайдера */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000316}}
.b-help .b-breadcrumbs {
  margin-left: 20px;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000322}}
.b-help .slide-display {
  margin: 0 30px!important;
  width: 840px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000326}}
.b-help .slide-display > .slide-line {
  position: inherit!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000329}}
.b-help .slide-display > .slide-line > .item {
  width: 840px;
  margin: 0 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000335}}
.b-help .navigation {
  width: 36px;
  height: 36px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: 0 1px #232323;
  -moz-box-shadow: 0 1px #232323;
  box-shadow: 0 1px #232323;
  behavior: url(/assets/polyfills/PIE.htc);
  -pie-poll: true;
  top: 9px;
  background: #76b718;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  top: 170px;
  z-index: 10;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003137}}
.b-help .navigation > span.inner {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAABICAYAAACeNle5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAThJREFUeNrs2e0NwiAQBuDiBB3BERhBN%2BnGuglugDU2DSLUgzs4El8S0n%2FtkwbuA4z3fhppGIAAAujfQNMLRJ2Ed9l1Ov8e55J379%2BQAkUYXVACs5T%2BfTFQDqMCijAuxHQHJTCWs2FYIAqmG4iK6QIqwfQCkTG1oFNlgJ%2FXadVTx1HMGWVRH6K0tn0WpRkYkyjt1OFVU8eQyTVC3YYoPwLUHKGsKihCudqKEV0HQAABBBBAAAEEUD3Ibc%2BrMeZOaUhbdK7N%2B3wOqMlJSDWIcqTXHdSirWaDpNtqEZBkWy0GkmqrRUESp%2FrioAzKtj5jLBmPbbaN1MS%2FswfMERb1R%2FTW3vZfqUQzMLIuYqRTB%2FsihptcL9IXMZzyYwnijFj5wakYfRBnflaN1O8MV8Ki6wAIIIC0x1OAAQCbeLtTsh%2Fs8AAAAABJRU5ErkJggg%3D%3D) center top no-repeat;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003144}}
.b-help .navigation.prev {
  left: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003146}}
.b-help .navigation.prev > span.inner {
  background-position: center top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003150}}
.b-help .navigation.next {
  right: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003152}}
.b-help .navigation.next > span.inner {
  background-position: center bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003156}}
.b-help .navigation.enabled {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003158}}
.b-help .navigation.enabled > span.inner {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003161}}
.b-help .navigation.enabled:hover {
  background: #80c20a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003164}}
.b-help .navigation.enabled:active {
  margin: 0 -1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000341}}
.b-help .navigation.prev {
  left: -17px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000344}}
.b-help .navigation.next {
  right: -35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000349}}
.b-help .item .subslide-block {
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  cursor: default;
  margin-bottom: 15px;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000356}}
.b-help .item .subslide-block.current {
  background-color: #e2e2e2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000359}}
.b-help .item .subslide-block:first-child {
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000362}}
.b-help .item .subslide-block p {
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000365}}
.b-help .item .subslide-block p:first-child {
  margin-top: 0!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000368}}
.b-help .item .subslide-block p:last-child {
  margin-bottom: 0!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000373}}
.b-help .item .image-frame {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAX0AAAE6CAYAAAD6JIKFAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89%2BbN%2FrXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz%2FSMBAPh%2BPDwrIsAHvgABeNMLCADATZvAMByH%2Fw%2FqQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf%2BbTAICd%2BJl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA%2Fg88wAAKCRFRHgg%2FP9eM4Ors7ONo62Dl8t6r8G%2FyJiYuP%2B5c%2BrcEAAAOF0ftH%2BLC%2BzGoA7BoBt%2FqIl7gRoXgugdfeLZrIPQLUAoOnaV%2FNw%2BH48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl%2FAV%2F1s%2BX48%2FPf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H%2FLcL%2F%2Fwd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s%2BwM%2B3zUAsGo%2BAXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93%2F%2B8%2F%2FUegJQCAZkmScQAAXkQkLlTKsz%2FHCAAARKCBKrBBG%2FTBGCzABhzBBdzBC%2FxgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD%2FphCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8%2BQ8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8%2BxdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR%2BcQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI%2BksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG%2BQh8lsKnWJAcaT4U%2BIoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr%2Bh0uhHdlR5Ol9BX0svpR%2BiX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK%2BYTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI%2BpXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q%2FpH5Z%2FYkGWcNMw09DpFGgsV%2FjvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY%2FR27iz2qqaE5QzNKM1ezUvOUZj8H45hx%2BJx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4%2FOBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up%2B6Ynr5egJ5Mb6feeb3n%2Bhx9L%2F1U%2FW36p%2FVHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm%2Beb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw%2B6TvZN9un2N%2FT0HDYfZDqsdWh1%2Bc7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc%2BLpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26%2FuNu5p7ofcn8w0nymeWTNz0MPIQ%2BBR5dE%2FC5%2BVMGvfrH5PQ0%2BBZ7XnIy9jL5FXrdewt6V3qvdh7xc%2B9j5yn%2BM%2B4zw33jLeWV%2FMN8C3yLfLT8Nvnl%2BF30N%2FI%2F9k%2F3r%2F0QCngCUBZwOJgUGBWwL7%2BHp8Ib%2BOPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo%2Bqi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt%2F87fOH4p3iC%2BN7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi%2FRNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z%2Bpn5mZ2y6xlhbL%2BxW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a%2FzYnKOZarnivN7cyzytuQN5zvn%2F%2FtEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1%2B1dT1gvWd%2B1YfqGnRs%2BFYmKrhTbF5cVf9go3HjlG4dvyr%2BZ3JS0qavEuWTPZtJm6ebeLZ5bDpaql%2BaXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO%2FPLi8ZafJzs07P1SkVPRU%2BlQ27tLdtWHX%2BG7R7ht7vPY07NXbW7z3%2FT7JvttVAVVN1WbVZftJ%2B7P3P66Jqun4lvttXa1ObXHtxwPSA%2F0HIw6217nU1R3SPVRSj9Yr60cOxx%2B%2B%2Fp3vdy0NNg1VjZzG4iNwRHnk6fcJ3%2FceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w%2B0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb%2B%2B6EHTh0kX%2Fi%2Bc7vDvOXPK4dPKy2%2BUTV7hXmq86X23qdOo8%2FpPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb%2F1tWeOT3dvfN6b%2FfF9%2FXfFt1%2Bcif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v%2B3Njv3H9qwHeg89HcR%2FcGhYPP%2FpH1jw9DBY%2BZj8uGDYbrnjg%2BOTniP3L96fynQ89kzyaeF%2F6i%2FsuuFxYvfvjV69fO0ZjRoZfyl5O%2FbXyl%2FerA6xmv28bCxh6%2ByXgzMV70VvvtwXfcdx3vo98PT%2BR8IH8o%2F2j5sfVT0Kf7kxmTk%2F8EA5jz%2FGMzLdsAAAAGYktHRAB2ALgAGrn%2B%2BMIAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcBgYOLgF1ncg4AAANo0lEQVR42u3dv28cZ3rA8Xd%2B7C6X5JKiRFHxbYScgHNhGLaKxF3KAG5SuTGQilUq%2FwNGihSp8i%2BkUhVAnSAYBgx1btQECODGNi6wcZDWPkk0SUn8tTuzOylOUiSdpOXqLjhpns%2BnsUEttcuX5HfefXY0mzVNk15lOBz%2BXUrp3QTA2%2By3o9Hov8pT3PDd0Wj0n9YL4O01HA7%2FaTgcPhv94XBoZQBaajQapdwyAMTxsvHO2ZTSb1JKGymlDy0TQLuj%2F5sbN278%2B4ULF%2F7m2rVrq5YJoN3RX9vc3Hzn3Llzl86dO2eVAFrCTB9A9FNRFEXX8gDEiH5eFEVpeQBiRB8A0QfgbfZkhPPcNXb%2BdjabrVsegBZGfzgcnv%2Fss8%2F%2B8fPPP%2F%2FXlFL66quvUr%2FftzoALWO8AxAw%2BtW9e%2FeOLAdAwJ3%2BdDpNRVFYHYCWRr%2Bp63r2%2BINN06Qsy6wOQEujX%2B3s7IwtB0CM6AMQKPrT%2Ff39yeMP1nWdytJVGADaGv3ZwcFB%2FfiDZvoA7Y4%2BAIGiX9%2B%2BffvEcgAEiP5oNGrG4%2FEsJfN8gAg7%2FZRSapqmmZnnA8SIfj2dTo14AIJEH4CWe3p4P5vNZvV0OjXTBwiw05%2FWdT2xJAAxog9AoOhXVVW56BpAkOg3TdPMqqpKnU7HygBEiL4lAYgR%2FbqqKufpAwSJPgCBoj%2BbTqe1mT5AjOg7Tx8gUPQBCBT9ejKZeCEXIEj0nacPECj6AASK%2FuT4%2BPjYkgDY6QPQsujPptNp7T1yAWJEfzoej52nDxAk%2BgBE2ulXVTVpmiZlWWZlAFoe%2FVlVVWb6AEGiD0Cg6FdHR0dHlgQg0E7fTB8gRvSb6XQ6M9MHiBH96uDgYGxJAGJEH4BA0Z8eHx9PZrNZynPHAoC2R39WVVUt%2BgAxog9AoOhXe3t7ztMHiLTTN94BiBH9pqqq2XQ6TUVRWBmAlke%2F3t%2FfP7EkADGiD0Cg6E8fPnzoPH2AKNE%2FPDycmukDxIg%2BAIGiX9%2B5c8cLuQBBot9UVTUz0wcIEv3JZCL6AC325N1SRqNRPRwOjXcAguz0AQgW%2FVlVVVOnbALEiP60qqraTB8gRvQBCBT9uq7riWUBiBH9pqqqxkwfIEb002w2a8z0AWJEf1JVlfEOQJSdPgBxoj%2BbTCYzM32AGNF3nj5AoOgDECj69WQy8UIuQJDoN1VVebtEgCDRT03TpCzLrAxAgOhXxjsAgXb6AMSJ%2FnQ8Hs%2FKsrQyABGiX1XV1EwfIEb0AYi006%2FrurYsADGin5dl2VgWgBjRT5mBPkCY6Nfj8dh5%2BgBRdvoAxIl%2BvrS0ZLwDECT607qup5YFIEb0AYi006%2Bqynn6AEGin%2Ff7fbt%2FgCDRByBQ9KvJZFJZFgA7fQBaFv1yeXnZxfQBgkS%2FdpVNgDjRByBQ9GfO0weIE%2F18ZWXFTB8gSPQBCBT9aVVVLrgGECT6s6ZpvF0iQJDod1ZXVzuWBSBG9KvpdOrsHYAg0QdA9AFoY%2FRdTx%2FATh%2BAVkY%2FyzKnbAIEiX6W53lmWQBiRL9cWVlxnj5AkOinPM9nlgUgSPQBiBP9rCgKqwIQJPrl8vKymT5AkOgDECn6ztMHiBP9vNvt2v0DBIl%2B0e12zfQBgkTfeAcgUvQBiBP9vCxLBwKAINEve71eaVkAYkQfgEjR90IuQJzo52VZuvgOQJDoF91u10wfIEj0U0rJeAcgUPQBCBL9vNPpmOkDBIl%2B0el0zPQBgkQfANEHoI3RLzqdjksrAwSJfl54Z3SAMNF3GQaASNEHIE70zfQBIkU%2Fz3MzfYAg0QdA9AFoY%2FTN9AECRT%2FP89y1dwCCRB8A0QegjdEviqIw0wcIEn0zfYBA0QdA9AFoVfSHw2F58eLFJUsCEGOnn3W7XTt%2FgCDRB0D0AWhj9MutrS0zfYAg0TfTBwgUfQBEH4A2Rr%2BzubnZsyQAMaKflWVp5w8QJPoAiD4AbYx%2B5%2Fz588uWBMBOHwDRB0D0AXjjo9%2FZ2Ngw0wew0wdA9AEQfQDe%2FOh31tbWzPQB7PQBEH0ARB%2BANz%2F63fX19b4lAbDTB0D0AXhbo59lWeYgABAk%2BmW%2F31%2ByJAAxog%2BA6APQxuhnRVE4CAAEiX7Z6%2FXM9AGCRB8A0QegjdE30wcIFH0zfYBA0QdA9AFoY%2FRdewcgUPQ7S0tLPUsCECP6AIg%2BAG2Mfl4URWlJAGJEvyjLsmtJAGJEHwDRB6CN0TfTBwgUfTN9gEDRB0D0AWhj9PM8z830AYJE30wfIFD0ARB9ANoY%2FaIoCuMdgEDRLywJQIzoAyD6ALQx%2Bk7ZBAgUff84CyBQ9AEQfQDaGP0iz3MzfYAg0TfTBwgUfQBEH4BWRX84HBZbW1vm%2BQBBdvr5YDAwzwcIEn0ARB%2BANka%2F3NraWrIcADGin3W7Xbt%2BgCDRB0D0AWhj9Dubm5s9ywEQI%2FpZWZZ2%2FQBBog%2BA6APQxuiXZ86ccZ4%2BQJDoZ51Ox64fIEj0ARB9ANoY%2FXIwGJjpAwSJvvP0AQJFHwDRB6CN0e%2Bsra0tWw4AO30ARB8A0QfgjY9%2Bd319vW85AOz0AWhJ70UfIIZM9AEibvdTSp3l5WXn6QO0V2mnDxB0pw9Auz0z08%2BKonAAAGj5Jv%2FJ9fR7vZ7r6QNEKD8AsXb6AASKvpk%2BQJTyJzN9gFA7fQDazWUYAKJGP8uyzAEAoL2eGe90lpaWetYEIED5AYi10wcgUPTN9AGilD%2BlVHa7XefpA7RX8XT0AQi00wcgUPTzoihKywHQWs%2B8XWJRlmXXmgDE2OkD0G6uvQMQbZP%2FZKaf57mZPkCE8iczfYBQO30ARB%2BA1pU%2FmekDtN0zl2Eoy7LsWBOAGDt9ANrNefoA0Tb5ZvoA0cqfnKcPEGqnD4DoA9C68qeUijzPjXcAguz0vZAL0G5O2QQQfQDa6A%2BXYRgOh8XW1pZ5PkAAeUopHwwG5vkA7Wa8AxBsky%2F6ANHKX2xsbJjpA7TY6upqZzgclnlKKV9ZWTHTB2ixoiiylFJmvAMQiOgDBDAYDHoppU6eUupsbm72LAlA%2B5Uppawsy5fu%2BC9dupSuXbtmpQDeYJPJJH333Xfpww8%2FfOGfnz179pfbt28Xc1%2FAvXz5crp8%2BbIVBXiDHR8fp%2FX19fTxxx%2B%2F8M%2B%2F%2FvrrO998801hpg%2FQAk3TpCzL5t4uTymVZ86cWbJkAG%2Bvuq5TWb58eDMYDLoppaJMKe1%2F%2BeWXt8bj8b88f6P333%2F%2FVwcHB%2B9evnz573u93vJp7rjX66V%2Bv7%2FQg82yLK2vry%2F8Ra6srKROp%2BO7DYR3fHx8f3t7%2Bz%2Bm0%2Bl%2Fv%2BQmvx2NRr9kTdOk4XBYppTWXnRwSCn9wxdffPFvGxsb75zmjsfjcTo%2BPl74acn9%2B%2FcX%2FiIPDw9TVVULfU63203Ly8sL39eZM2cW%2Fpx%2Bv596vcVOjCrLMq2uri58X2traynPTesgqt3d3dEHH3zwz6PR6Ms7d%2B6kjz76KE2n0z9uTEopjUajOqW0OxwO%2F%2BjvSSn9dOnSpfp1ovcmmkwm6ejoaOHP29%2Fff50j78KfV9d1Ojg4WPi%2BHjx4kGaz2UKfs7S0lJaWFpvsFUWRBoPBwo9vMBikoij%2B3x%2Ff6z5rhLddlmV1SmmWUkqdTueFwX8S%2FTmqyWRy1JaF6Xa7qdtd%2FFJDbTnoPe3k5CSdnJws9DnT6TQ9fPhw4ft6%2BPDhS38I%2F5yP73WfNT49KqzrenJ0dHQ4535mVVUdbGxsdOY8Gz1IKTVPf%2BzixYuD5zYik6ZpXrk4GxsbS8vLy505v%2FRNlmXNU880e2fPnt2QwxiqqjpJKdWPNz8vnSZYqrheZyedUkrnzp077QFisr%2B%2FP3q803%2BZn3%2F%2B%2BccXfXx1dfXJqGs0Gt0ej8eTV93fjz%2F%2BeO%2Fu3buvfJr0%2Ffff37958%2Bbui5YjPXpnoUe%2FOPOebs1SSscppXkvYL3oCPT8KPUopTTviFi8xre4k%2F4wol3Ip59%2BerHf7y%2FUhl%2F%2F%2BtdnL1y4sNBTrF6v1x0Oh3%2B96OPb2toaFkWx0M5teXl5vd%2Fvnw10APiTot80TTNL%2FMU0TTPb3d393bzb3bt371Zd1%2FWrbnP37t3fHxwcvPKZ208%2F%2FbR369atV86lRqPRwY0bN%2B7N6%2F5Love83VPc5sEpwniQUprMuc3x9vb28aMDQLp586YfsOdcvXr1TFr8Ei39UxwAX3QgW3uNh7j%2BGgfBhR%2Ff2tpa%2Bcknn1xc9MG99957f7W2trbQfQ0Gg9Xz589vLXpf77zzzqXH%2F7%2Bzs%2FPzo9%2BTVzpN9OvJZHLSlh%2Fovb29383mDL%2F39vZ%2BOjk5Gb%2ByUru7O%2Fv7%2Bw%2FmRPjhDz%2F8sDPn7zm5fv36z%2FO6n1LaO8WXt%2F9oBzovjPNe%2FT5KKc37nk%2B2t7cPHh0A0o0bN96an4ErV648ffBS%2BRf%2FHKWUUnrB63xhPHjwIL9y5crrzHVXU0qLzpC7KaWV17ivp5%2B97KWU%2FueXX35JOzs7f%2F7xzv3790d1XU%2FmLNrdw8PDwzm32d%2FZ2dmdc5vjb7%2F99vev3L4dH9dXr169dZrup%2BdmrC%2Fw8JRhHM%2B5zcmj273yoLq9vf3g0QEgXb9%2BXTx5YwT%2Fvs4ePwtd8OC3%2B5d80C%2B7DMNjWdP8X%2F9e8oX9KqX07qP%2FPtP9UzzdPjxlGOed4zlJp5ixbm9v7z86AKSrV6%2F6jQV4zv8CoGOJWalRKboAAAAASUVORK5CYII%3D) no-repeat;
  float: right;
  height: 314px;
  margin: -25px 0 25px 20px;
  width: 381px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000379}}
.b-help .item .image-frame img {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  margin: 6px 0 0 14px;
  position: absolute;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000387}}
.b-help .item .image-frame img.active {
  z-index: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000393}}
.b-help .item .content {
  width: 450px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\0000397}}
.b-help .spots {
  float: right;
  right: 50%;
  position: relative;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003120}}
.b-help .spots > div {
  float: right;
  right: -50%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\00003101}}
.b-help .spots .spot {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAABmCAYAAAAAuFU5AAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89%2BbN%2FrXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz%2FSMBAPh%2BPDwrIsAHvgABeNMLCADATZvAMByH%2Fw%2FqQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf%2BbTAICd%2BJl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA%2Fg88wAAKCRFRHgg%2FP9eM4Ors7ONo62Dl8t6r8G%2FyJiYuP%2B5c%2BrcEAAAOF0ftH%2BLC%2BzGoA7BoBt%2FqIl7gRoXgugdfeLZrIPQLUAoOnaV%2FNw%2BH48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl%2FAV%2F1s%2BX48%2FPf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H%2FLcL%2F%2Fwd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s%2BwM%2B3zUAsGo%2BAXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93%2F%2B8%2F%2FUegJQCAZkmScQAAXkQkLlTKsz%2FHCAAARKCBKrBBG%2FTBGCzABhzBBdzBC%2FxgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD%2FphCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8%2BQ8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8%2BxdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR%2BcQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI%2BksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG%2BQh8lsKnWJAcaT4U%2BIoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr%2Bh0uhHdlR5Ol9BX0svpR%2BiX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK%2BYTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI%2BpXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q%2FpH5Z%2FYkGWcNMw09DpFGgsV%2FjvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY%2FR27iz2qqaE5QzNKM1ezUvOUZj8H45hx%2BJx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4%2FOBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up%2B6Ynr5egJ5Mb6feeb3n%2Bhx9L%2F1U%2FW36p%2FVHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm%2Beb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw%2B6TvZN9un2N%2FT0HDYfZDqsdWh1%2Bc7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc%2BLpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26%2FuNu5p7ofcn8w0nymeWTNz0MPIQ%2BBR5dE%2FC5%2BVMGvfrH5PQ0%2BBZ7XnIy9jL5FXrdewt6V3qvdh7xc%2B9j5yn%2BM%2B4zw33jLeWV%2FMN8C3yLfLT8Nvnl%2BF30N%2FI%2F9k%2F3r%2F0QCngCUBZwOJgUGBWwL7%2BHp8Ib%2BOPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo%2Bqi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt%2F87fOH4p3iC%2BN7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi%2FRNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z%2Bpn5mZ2y6xlhbL%2BxW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a%2FzYnKOZarnivN7cyzytuQN5zvn%2F%2FtEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1%2B1dT1gvWd%2B1YfqGnRs%2BFYmKrhTbF5cVf9go3HjlG4dvyr%2BZ3JS0qavEuWTPZtJm6ebeLZ5bDpaql%2BaXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO%2FPLi8ZafJzs07P1SkVPRU%2BlQ27tLdtWHX%2BG7R7ht7vPY07NXbW7z3%2FT7JvttVAVVN1WbVZftJ%2B7P3P66Jqun4lvttXa1ObXHtxwPSA%2F0HIw6217nU1R3SPVRSj9Yr60cOxx%2B%2B%2Fp3vdy0NNg1VjZzG4iNwRHnk6fcJ3%2FceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w%2B0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb%2B%2B6EHTh0kX%2Fi%2Bc7vDvOXPK4dPKy2%2BUTV7hXmq86X23qdOo8%2FpPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb%2F1tWeOT3dvfN6b%2FfF9%2FXfFt1%2Bcif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v%2B3Njv3H9qwHeg89HcR%2FcGhYPP%2FpH1jw9DBY%2BZj8uGDYbrnjg%2BOTniP3L96fynQ89kzyaeF%2F6i%2FsuuFxYvfvjV69fO0ZjRoZfyl5O%2FbXyl%2FerA6xmv28bCxh6%2ByXgzMV70VvvtwXfcdx3vo98PT%2BR8IH8o%2F2j5sfVT0Kf7kxmTk%2F8EA5jz%2FGMzLdsAAAAGYktHRAD%2FAP8A%2F6C9p5MAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcBgYQOi1%2FU%2F30AAALs0lEQVR42u2dW2wbVR7G%2F%2BfMjB2PHV8S21ECTcoWhaTZlTAVOFuBVmoKdLeotKwqIVBeSlEQ0i4rVKkKfeGBl1RVnslukCq6og90ESyNkBooSK3YdGmw2m1KSknophdckiax6%2FFlbmcfchxMMpnYGdsTuueToibpzJnP33%2FmzJkz59ciQggw3bvCLAJWYCZWYCZWYCZWYCZWYCZWYKZC8VYbQAhxAHA%2FALgLfi0BwA1CiFbpD4AQWm2TFf0BgGb3PECl80Nr%2FYAIIR8ARADgPvorHQAIAKCCnuEmAMQIIQkbCrwu%2FNmd35oKjBCKAEAbACgAkAMAGQC0AoMcADgAwAkAAgCME0JiVSxwyf4AIAYAUI0rupr5lVxghNBWAGii3UgaALLUoFpgkKcGawBApN3PLULIl1Uo8Jr9AcCXlS5wtfPjSzTXAQBhAJgDgLvUZJaa05bc93hq0E0%2FQBgh1EEIGatgfpb80f3HKljcqueHSzBXCwCbACABALP0K5E36fF4uC1btnR5PB6OmpYMtt1E26mETP35GzHe%2BZearf5GjO3wt1p%2BkUiEO3fuXFckEilrfkV30Qihx2iI%2BYNlAEBta2trDQaDB3iefwohJBJC0qqqnpqZmTkyPj7%2BLT0TXXTQUwcASULIVxXoog39%2FXav44FNj%2FEv13jQ4w43H5AldS6bImcn%2Fq3%2B7V%2Fvy99X2t9q%2BQ0ODrbu3r37QCAQeApjLOq6np6bmzv14YcfHtm%2Ff7%2Fl%2FPgizXEA4AeAedq1pAFAeeihh9obGxtP04FAfltREITdjY2NOwkh265cufINvbdgul0AIcSV%2BRHK0F%2FnXseDv9kuHBPrasKCm69FCGESJCFFUhtFb%2FZ3BKB75H35u0r7Wym%2FgYGB9n379p1GCC3mhzEW6%2Bvrd%2B%2Fbt2%2Bnpmnbenp6LOVXbBddT0d7%2BYGBDACOYDD4RmFxl0gIBoMH6WBBpvtJtJ1gmS8QQ3%2BbHuVfFetqwg6P4EMIYRo2dngEn1hXE970KN9jp79du3a9UVjcJSeFsGvXLsv5FVvgGnpfyNKhPXi93oAgCNvMdhIE4Umv1xugPyoFbTjLHOAyf8Fm7Hf7UdThFrxGOzjcgtftR1uDzdhvh79oNBoIh8Om%2BYXD4Sej0ail%2FHAJXaBMD6IAAG5padmKEHKu0jU5W1pattLj5PeVyzGDtpq%2Fh58WHhFcvA8QGM%2BEIECCi%2Fc9%2FLTwiB3%2Bent7t2KMTfPDGDt7e3st5VdsgXMFQ3kCAGhycvICIUQ224kQIk9OTl6gz3aE7q%2FS9sqpZf7Of6xckdNqEggYjyIJEDmtJs9%2FrFyxw9%2BhQ4cuaJpmmp%2BmafKhQ4cs5VdsgbP0AIROqWmSJEmZTOac2U6ZTOacJEkSNaYXtJEpc4DL%2FM3H9XQirl%2BSJSVptIMsKclEXL80H9fTdvgbGxuTJiYmTPObmJg4NzY2Zim%2FYgs8XzDLgmhXkZ6amhokhKgrXL3q1NTUYH7EWLAvoe2VU4b%2Bvh5STqTnstNySkksXskEiJxSEum57PTXQ8oJO%2F319fUN6rpumJ%2Bu62pfX5%2Fl%2FEp5Dt5Iz6IE7SZcANDU0NDQ2dzc%2FJLb7Y4ghARCiCJJUmxqauqd27dvj9ApwAy9b%2FgAABNCrlXgOdjQ3wMRbktkp%2BOP9ffjVqeH9%2BZSavLODf3b2JD8j%2B9j2mil%2Fa2W3wsvvNB58ODBlzZv3hzheV5QVVW5fPlyrK%2Bv75333nvPcn6lFLiGzqEm6QEJAHjp1FvI6XSGNmzYELl%2B%2FXosl8tNA8A0APxIt0d0JOmjc6rZChTY1J%2FLi4K%2F3ia0XTqtjGeSZKZa%2ForNr6mpKfT6669H%2Bvv7Y7du3SpbfiW9bEAIBelz2d38aJCeibV0UpynZ2eabpOhZ61At5EJITMVfNmw7vzZnd9a3iaF6bcSNZOfEeOpYZ3%2BvvDv3PQsvF3utzUGb5PWlT%2B781tLgQEAAvTA%2BTchOv1CBdNquOCNiErfoEAVCryu%2FNmd31oLDLTb8FBThcP4%2FIoEjv6cys%2FeVLHA68af3fkhqx8ILTiuWfLIpQNAllRheUQRa7JW9LeQl%2B1rsiqaH2Lw2b0ttmyWFZiJFZiJFZiJiYmJiYmJiYmJiYmJiYmp0kJlaMOUoF8Hn%2FH%2F2p%2BVAhdNqMPCQrNqi%2FmzUOA1E%2FRVEvNnocCWCPoqhMf8Len%2FS1EHADTTLmOe%2FplcYjZLz8pC4zossK0cLCwHrZSYvyUq5W3SqoT%2Fiy%2B%2BuCrhT9uphFYl%2FP%2Fw59UJf7v8FUv4l%2BqvlC7akFB%2F7rnnWv1%2B%2FwGO4xYJf03TTs3Pzx%2F54IMPDAl1APiqAgGuSPg3tXEvO93occHNBRRJm8tJ5OytcW1Fwr%2Ba%2FgYHB1u3b9%2B%2BjPD%2F9NNPVyT8S%2FHHlbDdZtp4%2FqxT9uzZ0xYKhT7HGHfkQWaEkIAxbhNFsbu5uXlofHz8Nu1i8u0EAOAavd%2BU81Fjmb%2FOvY5Nv9rC%2F93bUPOYWF%2FT5HAJtc5aoc7hwg96AuRpdwB9ceOyNm2Xv4GBgbbnn3%2F%2Bc1EUf5afKIptHR0d3Rs3bhw6efKkpfwsEf5%2Bv9%2BU8Pf7%2FbYS%2Fo2t3KtiwBl2uJcQ%2Fm7BJwac4cZWzlbCv6ury5Tw7%2Brqspfw53nelFDned5Wwl%2F0oSgv8oaEPy%2FyXtFnL%2BEfCoVM8wuFQvYR%2Fjt27CiK8N%2BxY4dthD%2Fv4nx4hYXTGCHEuzhG%2BFMtI9SHhoaKIvyHhoZsI%2FwVSUvqKyz81gkhiqQxwp%2FKkPDP5XKmhHoul7OV8E%2FN6pfUtGpI%2BKtpNZmatZfwj8fjpvnF43F7Cf%2Fh4WFTwn94eNhWwv%2FyF%2BqJTCI3LUtKIn8l64QQWVISmURu%2BvIXqq2E%2F%2BHDh00J%2F8OHD1vOr9jHJAI%2FIYy5fFeTSqWkmzdvXmxubm7geT5M%2F4EuJZPJjH7yySdvxePx8wBwhxrk6PPcIilXRhn6m72pZ1Mz%2BoTbp3tAUxHSdVW6k%2Fth9oYSG%2F2n%2FNfJUe2Cnf5isZg0NTV1saOjo6G2tjaMMeZUVVWuXbs22tvb%2B9a7775rOb9SJjpWJfyfeOKJyJkzZ1Yl%2FGmXVW6VjfC3w18phH8p%2Fkp92WCZUAeAihH0zJ%2F1AgNYJOih8mL%2BLBYYwAKhXiUxfxYLDLBGQr2KYv6gPGuyTAl6sF%2FMHxMTExMTExMTExMTExMTExMTExMTExMT01rFCP973B8j%2FBnhbyhG0P9C%2FDHCnxH%2BPxMj6H9h%2FspK%2BL%2F22mvrmvD%2F%2FZ8Y4W8mQ0L9lVdeafV6vQcwxouEv67rp5LJ5JG33357XRD%2BwRb8ssOFHuddXEDNaHNyhpyd%2Ba%2B%2Bbgj%2Fzs7OA36%2Ff5Hwn5%2BfPzUyMlIWwh%2BV0JV30W5lFuhKv56enva6urrTYAyBK7Ozs9sGBga%2BgZ9WENbBwv9l%2F1mZH1EM%2FXXudTx4Xxt3zOVzhgU3V4sQwoQQXZG0u5lE7seb41r3yPvyd3b5GxgYaH%2FmmWdOG0HghBDl5MmT23p6eizlZ4nw93q9poS%2F1%2Bu1lfCv34BfdfmcYYeH%2Fznh7%2BF9Lp8zXL8B20r4R6NRU8I%2FGo3aS%2FhzHGdKqHMcZyvh76pFUWEFwl8Qea%2Br1l7CPxgMmuYXDAbtI%2Fy7u7uLIvy7u7ttI%2Fw5J%2BdD2Pg2hDAgzskI%2F7yWEepHjx4tivA%2FevSobYS%2FmtGSRDdePE50IGqGEf55GRL%2BsiybEuqyLNtK%2BKcT%2BiVlBcJfSavJdMJewj%2BRSJjml0gk7CX8jx8%2Fbkr4Hz9%2B3FbC%2F%2BqIdiJ7Nzctp9RE%2FkomOhA5pSayd3PTV0c0Wwn%2F%2Fv5%2BU8K%2Fv7%2FffsL%2F6tWrF9vb2xs4jlsk%2FHO53OixY8fWBeGfSZIJt594dEVZIPxncz8kf1Rj%2FxlW1gXhH4%2FHL0YikQan07lI%2BN%2B5c2f0zTffXH%2BE%2F7PPPhv56KOPGOG%2FBn%2BM8Gf%2BGOHP%2FJWnwACMoP%2FF%2BGOEPyP8i2qDEfT3rj8mJiYmJiYmJqal%2Bh%2FBKPfvyGzFYQAAAABJRU5ErkJggg%3D%3D) no-repeat;
  display: block;
  float: left;
  height: 34px;
  width: 40px;
  background-position: -80px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\00003109}}
.b-help .spots .spot:hover {
  background-position: -80px -34px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\00003112}}
.b-help .spots .spot:active {
  background-position: -80px -68px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\00003115}}
.b-help .spots .spot.active {
  background-position: -40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\00003117}}
.b-help .spots .spot.active:hover {
  background-position: -40px -34px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\00003120}}
.b-help .spots .spot.active:active {
  background-position: -40px -68px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\00003124}}
.b-help .spots .spot.past {
  background-position: 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\00003126}}
.b-help .spots .spot.past:hover {
  background-position: 0 -34px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-help\.css\.scss}line{font-family:\00003129}}
.b-help .spots .spot.past:active {
  background-position: 0 -68px;
}
