@charset "US-ASCII";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\000034}}
.b-touroperator-request-processing {
  margin-bottom: 27px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\000037}}
.b-touroperator-request-processing p {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000310}}
.b-touroperator-request-processing h4 {
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000313}}
.b-touroperator-request-processing h5 {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000316}}
.b-touroperator-request-processing .order {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000320}}
.b-touroperator-request-processing .success {
  color: #76b718;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000323}}
.b-touroperator-request-processing .warning {
  color: #cc0033;
  padding-right: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000327}}
.b-touroperator-request-processing .b-info-block {
  width: 272px;
  margin-top: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\0000372}}
.b-touroperator-request-processing .b-info-block:before, .b-touroperator-request-processing .b-info-block:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\0000377}}
.b-touroperator-request-processing .b-info-block:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000332}}
.b-touroperator-request-processing .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color,border-color,color;
  -moz-transition-property: background-color,border-color,color;
  -o-transition-property: background-color,border-color,color;
  transition-property: background-color,border-color,color;
  background-color: #76b718;
  border: 1px solid #70ae17;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  height: 30px;
  line-height: 32px;
  padding: 2px 7px 2px 7px;
  display: inline-block;
  float: right;
  margin-left: 11px;
  width: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003271}}
.b-touroperator-request-processing .button:hover {
  background-color: #82c91a;
  border-color: #7cc019;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003275}}
.b-touroperator-request-processing .button:active {
  background-color: #6aa516;
  border-color: #659c14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000339}}
.b-touroperator-request-processing .button.alone {
  float: left;
  margin: 9px 0 22.5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000344}}
.b-touroperator-request-processing .add-on {
  position: absolute;
  left: 10px;
  color: white;
  text-shadow: 0px 1px #333;
  top: 10px;
  font-size: 1.2 em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000352}}
.b-touroperator-request-processing .chosen .add-on {
  top: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000355}}
.b-touroperator-request-processing input, .b-touroperator-request-processing textarea {
  width: 232px!important;
  padding-left: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/b-touroperator-request-processing\.css\.scss}line{font-family:\0000359}}
.b-touroperator-request-processing textarea {
  padding-top: 8px;
  height: 100px;
}
