.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
nbproject/
config/database.yml
config/freckle.yml
.idea
log/
.rvmrc
.powrc
.powenv
.rspec
.DS_Store
public/images/
public/airlines/
public/assets/
public/source_maps/
pdfs/tickets/
doc/flights_csv/
config/deploy/
config/deploy.rb
config/certs/
*.swp
*.swo
*.swn
*.swm
sandbox.rb
coverage
