!!! 5
html.ng-app(lang='ru-RU')
  head
    title Clickavia
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', media='all', href='app/stylesheets/app.css')
  body
    .l-page
      header
        .wrap.l-page__center
          .container
            .logo
              a.inline-logo(href='/')
            .social-links
              a.facebook(title='Группа Clickavia в Facebook', href='http://www.facebook.com/home.php?sk=group_192901367386943', target='_blank')
              a.twitter(title='Наш Twitter', href='http://www.twitter.com/clickavia', target='_blank')
              a.vkontakte(title='Группа Clickavia в Facebook', href='http://www.facebook.com/home.php?sk=group_192901367386943', target='_blank')
            .user-control
              #devise
                #user_auth
                  a(hred='/login') Войдите
                  span.or  или 
                  a#sign_up_link(href='/register') Зарегистрируйтесь
      .l-page__header-bottom
        .l-page__center
          .grid-bottom
      div.l-page__header-top-offset.l-page__center
        div.inner
          a(href='#') Jade issue: Why text doesn't appears here...

