!!! 5
html.ng-app(lang='ru-RU')
  head
    title Clickavia
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', media='all', href='app/stylesheets/app.css')
  body
    .l-page
      header
        .wrap.l-page__center
          .container
            .brd_left
            .logo
              a.inline-logo(href='/')
            .social-links
              a.facebook(title='Группа Clickavia в Facebook', href='http://www.facebook.com/home.php?sk=group_192901367386943', target='_blank')
              a.twitter(title='Наш Twitter', href='http://www.twitter.com/clickavia', target='_blank')
              a.vkontakte(title='Группа Clickavia в Facebook', href='http://www.facebook.com/home.php?sk=group_192901367386943', target='_blank')
            .user-control
              #devise
                #user_auth
                  a(hred='/login') Войдите
                  span.or  или 
                  a#sign_up_link(href='/register') Зарегистрируйтесь
            .brd_right
      .l-page__header-bottom
        .l-page__center
          .grid-bottom
      .l-page__header-top-offset.l-page__center
        .inner
         .inside_border
      section.l-page__top-line
        .l-page__top-line__shadow
          .l-page__center
            .inner
              .left-bar
                a.logo(title='localhost', href='/')
                p.about
                  | Clickavia — здесь можно найти, сравнить, выбрать и купить билеты
                  br
                  | на чартерные и регулярные рейсы по туристическим тарифам.
                .short-menu
                  a.short-menu__item.how(href='/help/how-to-buy') Как купить билет
                  br
                  a.short-menu__item.fin Финансовая гарантия
              .right-bar
                .pay-ways
                  span.caption.item Способы оплаты заказа:
                  span.evroset.item
                  span.item.svyaznoy
                  span.item.mastercard
                  span.item.visa
                section.b-main-picker
                  .shadow.points-0
                    .container
                      .fields-line
                        .small-logo
                        .g-text-field.from
                          .wrapper
                            input.location_from.ui-autocomplete-input(type='text', size='30', placeholder='Откуда', data-original-title='', autocomplete='off', role='textbox', aria-autocomplete='list', aria-haspopup='true')
                            div
                            ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all(role='listbox', aria-activedescendant='ui-active-menuitem', style='z-index: 1051; top: 0px; left: 0px; display: none;')
                              .baron
                                .baron-scroller
                                  .baron-container
                                  .baron-bar-wrapper
                                    .baron-bar
                        .g-text-field.to
                          .wrapper
                            input.location_to.ui-autocomplete-input(type='text', size='30', placeholder='Куда', data-original-title='', autocomplete='off', role='textbox', aria-autocomplete='list', aria-haspopup='true')
                            div
                            ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all(role='listbox', aria-activedescendant='ui-active-menuitem', style='z-index: 1051; top: 0px; left: 0px; display: none;')
                              .baron
                                .baron-scroller
                                  .baron-container
                                  .baron-bar-wrapper
                                    .baron-bar
                      .points-hint Выберите одну, либо две даты
                      .month-slider.g-slider
                        .slide-display
                          .b-progress-bar.dates-checker
                            p.progress-bar-title
                            .progress-bar
                              span
                          .slide-line
                            .item.month
                              .caption Сентябрь
                              .table-wrapper
                                table.calendar
                                  thead
                                    tr
                                      th Пн
                                      th Вт
                                      th Ср
                                      th Чт
                                      th Пт
                                      th Сб
                                      th Вс
                                  tbody
                                    tr
                                      td.empty(data-original-title='')
                                      td.empty(data-original-title='')
                                      td.empty(data-original-title='')
                                      td.empty(data-original-title='')
                                      td.empty(data-original-title='')
                                      td.empty(data-original-title='')
                                      td.left.right(data-original-title='')
                                        span.wrapper 1
                                        span.point-wrapper
                                          span.point 1
                                    tr
                                      td.left(data-original-title='')
                                        span.wrapper 2
                                        span.point-wrapper
                                          span.point 2
                                      td(data-original-title='')
                                        span.wrapper 3
                                        span.point-wrapper
                                          span.point 3
                                      td(data-original-title='')
                                        span.wrapper 4
                                        span.point-wrapper
                                          span.point 4
                                      td(data-original-title='')
                                        span.wrapper 5
                                        span.point-wrapper
                                          span.point 5
                                      td(data-original-title='')
                                        span.wrapper 6
                                        span.point-wrapper
                                          span.point 6
                                      td(data-original-title='')
                                        span.wrapper 7
                                        span.point-wrapper
                                          span.point 7
                                      td.right(data-original-title='')
                                        span.wrapper 8
                                        span.point-wrapper
                                          span.point 8
                                    tr
                                      td.left(data-original-title='')
                                        span.wrapper 9
                                        span.point-wrapper
                                          span.point 9
                                      td(data-original-title='')
                                        span.wrapper 10
                                        span.point-wrapper
                                          span.point 10
                                      td(data-original-title='')
                                        span.wrapper 11
                                        span.point-wrapper
                                          span.point 11
                                      td(data-original-title='')
                                        span.wrapper 12
                                        span.point-wrapper
                                          span.point 12
                                      td(data-original-title='')
                                        span.wrapper 13
                                        span.point-wrapper
                                          span.point 13
                                      td(data-original-title='')
                                        span.wrapper 14
                                        span.point-wrapper
                                          span.point 14
                                      td.right(data-original-title='')
                                        span.wrapper 15
                                        span.point-wrapper
                                          span.point 15
                                    tr
                                      td.left(data-original-title='')
                                        span.wrapper 16
                                        span.point-wrapper
                                          span.point 16
                                      td(data-original-title='')
                                        span.wrapper 17
                                        span.point-wrapper
                                          span.point 17
                                      td(data-original-title='')
                                        span.wrapper 18
                                        span.point-wrapper
                                          span.point 18
                                      td(data-original-title='')
                                        span.wrapper 19
                                        span.point-wrapper
                                          span.point 19
                                      td(data-original-title='')
                                        span.wrapper 20
                                        span.point-wrapper
                                          span.point 20
                                      td(data-original-title='')
                                        span.wrapper 21
                                        span.point-wrapper
                                          span.point 21
                                      td.right(data-original-title='')
                                        span.wrapper 22
                                        span.point-wrapper
                                          span.point 22
                                    tr
                                      td.left(data-original-title='')
                                        span.wrapper 23
                                        span.point-wrapper
                                          span.point 23
                                      td(data-original-title='')
                                        span.wrapper 24
                                        span.point-wrapper
                                          span.point 24
                                      td(data-original-title='')
                                        span.wrapper 25
                                        span.point-wrapper
                                          span.point 25
                                      td(data-original-title='')
                                        span.wrapper 26
                                        span.point-wrapper
                                          span.point 26
                                      td(data-original-title='')
                                        span.wrapper 27
                                        span.point-wrapper
                                          span.point 27
                                      td(data-original-title='')
                                        span.wrapper 28
                                        span.point-wrapper
                                          span.point 28
                                      td.right(data-original-title='')
                                        span.wrapper 29
                                        span.point-wrapper
                                          span.point 29
                                    tr
                                      td.left.right(data-original-title='')
                                        span.wrapper 30
                                        span.point-wrapper
                                          span.point 30
                            .item.month
                              .caption Октябрь
                              .table-wrapper
                                table.calendar
                                  thead
                                    tr
                                      th Пн
                                      th Вт
                                      th Ср
                                      th Чт
                                      th Пт
                                      th Сб
                                      th Вс
                                  tbody
                                    tr
                                      td.empty(data-original-title='')
                                      td.left(data-original-title='')
                                        span.wrapper 1
                                        span.point-wrapper
                                          span.point 1
                                      td(data-original-title='')
                                        span.wrapper 2
                                        span.point-wrapper
                                          span.point 2
                                      td(data-original-title='')
                                        span.wrapper 3
                                        span.point-wrapper
                                          span.point 3
                                      td(data-original-title='')
                                        span.wrapper 4
                                        span.point-wrapper
                                          span.point 4
                                      td(data-original-title='')
                                        span.wrapper 5
                                        span.point-wrapper
                                          span.point 5
                                      td.right(data-original-title='')
                                        span.wrapper 6
                                        span.point-wrapper
                                          span.point 6
                                    tr
                                      td.left(data-original-title='')
                                        span.wrapper 7
                                        span.point-wrapper
                                          span.point 7
                                      td(data-original-title='')
                                        span.wrapper 8
                                        span.point-wrapper
                                          span.point 8
                                      td(data-original-title='')
                                        span.wrapper 9
                                        span.point-wrapper
                                          span.point 9
                                      td(data-original-title='')
                                        span.wrapper 10
                                        span.point-wrapper
                                          span.point 10
                                      td(data-original-title='')
                                        span.wrapper 11
                                        span.point-wrapper
                                          span.point 11
                                      td(data-original-title='')
                                        span.wrapper 12
                                        span.point-wrapper
                                          span.point 12
                                      td.right(data-original-title='')
                                        span.wrapper 13
                                        span.point-wrapper
                                          span.point 13
                                    tr
                                      td.left(data-original-title='')
                                        span.wrapper 14
                                        span.point-wrapper
                                          span.point 14
                                      td(data-original-title='')
                                        span.wrapper 15
                                        span.point-wrapper
                                          span.point 15
                                      td(data-original-title='')
                                        span.wrapper 16
                                        span.point-wrapper
                                          span.point 16
                                      td(data-original-title='')
                                        span.wrapper 17
                                        span.point-wrapper
                                          span.point 17
                                      td(data-original-title='')
                                        span.wrapper 18
                                        span.point-wrapper
                                          span.point 18
                                      td(data-original-title='')
                                        span.wrapper 19
                                        span.point-wrapper
                                          span.point 19
                                      td.right(data-original-title='')
                                        span.wrapper 20
                                        span.point-wrapper
                                          span.point 20
                                    tr
                                      td.left(data-original-title='')
                                        span.wrapper 21
                                        span.point-wrapper
                                          span.point 21
                                      td(data-original-title='')
                                        span.wrapper 22
                                        span.point-wrapper
                                          span.point 22
                                      td(data-original-title='')
                                        span.wrapper 23
                                        span.point-wrapper
                                          span.point 23
                                      td(data-original-title='')
                                        span.wrapper 24
                                        span.point-wrapper
                                          span.point 24
                                      td(data-original-title='')
                                        span.wrapper 25
                                        span.point-wrapper
                                          span.point 25
                                      td(data-original-title='')
                                        span.wrapper 26
                                        span.point-wrapper
                                          span.point 26
                                      td.right(data-original-title='')
                                        span.wrapper 27
                                        span.point-wrapper
                                          span.point 27
                                    tr
                                      td.left(data-original-title='')
                                        span.wrapper 28
                                        span.point-wrapper
                                          span.point 28
                                      td(data-original-title='')
                                        span.wrapper 29
                                        span.point-wrapper
                                          span.point 29
                                      td(data-original-title='')
                                        span.wrapper 30
                                        span.point-wrapper
                                          span.point 30
                                      td.right(data-original-title='')
                                        span.wrapper 31
                                        span.point-wrapper
                                          span.point 31
                        .left-nav-placeholder
                        .right-nav-placeholder
                        span.nav.prev
                          span.inner
                        span.nav.next.enabled
                          span.inner
                      .collapse-trigger(title='Развернуть')
                        .inner
                        .arrow
                      .clear-dates
                        span Сбросить
                        | [
                        span.button
                        | ]
                  .g-button-new.search-button.disabled Найти
      section.l-page__specials
        .l-page__center
          .title
            h3
              | Спецпредложения
              span.addition  для города
            span.cities
              a.active.city-name(data-countries='[{"id":9,"title":"Индия","specials_count":12,"image":"/images/countries/india/india-special.jpg"},{"id":2,"title":"Болгария","specials_count":6,"image":"/images/countries/bulgaria/1363352457-Bulgaria1.png"},{"id":31,"title":"Черногория","specials_count":2,"image":"/images/countries/chernogoria/chernogoria-special.jpg"},{"id":12,"title":"Италия","specials_count":1,"image":"/images/countries/italy/1363161106-Venezia.png"}]', data-city_id='62') Москва
          .countries-menu
            a.item.active(data-image='/images/countries/india/india-special.jpg', data-id='9', href='javascript:;') Индия (12)
            a.item(data-image='/images/countries/bulgaria/1363352457-Bulgaria1.png', data-id='2', href='javascript:;') Болгария (6)
            a.item(data-image='/images/countries/chernogoria/chernogoria-special.jpg', data-id='31', href='javascript:;') Черногория (2)
            a.item(data-image='/images/countries/italy/1363161106-Venezia.png', data-id='12', href='javascript:;') Италия (1)
          .country
            .left
              span.thumb-wrapper
                img.thumb(src='app/images/1360854015-Thailand.png', alt='India-special')
                .shutter
                .shutter-container
                  .shutter-wing.wing-12.open
                  .shutter-wing.wing-11.open
                  .shutter-wing.wing-10.open
                  .shutter-wing.wing-9.open
                  .shutter-wing.wing-8.open
                  .shutter-wing.wing-7.open
                  .shutter-wing.wing-6.open
                  .shutter-wing.wing-5.open
                  .shutter-wing.wing-4.open
                  .shutter-wing.wing-3.open
                  .shutter-wing.wing-2.open
                  .shutter-wing.wing-1.open
            .content
              .offers-list(style='')
                a.offer.normal(href='javascript:;', data-id='6637')
                  span.caption Москва → Гоа (Даболим) → Москва
                  span.period 23 октября, среда — 31 октября, четверг
                  span.price 22859 руб
                a.offer.normal(href='javascript:;', data-id='6638')
                  span.caption Москва → Гоа (Даболим) → Москва
                  span.period 30 октября, среда — 7 ноября, четверг
                  span.price 22859 руб
                a.offer.normal(href='javascript:;', data-id='6639')
                  span.caption Москва → Гоа (Даболим) → Москва
                  span.period 6 ноября, среда — 14 ноября, четверг
                  span.price 22859 руб
                a.offer.normal(href='javascript:;', data-id='6640')
                  span.caption Москва → Гоа (Даболим) → Москва
                  span.period 13 ноября, среда — 21 ноября, четверг
                  span.price 22859 руб
              .more-wrapper(style='')
                a.more(href='javascript:;')
                  span.icon
                  | Ещё (8)
      .l-page__specials-bottom
        .l-page__center
          .grid-bottom(style='display: block;')
      section.l-page__content.content
        .l-page__center
          .inner
            .main
              .first
              .center-column
                h2 Клик Авиа
                p
                  | Компания Клик Авиа на сегодняшний день является одной из самых популярных систем бронирования чартерных авиабилетов,
                  | объединяющая в себе максимальное удобство ее использования, экономию времени на подбор рейса и приобретение билетов на
                  | него, а также предлагающая выбор любого способа оплаты.
              .second
              .columns-container
                .left-column
                  h2 Совершенству нет предела
                  p
                    | Занимая лидирующие позиции на рынке онлайн бронирования чартерных авиабилетов, компания Клик Авиа не останавливается
                    | на достигнутом. Наш сервис динамично меняется, мы стараемся учитывать все пожелания и требования клиентов. Мы постоянно
                    | работаем над расширением перечня предоставляемых услуг, а также модернизации уже имеющихся. Не стоит удивляться, если
                    | уже завтра Вы обнаружите в перечне услуг новую, которая сделает пользование сервисом онлайн бронирования еще более
                    | удобным, комфортным и практичным. Любая услуга или сервис, предлагаемые нами, оттачиваются до идеала – что
                    | бы Вы, наши клиенты, получали максимальное удовлетворение от сотрудничества с Клик Авиа.
                .right-column
                  h2 Сервис и технологичность
                  p
                    | Компания Клик Авиа, первой на российском рынке предложившая систему онлайн бронирования чартерных авиабилетов, постоянно
                    | совершенствуется и расширяет перечень услуг, предлагаемых клиентам. Нашей компанией была внедрена функция рассылки
                    | подтверждающих и информационных сообщений, как на адреса электронной почты, так и посредством СМС уведомлений.
                    | Отправляемыми сообщениями мы информируем своих клиентов не только об этапах бронирования (оплаты, доставки) авиабилетов,
                    | кроме этого мы информируем обо всех возможных изменениях в расписании рейсов, проводимых акциях и наиболее выгодных
                    | предложениях от компании.
                  p
                    | Для постоянного повышения уровня обслуживания мы вводим новые способы оплаты, - таким образом наши клиенты могут выбрать
                    | наиболее подходящий для себя вариант. Компания Клик Авиа сотрудничает с ведущими представителями рынка туристических услуг.
                    | Благодаря этому отправляясь на отдых или в деловую поездку, Вы
                    | можете выбрать аэропорт прибытия, который расположен максимально близко к месту назначения – это дополнительно
                    | экономит не только время, но и средства.
              .third
              .columns-container
                .left-column
                  h2 Система онлайн бронирования чартерных авиабилетов
                  p
                    | Для того чтобы оформить бронирование в Клик Авиа, вам не придется никуда ехать – все происходит в онлайн режиме, прямо на нашем сайте.
                    | Вы просто заполняете форму предварительного заказа, указывая номер своего мобильного телефона и адрес электронной почты для обратной связи.
                    | После этого с вами свяжутся наши менеджеры и уточнят все нюансы вашего заказа, а также предложат на выбор наиболее удобную для вас
                    | систему оплаты. Оплатить забронированные авиабилеты Вы сможете как по безналичному расчету, так и наличными. В том случае, если Вы
                    | предпочитаете живое общение, Вы можете связаться с нашими менеджерами по указанным
                    | телефонам и получить консультацию по бронированию в телефонном режиме.
                  p
                    | Забронированные и оплаченные чартерные авиабилеты Вы можете получить в электронном виде на свой email ящик, после чего достаточно
                    | будет просто распечатать его на принтере. Таким образом, воспользовавшись сервисом онлайн бронирования Клик Авиа, вам не придется
                    | покидать своего офиса или квартиры – вся процедура максимально оптимизирована для снижения временных потерь нашими клиентами,
                    | а также для их удобства.
                .right-column
                  h2 Ценовая политика
                  p
                    | Компания
                    strong Клик Авиа
                    | , кроме высокого уровня обслуживания и удобства пользования системой онлайн
                    | бронирования чартерных авиабилетов, предлагает самые низкие цены на авиабилеты. Кроме этого, наши клиенты имеют
                    | возможность воспользоваться нашим постоянно действующим акционным предложением «Горящий рейс».
                  p
                    | Стоимость чартерного авиабилета в среднем на 30-40 процентов ниже цены авиабилета на регулярном
                    | направлении. Это обусловлено тем, что при формировании стоимости чартерного авиабилета расчет происходит исходя
                    | из того, что все билеты на рейс будут проданы. Соблюдение такого условия позволяет чартерным авиакомпаниям не
                    | включать в цену билета дополнительный процент на погашение риска совершения убыточного перелета. В отличие от
                    | чартерных рейсов, перелеты, осуществляемые по заранее составленному расписанию, могут отправляться в рейс и
                    | тогда, когда в кассе остаются непроданные авиабилеты. Это заставляет включать в цену на билеты определенную
                    | сумму, компенсирующую возможные убытки на непопулярных направлениях.
                  p
                    | Кроме того, что стоимость чартерных авиабилетов, приобретаемых у нас самая низкая на рынке, наша компания
                    | предлагает акционное предложение «Горящий рейс». Если до назначенной даты вылета остается менее
                    | пяти суток, такой рейс переводится в разряд акционных, и цены на билеты устанавливаются еще ниже.
                    | Воспользовавшись такой акцией, Вы получите возможность отправиться в путешествие по цене, которая порой
                    | составляет около 50% стоимости билета на регулярном направлении.
              .fourth
              .center-column
                h2 Авиабилеты в Турцию
                p
                  | Турция самое популярное чартерное направление в летний период, начиная с мая и заканчивая сентябрем. Авиабилеты в Турцию можно всегда купить в компании Клик Авиа не вставая с Вашего любимого кресла.
                p
                  | Чартерные авиабилеты в Турцию выгодно покупать у нас, по шести причинам:
                ol
                  li Всегда актуальное расписание на чартерные рейсы
                  li Актуальные цены на чартерные авиабилеты
                  li Оплата удобным для Вас способом
                  li
                    | Электронный билет Вы получите на свою электронную почту, а смс уведомление не даст пропустить свой рейс, даже если расписание было изменено!
                  li Удобный поиск на сайте по датам
                  li Мы так же продаем билеты в один конец (One Way).
                p
                p
                  | У нас всегда самые выгодные цены чартерные авиабилеты в Турцию. Ждем Вас у нас в офисе и на сайте. Желаем приятного полёта.
                p С Уважением, Команда Clickavia!
              .fifth
      .l-page__footer-top-offset.l-page__center.clearfix
        .inner
      footer.l-page__footer
        .l-page__center
          .grid
          .grid-bottom.grid-horizontal
            .copyright
              | Clickavia
              span.years 2008-2013
          .blocks
            .block
              .headline
                a.link(href='http://localhost:3000/pages/about')
                  | Информация о компании
              .text.about
                | Компания Клик Авиа на сегодняшний день является одной из самых популярных систем бронирования чартерных авиабилетов, объединяющая в себе максимальное удобство ее использования, экономию времени на подбор рейса и приобретение билетов на него, а также предлагающая выбор любого способа оплаты.
              a.link.about-link(href='http://localhost:3000/pages/about') О компании
              a.link.contact-link(href='http://localhost:3000/pages/contacts') Контактная информация
              a.link.agreement-link(href='http://localhost:3000/agreement') Публичная оферта
              a.link.agents-link(href='http://localhost:3000/help/how-to-buy') Как купить билет
            .block.left_footer_border.right_footer_border
            .block.last
              .headline
                a.link(href='http://localhost:3000/directions') Наши направления
              .grid-horizontal
              a.special(href='http://localhost:3000/country/bulgaria')
                .name.single
                  | Болгария
                .text
                  | Равнодушным к Болгарии остаться просто невозможно. Великолепие живописных...
                .clear
              .grid-horizontal
              a.special(href='http://localhost:3000/country/chernogoria')
                .name.single
                  | Черногория
                .text
                  | На территории этой прекрасной страны находится огромное количество исторических и...
                .clear
              .grid-horizontal
              a.special(href='http://localhost:3000/country/italy')
                .name.single
                  | Италия
                .text
                  | Около 60% культурных ценностей Европы сосредоточено в этой удивительной стране....
                .clear
              .grid-horizontal
              a.special(href='http://localhost:3000/country/india')
                .name.single
                  | Индия
                .text
                  | В Индии, стране с богатейшими природными условиями, зародилась одна из древнейших...
                .clear
              .grid-horizontal
              a.link.ideas-link.specials-link(href='http://localhost:3000/directions') Все направления
    script(data-main='app/js/main', src='/bower_components/requirejs/require.js')
