@import 'vendor/_bootstrap.min.styl'
@import 'global/_reset.styl'
@import 'global/_clearfix.styl'
@import 'global/_variables.styl'
@import "global/_mixins.styl"
@import "global/_shame.styl"
@import "global/_common.styl"
@import "layouts/_layout.styl"
@import "pages/_main.styl"

