*
  global-reset()

h1, h2, h3
  font-family: "PFDinTextCondProThin", Tahoma, Arial, Verdana, sans-serif
  font-style: normal
  font-weight: normal

button, input, select, textarea
  color: #333333
  font-family: "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif
  font-size: 14px
  outline: medium none