@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
/* статический(не выезжающий сверху бекбоновский) блок авторизации */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\000037}}
.b-devise-static {
  min-height: 360px;
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000311}}
.b-devise-static .header {
  font-weight: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000314}}
.b-devise-static .header.title, .b-devise-static .header .title {
  color: #76b718;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000318}}
.b-devise-static form {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000322}}
.b-devise-static .alert-error > h2 {
  font-size: 17px !important;
  font-weight: normal!important;
  margin-bottom: 10px!important;
  color: #cc0033 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000329}}
.b-devise-static > p {
  margin-bottom: 10px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000332}}
.b-devise-static .section {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000335}}
.b-devise-static .section .label {
  margin-bottom: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003241}}
.b-devise-static .section label.required:before {
  content: '*';
  color: red;
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000341}}
.b-devise-static .section input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: white;
  border: 1px solid #cccccc;
  color: #4a4a4a;
  line-height: 16px;
  padding: 4px 5px!important;
  width: 208px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003218}}
.b-devise-static .section input::-webkit-input-placeholder {
  color: #878787 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003219}}
.b-devise-static .section input:-moz-placeholder {
  color: #878787 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003220}}
.b-devise-static .section input::placeholder {
  color: #878787 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003221}}
.b-devise-static .section input:-ms-input-placeholder {
  color: #878787 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000344}}
.b-devise-static .section select {
  width: 220px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000347}}
.b-devise-static .section .add-on {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000350}}
.b-devise-static .section .b-white-chosen .chzn-container {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000354}}
.b-devise-static .remember_me {
  padding-left: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000357}}
.b-devise-static .act {
  width: 185px;
  margin: 10px 0 20px 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000361}}
.b-devise-static .act.short {
  width: 145px;
  margin: 10px 0 20px 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000365}}
.b-devise-static .act:last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000370}}
.b-devise-static .devise-links > a {
  font-size: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000374}}
.b-devise-static .hidden {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-static\.css\.scss}line{font-family:\0000377}}
.b-devise-static .errors {
  color: #cc0033;
  margin: 10px 0;
}
