@charset "US-ASCII";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\000035}}
.b-devise {
  margin-bottom: 27px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\000038}}
.b-devise .devise-links {
  margin-top: 27px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000311}}
.b-devise .header {
  margin-bottom: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000314}}
.b-devise .errors {
  margin-bottom: 9px;
  color: #cc0033;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000320}}
form.b-devise-form {
  font-family: "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 14px;
  position: relative;
  width: 306px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000326}}
form.b-devise-form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000331}}
form.b-devise-form fieldset .section {
  background-color: #76b718;
  border: 1px solid #67a015;
  padding: 0 8px;
  border-top-color: #85ce1b;
  border-bottom-color: #67a015;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\0000372}}
form.b-devise-form fieldset .section:before, form.b-devise-form fieldset .section:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\0000377}}
form.b-devise-form fieldset .section:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000339}}
form.b-devise-form fieldset .section:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-color: #67a015;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000344}}
form.b-devise-form fieldset .section:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-color: #67a015;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000350}}
form.b-devise-form fieldset .section.invalid {
  background-color: #ed8f00;
  border-color: #c97900;
  border-top-color: #fc9800;
  border-bottom-color: #ba7000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000355}}
form.b-devise-form fieldset .section.invalid > .input-prepended > input, form.b-devise-form fieldset .section.invalid select, form.b-devise-form fieldset .section.invalid textarea {
  background-color: #ba7000;
  box-shadow: inset 0px 1px #9b5e00, inset 0px -1px #ff9d07;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000359}}
form.b-devise-form fieldset .section.invalid > .input-prepended > input:focus, form.b-devise-form fieldset .section.invalid select:focus, form.b-devise-form fieldset .section.invalid textarea:focus {
  background-color: #b06a00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000364}}
form.b-devise-form fieldset .section .submit, form.b-devise-form fieldset .section .reset {
  float: right;
  height: 25px;
  line-height: 25px;
  margin: 9px 0 9px 8px;
  padding: 0 16px;
  text-shadow: 0px -1px 0px #313131;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000372}}
form.b-devise-form fieldset .section .submit {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color,border-color,color;
  -moz-transition-property: background-color,border-color,color;
  -o-transition-property: background-color,border-color,color;
  transition-property: background-color,border-color,color;
  background-color: #4a4a4a;
  border: 1px solid #454545;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  min-width: 61px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003271}}
form.b-devise-form fieldset .section .submit:hover {
  background-color: #545454;
  border-color: #4f4f4f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003275}}
form.b-devise-form fieldset .section .submit:active {
  background-color: #404040;
  border-color: #3b3b3b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000376}}
form.b-devise-form fieldset .section .reset {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color,border-color,color;
  -moz-transition-property: background-color,border-color,color;
  -o-transition-property: background-color,border-color,color;
  transition-property: background-color,border-color,color;
  background-color: #7a7a7a;
  border: 1px solid #757575;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003271}}
form.b-devise-form fieldset .section .reset:hover {
  background-color: #848484;
  border-color: #7f7f7f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003275}}
form.b-devise-form fieldset .section .reset:active {
  background-color: #707070;
  border-color: #6b6b6b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000379}}
form.b-devise-form fieldset .section .control {
  float: right;
  margin: 9px 0 9px 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000383}}
form.b-devise-form fieldset .section .control label {
  color: #334f0a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000387}}
form.b-devise-form fieldset .section .input-prepended {
  display: inline-block;
  position: relative;
  margin: 9px 0 9px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\0000392}}
form.b-devise-form fieldset .section .input-prepended input, form.b-devise-form fieldset .section .input-prepended select, form.b-devise-form fieldset .section .input-prepended textarea {
  background-color: #598a12;
  border-radius: 3px;
  border: none;
  box-shadow: inset 0px 1px #476f0f, inset 0px -1px #85ce1b;
  color: white;
  height: 20px;
  padding: 4px 8px 4px 24px;
  vertical-align: middle;
  width: 256px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003103}}
form.b-devise-form fieldset .section .input-prepended input::-webkit-input-placeholder, form.b-devise-form fieldset .section .input-prepended select::-webkit-input-placeholder, form.b-devise-form fieldset .section .input-prepended textarea::-webkit-input-placeholder {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003106}}
form.b-devise-form fieldset .section .input-prepended input:-moz-placeholder, form.b-devise-form fieldset .section .input-prepended select:-moz-placeholder, form.b-devise-form fieldset .section .input-prepended textarea:-moz-placeholder {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003109}}
form.b-devise-form fieldset .section .input-prepended input:-ms-input-placeholder, form.b-devise-form fieldset .section .input-prepended select:-ms-input-placeholder, form.b-devise-form fieldset .section .input-prepended textarea:-ms-input-placeholder {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003112}}
form.b-devise-form fieldset .section .input-prepended input:focus, form.b-devise-form fieldset .section .input-prepended select:focus, form.b-devise-form fieldset .section .input-prepended textarea:focus {
  background-color: #538111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003116}}
form.b-devise-form fieldset .section .input-prepended textarea {
  min-height: 51px;
  resize: vertical;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003120}}
form.b-devise-form fieldset .section .input-prepended select {
  width: 288px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003123}}
form.b-devise-form fieldset .section .input-prepended option {
  background-color: #76b718;
  border: 1px solid #67a015;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003127}}
form.b-devise-form fieldset .section .input-prepended option:hover {
  background-color: #538111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003131}}
form.b-devise-form fieldset .section .input-prepended span.add-on {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=6400);
  opacity: 64;
  position: absolute;
  left: 8px;
  color: white;
  text-shadow: 0px 1px #333;
  top: 6px;
  font-size: 1.2 em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003141}}
form.b-devise-form fieldset .section .input-prepended span.add-on-top {
  position: absolute;
  left: 8px;
  top: 4px;
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003151}}
form.b-devise-form fieldset .country-code-section .chzn-container {
  margin-right: 3px;
  width: 89px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003155}}
form.b-devise-form fieldset .country-code-section #user_phone_number {
  width: 158px!important;
  padding-left: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003159}}
form.b-devise-form fieldset .country-code-section .input-prepended {
  margin-top: 9px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003163}}
form.b-devise-form fieldset .country-code-section .chosen .input-prepended {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003168}}
form.b-devise-form .devise-links, form.b-devise-form .social-toggler {
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  width: 288px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003174}}
form.b-devise-form .social-toggler {
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003181}}
form.b-devise-form .devise-links a {
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003184}}
form.b-devise-form .devise-links .link {
  line-height: 18px;
  margin-bottom: 5px;
  margin-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003189}}
form.b-devise-form .devise-links .link:first-child {
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003192}}
form.b-devise-form .devise-links .link:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003197}}
form.b-devise-form #socials {
  padding-top: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003200}}
form.b-devise-form .social-services {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003205}}
form.b-devise-form .social-services li {
  display: block;
  float: left;
  margin-bottom: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003210}}
form.b-devise-form .social-services li:nth-child(odd) {
  margin-right: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003213}}
form.b-devise-form .social-services li.odd {
  margin-right: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003217}}
form.b-devise-form .social-services li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color,border-color,color;
  -moz-transition-property: background-color,border-color,color;
  -o-transition-property: background-color,border-color,color;
  transition-property: background-color,border-color,color;
  background-color: #4a4a4a;
  border: 1px solid #454545;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  height: 25px;
  line-height: 27px;
  padding: 0 16px 0 34px;
  vertical-align: middle;
  width: 88px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003218}}
form.b-devise-form .social-services li a.twitter {
  background: #4a4a4a url(/assets/blocks/b-devise-modals/social-logos.png) no-repeat 4px -28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003221}}
form.b-devise-form .social-services li a.facebook {
  background: #4a4a4a url(/assets/blocks/b-devise-modals/social-logos.png) no-repeat 4px -58px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003224}}
form.b-devise-form .social-services li a.google {
  background: #4a4a4a url(/assets/blocks/b-devise-modals/social-logos.png) no-repeat 4px -88px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003227}}
form.b-devise-form .social-services li a.vk {
  background: #4a4a4a url(/assets/blocks/b-devise-modals/social-logos.png) no-repeat 4px 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003230}}
form.b-devise-form .social-services li a.yandex {
  background: #4a4a4a url(/assets/blocks/b-devise-modals/social-logos.png) no-repeat 4px -118px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003233}}
form.b-devise-form .social-services li a.mail {
  background: #4a4a4a url(/assets/blocks/b-devise-modals/social-logos.png) no-repeat 4px -148px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003271}}
form.b-devise-form .social-services li a:hover {
  background-color: #545454;
  border-color: #4f4f4f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003275}}
form.b-devise-form .social-services li a:active {
  background-color: #404040;
  border-color: #3b3b3b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003249}}
form.b-devise-form.black {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px 0px black;
  -moz-box-shadow: 0px 3px 0px 0px black;
  box-shadow: 0px 3px 0px 0px black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003253}}
form.b-devise-form.black .section {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAIAAAAiOjnJAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKAwsfMWH8IP4AACAASURBVHja7Z1LcmO5DkQlUZJ3YNn6LePtf1ul7xukfeoE1MMa2Az0oMNlS%2FeSIAkkgAS4%2FN%2F%2F%2Fvd4PBaLxf1%2BX61Wi8VisViMMW63W%2F6Zv%2FLfGGOxWCyXy9vttlgsNptNfrjf78vlcrPZPB6P1Wp1v98fj8dms7nf72OMy%2BWyXC6fz%2BcY4%2Fl8LhaL1WqV3%2BeBt9st383D7%2Ff78%2FncbrfX63W9Xue7z%2BdztVrl1ff7fb1e86jH4zHGeDwet9stv7%2Ff74vFYrvdZmD5Yn6Z5%2BQVmdRms7ler9vt9s%2BfP4vFYr1e3%2B93xpOfn89nZMI%2FH49HZrRarfLMfH61Wl2v1zHGcrm8Xq%2FL5TJjywcykchttVrxrcnkPz4%2FP%2FO35%2FO5Xq9vt1uekjnwpjHGer3OI%2FzL%2B%2F0eiWQx8qgsZASRz7%2B9vd3v97e3t9vtlhFn5n5LRMAYMp%2F1en25XPLePDZy%2FBr9GOwSnpYVXa%2FX6%2FX6er3mi%2Fk%2Fa5lBRqb5ev6%2F3W6z9hEuY8ujNptNHp5JZcoZ4Xq9zmTzKPaxJRahRVZsjuVyOaX8x263y7szGW%2FbnMUchXwgQ1%2Bv15FgnrvZbKIG8uLIKG%2BKjDLnMcb1euWQ5VtMLF%2FPkzOlvPp2u%2BUDmUnmnKHzp6iQPC2ziDqJEsrgMyM%2FJCLO3srwENxyudxut1m2DIxPel053DnZvCITz25D82W984QMKYJ6fP83mfzH4XDI5xDrdrvNdyKFjCNqNt%2BJuLP9EXE%2B%2F%2Fz%2BL0PMD7yvjClq83q9Ri1ziHMI8kPmwxhYS85ZhIutQS1Hvlk51FJGno%2Fli1hJa44c95iJ5fd%2FWf68KM9nvSMllETGkOVBJl5166T8fz75j%2FP5jKzzCeQYPc%2Fu5kGIjwdhZfLXfCsfiy5laVlmzBC6lJOUr0SUmUMmmdOGsNgTWSrGdrvd0AeAoaz6druNlCNQxGSQhJgiCgxKfs%2BSZ1WQIzoP7MUeisphVYB3mOMp5T%2Fe39%2BRe%2FYpRzPjzmgy1nwAdJxP8nROYf6al0U6GeJqtQJsZlgBuejSyDSn1icD6WeGsQj5ExA1H8v5y29QFTH8wPZIarPZ5BVvb288k32W%2FxgSuifoJPLl9%2BgnJMDnM0jWgM2RYQTtTin%2F8fn5GciWQWy3W1AkAC3HwgATybLlAQQRTR6IqgdY5Dn2IF5RiM96phRZZOgGGTlDiCmSjTYqI79cLnlmhgf4yEozYLZFJMVK21nL88FV%2Bau9wsgXTIPaw9BEDuyGKeU%2FzuczGxAnFkhoEdtTZTFwE%2FDqM2fUI8YCNGoTg0fGac6jIn0OEz9gZTKkhAkyyawBssA9QVdnSZiFkWb0DQYlK5d55TksQKTs8WTWmBjgObCGVQftxolDL84p%2F%2BPxiOvBaDKl%2BJlFanhGmbMharZqfp9B5AN24NG3Oc0RMe%2FlNOcoEFCxf4t%2BBngaFCNKwDtQA4tDSIl9g%2FVxzAZTkvVmpcE3huHRNMQg8AAIChSci%2BsH6ppM%2FuNwOER89h0MeA1gM%2BJ8M4IGgUYDv729OZoHdMhkcCXQtzHYkSwwCBScYxQTjiZADRgr5CHEDow6sXHFOYpWAM96UREujjfyAsgzvOxIXuQ4GUANKIM7%2Bbp9J5P%2FOBwO2ddFM9uz4ANEU17dn5wM0BxuQr6LgsVLYsT2xokaY6q9PAYBzNBwGMTK2bI359g3mBRZ509MjZA99sjrBF7OeznQ8Ym8FdhzhEMxiGzKOeX%2F%2Fv6eHZqwTSZTBIfEgRQEipx8IHSLmkVPRKaMnnQH4MZJA8Mj5hCB2o54hpx4W4T8lfAgHiJyLOEGBsbU8kXeS2As%2FwRzZPCWLB4AUVZEwV4kZzKl%2FFfkIjCTeUf8l3xts9nkEDg8HdSGeiSYxscMYPE7mDBYGCnjdMQNxmPCAOFtAcbJ2BD5xaBwfDMM4AgLlh9w3Mi0gK%2B9wA75eMOBdZJ3Y8wsgyPauGPZJYS5p5T%2F2O12DvCg3JgnZ4hUJdFhFCN401Yjb804yikhicHC8zEANZMBmqDb88%2FsiYyEtF05iPhi%2BWLiDgwyH%2FMp%2FHKVv9UAiWeUHKYNE%2FN4PLbbLRFFAC92EOThiCg%2BvPPiM8l%2F7Pd7fBksOt6pwzMOEBdNixYFrETP80D8srwoi1GS8zwQuaC3HRbiwyyt1TsemQdpPcHKgUnJRudPGK%2FMIh%2BLzfIyYB0c3M82sqowomej29fLS%2BeT%2FzifzxwRG1T0KgQJwL%2FHCsLIApAMd%2FDXYToCylG2SIo4DRkDlt%2FqF28F8OgNYQfeKAoAQXwLuIO5QWr5Jyk2u2bZQ4ZNWSfQD%2FkWT9NZSwuTgNaU8v8yhawEihRv0y63Y2vZwhgdMhJMBhOO5s9vnFTPQ%2BJCY3Rwp71gHCDmw0Yh6oMeTnbMiQv0CpPC%2FMEDYWqEr1iGjM2xHzBWDn28tgwSjcUriGs7u8e8ppT%2FOJ1OdqrNBEK3B%2BQ69WaeCSknjqCdoOIMW41HKBgpTDhnNwuGKxSTxLe8DIEdBIFgy%2BBvE5i2L0Oug%2BB7hmek78CB6SuRAIEMlrmotFhDdCRbqrxoPvmP%2FX7PWSSWiFPjr7EGsA1NdSKVBkogjMvvzf5BW2QcaO%2BMzzGe%2F4yqo1SA24QMXr16MzrYK8T04IUCz20TnUnkA2wywtyOQzJZWzrWFVziTN%2BE8j8ej2hyx1qsz%2FEU8GtMcsLpZQE4JYYOZq6ZcGLAwZQ4MYWSgdfj1ClZZ%2FtcGVICWgbIaG90TKHg8cbsCe%2BhPA2aKI%2FldRBdyCMV0oGJTT7u88l%2F7Pd709PAFk43QpkgmeoUR14Z8OhQoWMkKMkCAFHvmG2GCx3Pj4U1Sxy5RH6tnNBPVhvEFbOrWB4IUjyWSDpxKazMq6w9fXsP2F8TTlBIuHjzyX%2BcTicXGgSdlJ2etUkQCDBoo%2B5oLLwO85CKH0vS3kkrBB19kEMQ5cxKs068NLHmBCdRP5h8dhLgF8%2BcMJWjA%2FZ3Ij40PLxQ8A22DGjlxFnkae0F97x8fkr5j91uhwIHl6EPc6yJ8v1NMX67J0AKJ5VcLADK%2BcuG%2FkY%2F9ixYOUxMXBiHdFHXjtzYlJCGI7efr4NX%2BG5RYCyk40N4i8W3Z23A17DzUCQJlga%2BgNPNeDHra0r5j%2FP57OwjQRHvdOtD4shkcx2VDhCx6vYZiv7MqpdTi1MGCxYDZGQNDYHMHQCcWgkkaKY5q%2B7n8BuSxBA1DVHLD7wIhy50XlSRR4hgM0fkABQLcJ5P%2Fn%2Bpydh4KM8GvCbEGWNiQVCVWH1G730Nh8ScxnyXk1cwCrI2YYOwcpJ0zJnVTXC5hC5dw4QgMnGnaRlz1IOJv5x1i8WQ1mRUUoRmD4NmgPBTyn8cDgdUqNPa2YbsceM4czZwr2Cp2st1hNB0W2NJswMIrgBvCbFQrZWAHhWYWDFX%2FJHMgqbNLjG1yLk8olkodiwmzEzn8F3L4GGw9i5PxWdMasgETpuwmeT%2FRfTLtEn1m5ULAZJ6oDyahFQpDCItgIaER4YsyFjBVEQnG64i9FK4TPCT%2FAxg2dVXKAMgapY2B86uYoaaXHLOYkKgmCS2SIH5jiUSszAT0LRPa5qSUJpP%2FuP9%2Fd2RmzKCwp0FLnxlsJW3d07N2e8CdAIJzUwHz7oAvPhoMBTMEOewwlV3qJ2BcQSd0mIKYBfCDUapGQaaz8RlNIp5lQ4QkBJ5rTo098EmbCb5f8WxYDEjVnQv8WKC%2BnmK9R5fRDRmI5n9TcSypBQ4lK68ozgEKGr6lCVikgnZmLI%2FwKpMymGFhLZxjkD0%2FMy2A6Ka6Ws%2BMQwcC8HpQiKxbtYwmfzHx8eHKRnEZ3Mcsf00tzB7Gl%2BdfBypfgwNfB3TPwA3qUM3o9Kuh889gzYLAEDqoDlYFcxE8SoKJuEAmzl0gznjRNgBvHgGbK%2BMEMDhYnwGZuIU0M0x%2Bvnk%2F1X%2BRfWB6RZOL%2BBDmZpTdKPRJbNyqQwnD80JmGWsVHxzuAmR%2BzAZcWPOyhvBy5y5UmhKzsSxzVJjCCiJEKkqtoIhLciqmFCFFWOmJh5SWDaZ%2FMd%2Bv3dkFo6iA6zkVh1AM4MHCAndgjnjOBAlchycII2TKvDQCckAYlAqJO9ea03xffDFMP8uFS%2F1mbwO74bfONJIMTHmpmg4ZuQsoUv%2BsydMf5hS%2FuPj4wPlyXxIU5gfiM2GeJnnukbWXyl5OoiIJTXG6QeKugoPfWO2E2fFCVRTz%2FLPuE4u60NhcMgwlPC4beCg%2B1kfoOfiRZYSUMyieZVmOxHcImI5pfzHbrdzOswa2Cwz703y2HQtI%2BTIzDNijlGp3S4NLZz0TV8rnGGrX5hrpi044e%2FMoJ214rKxNuYumyBvSItRs5YiukhqLyayMAXsBmLsSmFCSUdOI%2F%2BVhWuDzRAvl4vJX4QfOTdJltGnKwNKpw2YQDj58Hic5welAmwZDwgRdY1jQuGy07RkWEtWh%2F2UcBEpMCpniBqn%2FQGizH768%2BePBe02SeAeGwX667nhUZ7mBmsG9ZPJfxyPR%2Fs4JuS7WJuwmCMlpUeUuyc66ILyxy8tbHRX%2F7mCjwWwX8NBLKwEyr1tRxiGa7%2FI9BFNdsolRtA5aYBwadKHWwdlBXePvzoaBMxPCSHe5ZTyHx8fH8TKXBrm4kkH3%2FLPiCbPYkC26K5DooMAEyZHhi0AWOSIoA9cbQf0JuzpnhyGomRhbRPd39HrB7fYfCx0Pi66KwSRFZ6a8ZkrGTGmziyhPFJvPaX8x%2Bl0eq0NB1I4F1bo0uRxi0Nknhp9ugJByNOZeQizoDQzceWJk%2FD0LCzBz4gAfOpWma%2BcY3chi82iCsA1qGCpqDETf91xFCTEi4BHJTdcmpT4l5PJv5vbdnPbbm7bzW27uW03t%2B3mtt3ctpvbdnPbbm7bzW27uW03t%2B3mtt3c9l%2FL%2F%2FPzk%2BlhpwuvnrMOjiPG704BeL8kTU2URpH6FiG67fhYlwYYTNuBTYJJ9Lgq24VYg2VElDzCchkThFIafkDbxT4CbF1eZ7qBOSrmbZLZdR4a7D%2Bl%2FH80NdkNx5qa%2FLvk%2F6OpyUSKm5r86%2BTf1OSmJjc1uanJTU1uanJTk5ua3NTkpiY3NbmpyU1NbmpyU5ObmtzU5KYmNzW5qclNTW5qclOTm5rc1OSmJjc1uanJTU1uanJTk5ua3NTkpiY3NbmpyU1N%2FkfyPx6Pbl3v4xU%2Fs0gNz4g7iXx3IxF97oYARTp7mkAtoTZ3P8ft8jW49m%2FRzwBPg2LfUGXGCNFnmGt2j82YKw3ZIxmAjqOUhuHRNO7MbnqdEzXukl0IojPJfxwOB0b5GqAjqmauILrUN1FlQGhy7ocFgToZnlXMfndfXt8gZQOPmiX5UAh0%2BC%2FuS07CpJDHncH1bkhOkPdyWRyMXlsEt1Nnx9jCmgJq1ujrxcFTyr8DpB0g7QBpB0g7QNoB0g6QdoC0A6QdIO0AaQdIO0DaAdIOkHaAtAOkHSD9LQFSonC%2BIpFlMIDlCj%2FHDyliSbzEdXZAB9fvunbFl8MCg0DBsDd9e6Xv%2BTQcBpC6%2FpNSXasoIDPgwFeeOqaA423yu68jZEfyIsfJAGpAGdzJ1%2B07mfzH4XDIvi6a2Z4FHyCa8ur%2BcK05RF4Y0AAIe0mMuNTSeAAU6VpA%2FqHAYRArZ8veHIrKfh%2Byps4uUwtIt4PtdQIvU8pC%2BYYZxt5zhEMxiGzKOeX%2F%2Fv6eHZqwDQR%2BCw6JAykIFOUr8PNjTVCz6AnfuIzJh3DtE0wFusvWiN%2FYjniGrveyRFx%2F4nyFW2W4so8wqdW%2BO8DwsSwMVgannRUF%2FPpuUu%2FFbN8os%2Fnkv3KHE1xobjPnlvZywevtdgtqQz0STHPvCnQ7foer2yiAxLq7x1Dp6OIiT8A4GRsiv%2B7IYOerVICh7d0%2BBU%2FKQ%2FXNx8idHePKizieJDq8m509ZJcQ5p5S%2FmO32znAg3JzYxr3SYq75KuIXa1hq5G3kq%2F1KSGJwcLzMQA1kwGaoNvd%2F4luKmwdH0R8MeqcEvpD27uK96%2Br%2FK0GXIOPqvDrXGsf%2BQJ4sYPuYoXKxIfnrE8m%2F7Hf7%2FFlsOhuluL2N%2BD%2Fomlfiy1pFYfsOKAk3slbIXejzngcPiiZCR9maa3e8cg8SOsJVs78AhIaiBIEk4%2FFZnkZsA4O7lOhby6AYRnVjkiVxg2TyX%2Bcz2eOiA0qepV%2BhIB%2Fj9WNlEj1kwd1pN9ZNncysYnBSBN4TKQE9Yu3UvoyoMaNDEq9L7rd7g%2FmBqlRMM5a8svsIcMmegJCYnF9OssDOLMwCWhNKf8vU8hKuFUmh%2Bm1LyXxZVfvQw3IXzHhaP78xkn1PIS2Fs7ZueUXuQIzC9goRH3Qw8mOOXGBXnFfsjwNHojbCWVVWIaMzbEfMBZNQd2PxTgPCOWWjfj%2FPHMy%2BY%2FT6WSnurR0IlQNmiPiB5Ak5cQRtBNUnOFSzku21e4xZzcLhisUk8S3vAyBHQSBYMvgbxOYti9DroPguxvkuXMVqh6Hn8J2KvQj06LSYg3RkWyp8qL55D%2F2%2Bz1nkVgiTo2%2FxhpQjm2qE6k0UII5loRk8NvRFnQozEszPsd4%2FjOqjlIBbhMyePXqzehgrxDTy0ll57kSn13lfD7euPt2OA7JZG3pWFdwiTN9E8r%2FeDyiyUt7QvQ5noKbIZmJYRNjPqShg5lrJpyUnlLO2NvlRuXmlDh1StbZPhct5wDsJFvc8ddda91IE7TrPZSnQRPlse4eWCgrhXRgYpOP%2B3zy%2F%2BqaXELP7GtcDNQysXyn29zKB5jpGAlKsgBA1Dtmm%2BG6czCPhTXrXniO%2FFo5vXa1I1zErmJ5IEjxWCLpxKXcHanI2tO394D9NeEEhYSLN5%2F8x%2Bl0gqBNF6iy02mrhcdh0qCBMLkIZ%2F4Nit2bywEbjBfZqxyCKGe3bXFzTjLHCU6ifjD57guF2rA3ZI65qVeIz%2B32XHbhAg2glRNnNLh2Fjzc8%2FL5KeU%2FdrsdChxchj7MsSbK9zfF%2BO2eACmcVHKxACjH3apLDAYZuXlrXBiHdFHXjtzYlJCGI7efr7sLrfnK7mjtjBh9ZgkolI5I2MS8FHaee6Zl%2FGE92PDZFcjqTin%2FcT6fnX0kKOKdbn1IHNl3GYBqA0Ssun2G6L8INHHjJacyzIQ0soaGQOYOAO7WZ69Mc1bdz%2BE3JIkhahqilh94EQ5d6LyoIo8QwWaOyAEoFuA8n%2Fz%2FUpOx8VCeDXhNiDPGxIKUDmM4U2VfwyExpzHfLRfIuMzBxDc7t3lXDATYBTSNDid06RomBEFfP1s3iAYJ5yAvzrrFYkhrMiopQrOHQTNA%2BCnlPw6HAyrUaW3uiuEAuT%2B9tavrikwWcw4O1rbxL1Fj3%2F%2FB0SHRS0UloHuz2UT0tmKu%2BCOZ5ZuVgNjsMOfyiGah2LGYMDOdw3ctg4fB2vMn%2B4w07Dc7YEr5fxH9Mm1S%2FWblQoCkHiiPJiFVCoNIC6Ah4ZG55zPgseTty00vZin5%2FiDYVC46LdVXKAMgKnfRJNDnvH1%2BeblcchYTAi3XovjOC042cNWdTm2IASjWNCWhNJ%2F8f%2FTtX0yyb%2F%2F6dfL%2F0bd%2FURzSt3%2F9Ovn37V99%2B1ff%2FtW3f%2FXtX337V9%2F%2B1bd%2F9e1ffftX3%2F7Vt3%2F17V99%2B1ff%2FtW3f%2FXtX337V9%2F%2B1bd%2F9e1f3dy2m9t2c9tubtvNbbu5bTe37ea23dy2m9t2c9tubtvNbbu5bTe37ea2%2F0j%2Bn5%2BfTA87XXj1nHVwHDF%2BdwrA%2ByVpaqI0ipSKFHfb8bEuDTCYtgObBJPocVW2C7EGy4goeYTlMiYIpTT8gLaLfQTYurzOdANzVMzbJLPrPDTYf0r5%2F2hqshuONTX5d8n%2FR1OTiRQ3NfnXyb%2BpyU1NbmpyU5ObmtzU5KYmNzW5qclNTW5qclOTm5rc1OSmJjc1uanJTU1uanJTk5ua3NTkpiY3NbmpyU1NbmpyU5ObmtzU5KYmNzW5qclNTW5qclOTm5r8j%2BR%2FPB7dut7HK35mkRqeEXcS%2Be5GIvrcDQGKdPY0gVpCbe5%2Bjtvla3Dt36KfAZ4Gxb6hyowRos8w1%2BwemzFXGrJHMgAdRykNw6Np3Jnd9DonatwluxBEZ5L%2FOBwOjPI1QEdUzVxBdKlvosqA0OTcDwsCdTI8q5j97r68vkHKBh41S%2FKhEOjwX9yXnIRJIY87g%2BvdkJwg7%2BWyOBi9tghup86OsYU1BdSs0deLg6eUfwdIO0DaAdIOkHaAtAOkHSDtAGkHSDtA2gHSDpB2gLQDpB0g7QBpB0g7QPpbAqRE4XxFIstgAMsVfo4fUsSSeInr7IAOrt917YovhwUGgYJhb%2Fr2St%2FzaTgMIHX9J6W6VlFAZsCBrzx1TAHH2%2BR3X0fIjuRFjpMB1IAyuJOv23cy%2BY%2FD4ZB9XTSzPQs%2BQDTl1f3hWnOIvDCgARD2khhxqaXxACjStYD8Q4HDIFbOlr05FJX9PmRNnV2mFpBuB9vrBF6mlIXyDTOMvecIh2IQ2ZRzyv%2F9%2FT07NGEbCPwWHBIHUhAoylfg58eaoGbRE75xGZMP4donmAp0l60Rv7Ed8Qxd72WJuP7E%2BQq3ynBlH2FSq313gOFjWRisDE47Kwr49d2k3ovZvlFm88l%2F5Q4nuNDcZs4t7eWC19vtFtSGeiSY5t4V6Hb8Dle3UQCJdXePodLRxUWegHEyNkR%2B3ZHBzlepAEPbu30KnpSH6puPkTs7xpUXcTxJdHg3O3vILiHMPaX8x263c4AH5ebGNO6TFHfJVxG7WsNWI28lX%2BtTQhKDhedjAGomAzRBt7v%2FE91U2Do%2BiPhi1Dkl9Ie2dxXvX1f5Ww24Bh9V4de51j7yBfBiB93FCpWJD89Zn0z%2BY7%2Ff48tg0d0sxe1vwP9F074WW9IqDtlxQEm8k7dC7kad8Th8UDITPszSWr3jkXmQ1hOsnPkFJDQQJQgmH4vN8jJgHRzcp0LfXADDMqodkSqNGyaT%2FzifzxwRG1T0Kv0IAf8eqxspkeonD%2BpIv7Ns7mRiE4ORJvCYSAnqF2%2Bl9GVAjRsZlHpfdLvdH8wNUqNgnLXkl9lDhk30BITE4vp0lgdwZmES0JpS%2Fl%2BmkJVwq0wO02tfSuLLrt6HGpC%2FYsLR%2FPmNk%2Bp5CG0tnLNzyy9yBWYWsFGI%2BqCHkx1z4gK94r5keRo8ELcTyqqwDBmbYz9gLJqCuh%2BLcR4Qyi0b8f955mTyH6fTyU51aelEqBo0R8QPIEnKiSNoJ6g4w6Wcl2yr3WPObhYMVygmiW95GQI7CALBlsHfJjBtX4ZcB8F3N8hz5ypUPQ4%2Fhe1U6EemRaXFGqIj2VLlRfPJf%2Bz3e84isUScGn%2BNNaAc21QnUmmgBHMsCcngt6Mt6FCYl2Z8jvH8Z1QdpQLcJmTw6tWb0cFeIaaXk8rOcyU%2Bu8r5fLxx9%2B1wHJLJ2tKxruASZ%2FomlP%2FxeESTl%2FaE6HM8BTdDMhPDJsZ8SEMHM9dMOCk9pZyxt8uNys0pceqUrLN9LlrOAdhJtrjjr7vWupEmaNd7KE%2BDJspj3T2wUFYK6cDEJh%2F3%2BeT%2F1TW5hJ7Z17gYqGVi%2BU63uZUPMNMxEpRkAYCod8w2w3XnYB4La9a98Bz5tXJ67WpHuIhdxfJAkOKxRNKJS7k7UpG1p2%2FvAftrwgkKCRdvPvmP0%2BkEQZsuUGWn01YLj8OkQQNhchHO%2FBsUuzeXAzYYL7JXOQRRzm7b4uacZI4TnET9YPLdFwq1YW%2FIHHNTrxCf2%2B257MIFGkArJ85ocO0seLjn5fNTyn%2FsdjsUOLgMfZhjTZTvb4rx2z0BUjip5GIBUI67VZcYDDJy89a4MA7poq4dubEpIQ1Hbj9fdxda85Xd0doZMfrMElAoHZGwiXkp7Dz3TMv4w3qw4bMrkNWdUv7jfD47%2B0hQxDvd%2BpA4su8yANUGiFh1%2BwzRfxFo4sZLTmWYCWlkDQ2BzB0A3K3PXpnmrLqfw29IEkPUNEQtP%2FAiHLrQeVFFHiGCzRyRA1AswHk%2B%2Bf%2BlJmPjoTwb8JoQZ4yJBSkdxnCmyr6GQ2JOY75bLpBxmYOJb3Zu864YCLALaBodTujSNUwIgr5%2Btm4QDRLOQV6cdYvFkNZkVFKEZg%2BDZoDwU8p%2FHA4HVKjT2twVwwFyf3prV9cVmSzmHBysbeNfosa%2B%2F4OjQ6KXikpA92aziehtxVzxRzLLNysBsdlhzuURzUKxYzFhZjqH71oGD4O150%2F2GWnYb3bAlPL%2FIvpl2qT6zcqFAEk9UB5NQqoUBpEWQEPCI3PPZ8BjyduXm17MUvL9QbCpXHRaqq9QBkBU7qJJoM95%2B%2FzycrnkLCYEWq5F8Z0XnGzgqjud2hADUKxpSkJpPvn%2F6Nu%2FmGTf%2FvXr5P%2Bjb%2F%2BiOKRv%2F%2Fp18u%2Fbv%2Fr2r779q2%2F%2F6tu%2F%2Bvavvv2rb%2F%2Fq27%2F69q%2B%2B%2Fatv%2F%2Brbv%2Fr2r779q2%2F%2F6tu%2F%2Bvavvv2rb%2F%2Fq27%2B6uW03t%2B3mtt3ctpvbdnPbbm7bzW27uW03t%2B3mtt3ctpvbdnPbbm7bzW3%2Fkfw%2FPz%2BZHna68Oo56%2BA4YvzuFID3S9LURGkUKRUp7rbjY10aYDBtBzYJJtHjqmwXYg2WEVHyCMtlTBBKafgBbRf7CLB1eZ3pBuaomLdJZtd5aLD%2FlPL%2F0dRkNxxravLvkv%2BPpiYTKW5q8q%2BTf1OTm5rc1OSmJjc1uanJTU1uanJTk5ua3NTkpiY3NbmpyU1NbmpyU5ObmtzU5KYmNzW5qclNTW5qclOTm5rc1OSmJjc1uanJTU1uanJTk5ua3NTkpiY3Nfkfyf94PLp1vY9X%2FMwiNTwj7iTy3Y1E9LkbAhTp7GkCtYTa3P0ct8vX4Nq%2FRT8DPA2KfUOVGSNEn2Gu2T02Y640ZI9kADqOUhqGR9O4M7vpdU7UuEt2IYjOJP9xOBwY5WuAjqiauYLoUt9ElQGhybkfFgTqZHhWMfvdfXl9g5QNPGqW5EMh0OG%2FuC85CZNCHncG17shOUHey2VxMHptEdxOUki5NQAAAC1JREFUnR1jC2sKqFmjrxcHTyn%2FDpB2gLQDpB0g7QBpB0g7QNoB0g6Q%2Fnv5%2Fx9lWreXYOG0PQAAAABJRU5ErkJggg%3D%3D) repeat;
  border: 1px solid #333333;
  border-top-color: #404040;
  border-bottom-color: #262626;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003259}}
form.b-devise-form.black .section:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003264}}
form.b-devise-form.black .section:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003270}}
form.b-devise-form.black .section .input-prepended span.add-on {
  top: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003274}}
form.b-devise-form.black .section .input-prepended input, form.b-devise-form.black .section .input-prepended select, form.b-devise-form.black .section .input-prepended textarea {
  padding: 5px 8px 5px 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003278}}
form.b-devise-form.black .section .input-prepended input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #212121;
  border-bottom: 1px solid #404040;
  border-top: 1px solid #0a0a0a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003284}}
form.b-devise-form.black .section .input-prepended input:focus {
  background: #1a1a1a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003289}}
form.b-devise-form.black .section .social-toggler {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003292}}
form.b-devise-form.black .section .social-services li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color,border-color,color;
  -moz-transition-property: background-color,border-color,color;
  -o-transition-property: background-color,border-color,color;
  transition-property: background-color,border-color,color;
  background-color: #878787;
  border: 1px solid #828282;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Myriad Pro", Helvetica, Arial, Tahoma, sans-serif;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003271}}
form.b-devise-form.black .section .social-services li a:hover {
  background-color: #919191;
  border-color: #8c8c8c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003275}}
form.b-devise-form.black .section .social-services li a:active {
  background-color: #7d7d7d;
  border-color: #787878;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003296}}
form.b-devise-form.black .section .submit, form.b-devise-form.black .section .reset {
  text-shadow: none;
  height: 34px;
  line-height: 35px;
  padding: 0 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003302}}
form.b-devise-form.black .section .submit {
  background: #76b718;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003305}}
form.b-devise-form.black .section .submit:hover {
  background: #7fc51a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003308}}
form.b-devise-form.black .section .submit:active {
  background: #6aa516;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003312}}
form.b-devise-form.black .section .reset {
  color: #e6e6e6;
  background: transparent!important;
  border-color: transparent!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003317}}
form.b-devise-form.black .section .reset:hover {
  color: white;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form\.css\.scss}line{font-family:\00003321}}
form.b-devise-form.black .section .reset:active {
  color: #d9d9d9;
}
