@charset "US-ASCII";
/*
=============================================================================
  Author: Roman Dubinn
  Date: 04.05.2012
  Description: chosen plugin special for our registration forms
=============================================================================
*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000315}}
.chzn-container {
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000321}}
.chzn-container .chzn-drop {
  background-color: #85ce1b;
  border: 1px solid #67a015;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000333}}
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  color: #2d4609;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000345}}
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000354}}
.chzn-container .chzn-results li em {
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000359}}
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
  border-top: 1px solid #8ddb1d;
  border-bottom: 1px solid #70ae17;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000367}}
.chzn-container .chzn-results .active-result:first-child {
  border-top-color: #85ce1b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000371}}
.chzn-container .chzn-results .active-result:last-child {
  border-bottom-color: #85ce1b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000375}}
.chzn-container .chzn-results .active-result.highlighted {
  background-color: #76b718;
  border-top: 1px solid #76b718;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000381}}
.chzn-container .chzn-results .active-result.highlighted em {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000387}}
.chzn-container .chzn-results .no-results {
  display: list-item;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000392}}
.chzn-container .chzn-results .group-result {
  cursor: default;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\0000397}}
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003106}}
.chzn-container-single .chzn-single {
  border-radius: 3px;
  background-color: #598a12;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding: 4px 8px 4px 24px;
  color: white;
  text-decoration: none;
  box-shadow: inset 0px 1px #476f0f, inset 0px -1px #85ce1b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003123}}
.chzn-container-single .chzn-single span {
  text-shadow: 0px 1px #333;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003131}}
.chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003139}}
.chzn-container-single .chzn-single div b {
  display: block;
  padding-top: 3px;
  font-family: FontAwesome;
  text-shadow: 0px 1px #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003151}}
.chzn-container-single .chzn-single div b:before {
  content: "\f078";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003159}}
.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003166}}
.chzn-container-single .chzn-search input {
  margin: 1px 0;
  padding: 4px 20px 4px 5px !important;
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003186}}
.chzn-container-active .chzn-single-with-drop div b:before {
  content: "\f077";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003199}}
.invalid > .input-prepended .chzn-container .chzn-drop {
  background-color: #ff9d07;
  border: 1px solid #c97900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003204}}
.invalid > .input-prepended .chzn-container .chzn-results {
  color: #7d4b00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003207}}
.invalid > .input-prepended .chzn-container .chzn-results .active-result {
  border-top: 1px solid #ffa317;
  border-bottom: 1px solid #e38900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003211}}
.invalid > .input-prepended .chzn-container .chzn-results .active-result:first-child {
  border-top-color: #ff9d07;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003215}}
.invalid > .input-prepended .chzn-container .chzn-results .active-result:last-child {
  border-bottom-color: #ff9d07;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003219}}
.invalid > .input-prepended .chzn-container .chzn-results .active-result.highlighted {
  background-color: #ed8f00;
  border-top: 1px solid #ed8f00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003228}}
.invalid > .input-prepended .chzn-container-single .chzn-single {
  background-color: #ba7000;
  box-shadow: inset 0px 1px #9b5e00, inset 0px -1px #ff9d07;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003234}}
.invalid > .input-prepended .chzn-container-single .chzn-search input {
  background-color: #ba7000;
  box-shadow: inset 0px 1px #9b5e00, inset 0px -1px #ff9d07;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003239}}
.invalid > .input-prepended .chzn-container-single .chzn-search input:focus {
  background-color: #b06a00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003248}}
.black .chzn-container {
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003254}}
.black .chzn-container .chzn-drop {
  background-color: #333333;
  border: 1px solid #333333;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003266}}
.black .chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003278}}
.black .chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003288}}
.black .chzn-container .chzn-results li em {
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003293}}
.black .chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #2e2e2e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003301}}
.black .chzn-container .chzn-results .active-result:first-child {
  border-top-color: #404040;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003305}}
.black .chzn-container .chzn-results .active-result:last-child {
  border-bottom-color: #404040;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003309}}
.black .chzn-container .chzn-results .active-result.highlighted {
  background-color: #333333;
  border-top: 1px solid #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003315}}
.black .chzn-container .chzn-results .active-result.highlighted em {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003321}}
.black .chzn-container .chzn-results .no-results {
  display: list-item;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003326}}
.black .chzn-container .chzn-results .group-result {
  cursor: default;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003331}}
.black .chzn-container .chzn-results .group-option {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003340}}
.black .chzn-container-single .chzn-single {
  border-radius: 3px;
  background: #212121;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 23px;
  line-height: 23px;
  padding: 4px 8px 4px 24px;
  color: white;
  text-decoration: none;
  box-shadow: inset 0px 1px #0a0a0a, inset 0px -1px #404040;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003357}}
.black .chzn-container-single .chzn-single span {
  text-shadow: 0px 1px #333;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003365}}
.black .chzn-container-single .chzn-single div {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003373}}
.black .chzn-container-single .chzn-single div b {
  display: block;
  padding-top: 3px;
  font-family: FontAwesome;
  text-shadow: 0px 1px #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003385}}
.black .chzn-container-single .chzn-single div b:before {
  content: "\f078";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003393}}
.black .chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003400}}
.black .chzn-container-single .chzn-search input {
  margin: 1px 0;
  padding: 4px 20px 4px 5px !important;
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003420}}
.black .chzn-container-active .chzn-single-with-drop div b:before {
  content: "\f077";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003433}}
.black .invalid > .input-prepended .chzn-container .chzn-drop {
  background-color: #ff9d07;
  border: 1px solid #c97900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003438}}
.black .invalid > .input-prepended .chzn-container .chzn-results {
  color: #7d4b00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003441}}
.black .invalid > .input-prepended .chzn-container .chzn-results .active-result {
  border-top: 1px solid #ffa317;
  border-bottom: 1px solid #e38900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003445}}
.black .invalid > .input-prepended .chzn-container .chzn-results .active-result:first-child {
  border-top-color: #ff9d07;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003449}}
.black .invalid > .input-prepended .chzn-container .chzn-results .active-result:last-child {
  border-bottom-color: #ff9d07;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003453}}
.black .invalid > .input-prepended .chzn-container .chzn-results .active-result.highlighted {
  background-color: #ed8f00;
  border-top: 1px solid #ed8f00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003462}}
.black .invalid > .input-prepended .chzn-container-single .chzn-single {
  background-color: #ba7000;
  box-shadow: inset 0px 1px #9b5e00, inset 0px -1px #ff9d07;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003468}}
.black .invalid > .input-prepended .chzn-container-single .chzn-search input {
  background-color: #ba7000;
  box-shadow: inset 0px 1px #9b5e00, inset 0px -1px #ff9d07;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/devise_forms\/b-devise-form__chosen-select\.css\.scss}line{font-family:\00003473}}
.black .invalid > .input-prepended .chzn-container-single .chzn-search input:focus {
  background-color: #b06a00;
}
