
get_bottom_strip()
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA%2BUO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wJGQk4GmwFcp4AAAA8SURBVBjTY%2FTy8vrPQAAwCgsLE1TExEAEoJ4iRgYGhlRCilgYGBieEaPoNTGK3hGj6CMxir4R4ztmQooAOBsIQvhc190AAAAASUVORK5CYII%3D") repeat-x scroll 0 0 transparent

get_grid_bottom()
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA8gAAAAGCAYAAAAfWLdbAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKEAgVBI1KSn8AAADYSURBVHja7dCxbUIxFIXhQwq%2FAuwJXCExAhKCxg3No0NI0RvH4zBIai%2BRCSy5oDppEylZ4OX%2FyntP9W8kvffeP1NKk6QPSS8BAAAAALB%2Bk6RL7%2F2VUspvkp4xxs2yLFtJR%2FoAAAAAAP6J47Is2xjjRtJTkmQ7jTHmnPNd0oFGAAAAAICVO%2BSc72OM2Xb68bG9b63NIYSHpEQrAAAAAMBKpRDCo7U2297%2FurB9qrXeJF3pBQAAAABYqWut9Wb79OfC9mT7XErZ0QsAAAAAsEallJ3ts%2B3p%2B%2F0LpFJBw2ZUCZ4AAAAASUVORK5CYII%3D") repeat-y scroll 0 0 transparent

get_left_divider()
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAdEAAAAICAYAAACmhcXIAAAABmJLR0QA%2FwD%2FAP%2BgvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3AsaDSwiBdVJBwAAAENJREFUaN7t1aEBACAQxDDA3Qrsv%2BcjsAhAJyPUtFVVAwDu1Z7nHFIAwB8TBQATBQATBQATBQATBQDOE02iBAA8SNIXdMcHWZOv8hgAAAAASUVORK5CYII%3D") repeat-y scroll 0 0 transparent

get_grid_horizontal()
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wJGwsfAOIvJWQAAAAXSURBVAjXY2RgYAhnIAIw%2Fv%2F%2FX54YhQCUVQN2NSoVfQAAAABJRU5ErkJggg%3D%3D") repeat-x scroll 0 0 transparent