/*
  ===========================================================================================================
  COLORS
  =========================================================================================================== */

$beige:           #f2f2f2 // main bkg color
$gray-dark:       #333333 // header and special section
$gray-darker:     #1a1a1a // header border and grey accent

$gray:            #ebebeb
$gray-middle:     #ccc
$gray-middle_2:   #bcbcbc

$gray-light:      #878787 // support colors
$gray-light_2:    #6d6d6d
$gray-middle:     #646464
$gray-dark:       #4a4a4a
$gray-dark_2:     #363636
$c-gray: #737373
/*
  ===========================================================================================================
  FONTS
  =========================================================================================================== */

$mini-font-size: 12px
$small-font-size: 12px
$middle-font-size: 13px
$base-font-size: 14px
$bold-font-size: 15px
$megabold-font-size: 16px

$base-font-family: 'Myriad Pro', Helvetica, Arial, Tahoma, sans-serif
$special-font-family: Georgia, 'Nimbus Roman No9 L', serif
$monospace-font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace

$default-border-radius: 5px

/*
  ===========================================================================================================
  BACKGROUNDS
  =========================================================================================================== */
$background-grid-width: 968px
$body-grid-width: 962px
// sublime noise pattern
$body-background: url("/assets/global/gray_bg.gif")
// dark grey with noise (new header background etc)
$body-grid-url: 'layouts/grid_body.png'

$header-grid-url: 'layouts/header/grid.png'
$header-grid-bottom-url: 'layouts/header/grid_bottom.png'
$header-background-url: 'layouts/header/background.gif'
$header-background-bottom-url: 'layouts/header/background_bottom.png'
$header-background: $header-backgorund-color image-url('layouts/header/background_black.gif')

$footer-background-url: 'layouts/footer/background.gif'
$footer-grid-url: 'layouts/footer/grid.png'
$footer-grid-bottom-url: 'layouts/footer/grid_bottom.png'
$footer-grid-horizontal-url: 'layouts/footer/grid_horizontal.png'

// datepicker and other brighly green elements
$elements-background: $elements-background-color
// подсветка активного блока страницы справки
$active-block-background: #e2e2e2


