@charset "US-ASCII";
/*
  
  CSS reset file.
  
*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000311}}
body {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  cursor: default;
  color: #333333;
  background: white;
  min-width: 958px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000321}}
img {
  border: 0;
  vertical-align: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000326}}
div, input {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000330}}
header, nav, aside, section, article, footer {
  display: block;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000335}}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000337}}
h1, h2, h3, h4, h5, h6 {
  /* mb not here */
  margin: 0;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000343}}
h1, h2, h3 {
  font-family: "PFDinTextCondProThin", Tahoma, Arial, Verdana, sans-serif;
  font-weight: normal;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/\.rvm\/gems\/ruby-1\.9\.3-p327\/bundler\/gems\/ultimate-base-46545afbd34e\/app\/assets\/stylesheets\/ultimate\/mixins\/font\.css\.scss}line{font-family:\0000368}}
h1 .bold, h2 .bold, h3 .bold {
  font-family: "PFDinTextCondProRegular";
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000348}}
h1 {
  font-size: 38px;
  line-height: 41px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000348}}
h2 {
  font-size: 36px;
  line-height: 39px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000348}}
h3 {
  font-size: 22px;
  line-height: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000348}}
h4 {
  font-size: 19px;
  line-height: 22px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000348}}
h5 {
  font-size: 16px;
  line-height: 19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000348}}
h6 {
  font-size: 12px;
  line-height: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000363}}
p {
  margin: 0;
  cursor: text;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000368}}
span {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000372}}
a {
  outline: none;
  text-decoration: none;
  color: #76b718;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000376}}
a span, a p {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000379}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000384}}
table {
  width: 100%;
  border-collapse: collapse;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000388}}
table tr > th, table tr > td {
  padding: 0;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/reset\.css\.scss}line{font-family:\0000392}}
table tr > th {
  font-weight: normal;
}
