@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\000038}}
.b-wizard .seats .content {
  margin: 0 auto;
  width: 846px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\0000372}}
.b-wizard .seats .passengers:before, .b-wizard .seats .passengers:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\0000377}}
.b-wizard .seats .passengers:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000315}}
.b-wizard .seats .passengers .subheader {
  margin-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000318}}
.b-wizard .seats .passengers .clear {
  clear: both;
  height: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000322}}
.b-wizard .seats .passengers .container {
  width: 255px;
  margin-right: 30px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000327}}
.b-wizard .seats .passengers .container.last {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000331}}
.b-wizard .seats .passengers .container > .title {
  float: right;
  right: 50%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003120}}
.b-wizard .seats .passengers .container > .title > div {
  float: right;
  right: -50%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000334}}
.b-wizard .seats .passengers .container > .title > .inner {
  color: #6d6d6d;
  margin-bottom: 12px;
  padding-top: 12px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000340}}
.b-wizard .seats .passengers .container > .title > .inner.adults {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAjCAYAAADxG9hnAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKBQ81HR4tdzUAAAKmSURBVFjD7Zi9axRBFMB%2Fd1HxTONHYjSIHwciNmf0oTbRSi4mMWAK0UaQiEgUIaBoIYjY5FA7IYWIhRG%2FQJsg%2BjcEH2iKaOGRU2MiqDFqNBiM2szK3LB7uyurWNxrZubNmze%2FnX3zZnahKuWSCuoQkQ3AJSAHDAPHVFXjTiAiJ4DDpnkFOK%2BqPyOBiEgGKALLLfVbIKuqUzEg9gPXHPVBVb3q2qYDfOQcCIB6YGPMBdnpo2vzMwwCeQHMOrofQCkmyIiP7nlkEFV9Axy3YGaBU6r6KibIRWDQaj8CLkQKVhGpBbJADdBg6iVgHPgOFFV1OmKM1AErgPVGNQyMqur7QBARSQFngZPA%2FAr%2Bp4FzqlqoAFAPXAfyASYDQJeqvvN7NUeAMyEQABmgV0S6AiBSZqJ8BR8dwN2gGDkU8%2F0fDdBvA7ZGGL9dRJr9QFaa8luIA69%2FSUB%2FpylLwKhPfxF46diWgXj1AvCxAkghBNRzfg%2Bo8%2BlfDNwy9d1heeSPRESagFWm%2BSUg3hYB3q7JikgucRDrCcd8MrMtDSYd%2FF7BpEE6re3ZFrJrBmz4dIKvZY05ozBB2ljBfC3w1NSbRGR1kiuyy5RTQG0E%2BwUmjgDakwSZNGV%2FSDLzJG%2ByL8CEDTLmOAybcNI5KPtNgPYCmyKANAOngUZVvZl27gl7gD5nwG2n3QfstZORc2q3RlzBGqBFVccB5lhOSt59Q0TsAc%2BcyWaAOxFiJYp0ADf%2BRkLLADtiDGkVkbllK5KQLAMuW%2B1uYB7wxGTZdcBnwL6zLgVeJwqiqiNAj7VCBwzIY2ChAZlQ1Z6od9Z%2FLlWQKkgVJCkQ77NwBnhoXZiHYvr%2FYH0LfTL1r36GQQmt3ZwDg6o6JCKbgS3A%2FZgg%2B4AW8zsiZR7wwX%2F9o%2BYXXF%2BqyRIASokAAAAASUVORK5CYII%3D) no-repeat;
  height: 23px;
  padding-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000345}}
.b-wizard .seats .passengers .container > .title > .inner.children {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAjCAYAAABLuFAHAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKBQ81HockJo8AAAGBSURBVEjH3ZRNK0RRGMd%2FrklC3orZMUpZ2Kin2PoGVrY2Vsraho2l4gMIS76Bl2wkK%2FIXS0VZIaPGyzCTYmzO6HS7d%2BYaSnk25%2FS%2F93ee83%2FOeQ78IOrKEzNrArqAInAnqVQNDhzYDNwAV8AtsJgkc%2BDGHqDV06fMLEgK14X0VIQWC9%2BH9H1J74lgSXfAttMKwGwSzylvPgaMA9eSjmo6OzMbTfpv8JNL8ndwKuS3HXgIaX1AL3AsKV8p85CkUw%2BcBi6BPeDCzAYSbdvMGoAF76algZlI2MwyrjHKUQ80htZsicuckfQFSyoAa973D2A1tmARMeX89gObkk6qwmbWBhy4Kj%2B6rJNmdgZsSVoOvyQZN80Bu8BwxLqHwAjQLSkbeB6vgEEPPKlgJx11VHMO3ADWI6Bzv9BheAdYAiacz3AUYgsmad6rwa83xjPwWt5B6pvwC9Ah6a2mliyDSeEccF2r5ycg%2B4%2FesEpw0Y15d7a%2BVrWfV4AtV%2B0S0BlX9ZriE9a%2BcPVBvLOtAAAAAElFTkSuQmCC) no-repeat;
  height: 23px;
  padding-left: 21px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000350}}
.b-wizard .seats .passengers .container > .title > .inner.infants {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAjCAYAAACZ6FpfAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKBQ81G%2FdO0gAAAAHpSURBVEjH7ZU7aBVREIa%2F3SsBAz4gILJIGmtBGTRgIxZiRK4YuCoYQey1t7CyithYBNOkjYgGRE2hKUwgNoK%2FhQELwcY8FiQpEh8YQWIzVw6bc9ZcwUYysLA7%2F5lv55yZ2YUt27L%2F0bI60cz2Av1ADjyTtNgxyMxOAw%2BAbnd9By5KerRpkJltB%2BaAnoq0AvRKWq3G5ImEDkUgALuAI7GAFOhrzdGtdgJ6Cyjin0344yBJ68BZ4EXgngGakn52cti5g3q9aplv9yPwOAbLIpAu4CFwJrHtJ8A5ST%2BSIIeMA80%2FNPJToBXCsr%2BARGF5AvKhBtDWmsC4x%2F6u2lgAuQUM14CGfU0bdt%2FMstzMdgMtF25Lug6s%2BTjErjVf04YNAHsy39oFYBtwz3toU2Zml4B1SWOx8ncDd4EbkuYr2j7gJnBV0rdkZztkArgMTHtgCJkGrgATvjbZR5PAiUqFDgINn7H9gfZcUv%2BGjMyspwIBGJX0RdIKMFrRTprZjg0gScvA%2B2DhiKShQB8CRgL9naTPqelvAUt%2BP2hmfUHGfcCgPy552WuH9gDwEtjpH7Fj%2FsIp9y0DxyXNhnGNKqgsy09FUUwB5z0Q4DBw1MGnJL2pxjVijVaW5UJRFJOe8R3gFdAFXJP0%2Bp%2F%2BIH8BF9StIQ12tbkAAAAASUVORK5CYII%3D) no-repeat;
  height: 23px;
  padding-left: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000358}}
.b-wizard .seats .passengers .container > .selectors {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000361}}
.b-wizard .seats .passengers .container > .selectors.jPaginate {
  position: relative;
  font-size: small;
  width: 100%;
  margin-left: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000367}}
.b-wizard .seats .passengers .container > .selectors.jPaginate a {
  cursor: pointer;
  padding: 2px 5px;
  margin: 0px 1px;
  width: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000374}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back {
  left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000377}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front {
  cursor: pointer;
  position: absolute;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000382}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-sprevious-img, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-snext-img, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-sprevious-img, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-snext-img {
  cursor: pointer;
  display: block;
  height: 39px;
  position: absolute;
  top: -3px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000390}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-sprevious-img, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-sprevious-img {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAnCAYAAABuf0pMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3MjQwMTYwRDIzMjA2ODExODIyQTkwNENDRjkzMUQzRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1MTBDRDQxMzFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1MTBDRDQxMjFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzU0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw%2FeHBhY2tldCBlbmQ9InIiPz41NKOTAAAB%2BklEQVR42mLZcr2BjYGBoRuIY4BYiIE%2B4D0QLwbiUpY%2F%2F3%2F3Pnx%2FKufll1sMf%2F79pIvtLEzsguI8annyAma%2FmC0i2dY9%2B3yF5d%2F%2Fvwz0AiC7Pv98BaT%2FGTG9%2BnqHg2GAwMsvNziY6BXs2ADIbiaGAQajDhh1wPBywOc3fxl%2Bff9Pfwd8ff%2BP4cXt3wzeal0MKiJe9HMAzGI76WqGiUnXGZyNQhl%2BMrwhrV4gx%2BLvn%2F4Bg%2Fsfg6dOLYObXyQDBzsXw%2FH7axh23K0gvWIix3ID%2FmwGT9dYBkFeMbItJtsBtmq5DKEGNQwnr%2B9mqFtrxsAjzMzAxslIv1xw4%2B1mhhMP1jOYa7oyFLhvZhD96cHw7skfklM%2F2Q748vsRw%2FobWQzNe80ZfjN9YaiKWIDikH9%2F6VQOgByy%2FHIsQ99hP4RD3DYzsP%2BTpW858PLrabhDWIBNGzUpO9pnQ1wOmXcucLQyGnXAqAOGoAP%2B%2Fx84y0F2MzH8ZR6wrtH%2FP8w%2FmT69%2Fb3s7%2B%2F%2FDPQMCZBdIDs%2Fv%2Fm9gFFMiUXOr1KgiZOPKZCRiYGPLg74x%2FAJ2LBZv6n9Qx2oJSEMxFxADBqoYKZTIIAq7V9A%2FA1UGf2AdVaRHMBIK8%2BjOeAHyCJWaK3ITMds%2BQ%2FqiD%2BMUN8yQWlGeqVDKP7H%2BH8gC4LBUBICBBgAN5fPZIVkgwcAAAAASUVORK5CYII%3D) repeat-x;
  left: -27px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000394}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-sprevious-img:hover, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-sprevious-img:hover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAnCAYAAABuf0pMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3MjQwMTYwRDIzMjA2ODExODIyQTkwNENDRjkzMUQzRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1MTBFOTRBODFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1MTBDRDQxQTFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzU0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw%2FeHBhY2tldCBlbmQ9InIiPz5q%2F4RWAAAB8klEQVR42mLZeb%2BRjYGBoRuIY4BYiIE%2B4D0QLwbiUpY%2F%2F%2F70Pv58Kuf191sMf%2F79pIvtLEzsgqKcanmyPKa%2FWB5%2BOpHy8ttVBnoCkEeff70MZDHmML39cYeDYYDA6%2B83OZjoFey4QoKJYYDBqANGHTC8HPDp1V%2BGX9%2F%2F098BX97%2BY3h%2B8zeDm1wng5KgB%2F0cALPYUrSSoTP8KoOjXgjDT4a3pNUL5Fj87eM%2Fhs%2Bv%2FzK4qNUwODtHMnCycTGcfLaWYd%2BTStIrJnIs1%2BHIYnDzj2EQ5BYj22KyHWClmMMQoFHNcPrWbobWcxYMvKLMDGycjPTLBbc%2FbWE4%2FWw9g6maK0OW3UYGwc%2FuDG8f%2FSE59ZPtgK9%2FHjFsfZDD0H3KkuEPyxeG0oD5KA7595dO5QDIIWvvxDNMPecPd0im7UYGtj8y9C0HXv84A3cIKycDg4q4Le2zIS6HLL0RPFoZjTpg1AFD0AH%2F%2Fw%2Bc5SC7mf7%2BZB6wrhHIbqYPL34tA9Vk9AwJkF0gO98%2F%2F7WAUVyZVS6gVqCJi58pkJGJgY8uDvjH8AnYsFm%2FoflDHaglIQzEXEAMGqhgplfoA%2FEvUAMLVBn9gHVWkRzASCvPozngB8giVmityEzHbPkP6og%2FjFDfMkFpRnqlQyj%2Bx%2Fh%2FIAuCwVASAgQYADMWzDLXI%2BZNAAAAAElFTkSuQmCC) repeat-x;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\0000397}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-sprevious-img:active, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-sprevious-img:active {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAnCAYAAABuf0pMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3MjQwMTYwRDIzMjA2ODExODIyQTkwNENDRjkzMUQzRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1MTBFOTRCMDFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1MTBFOTRBRjFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzU0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw%2FeHBhY2tldCBlbmQ9InIiPz5hCVQSAAAB2UlEQVR42uyYTShFQRTH%2FzP3Pg%2BPRwgbykI%2BEll4SlGSJB42RJE1xY4sfO0srMnWwgYrvY2s9BaKDRJJkZQQeVwf1%2FPmXnfqkpTFuzGzuVOnqamZ%2F%2B%2BcmnPODDFNEzIH6VhIT01PU8I%2BhZYrhBARoszy%2BpkZ%2B5EHVqum%2BZWwX1UqRHrNHeWaph8bNEWl5bLCb2kHqKiw%2FxYJCsnDBXABXIA%2FBXi6M%2FCum%2BIBXiIGbk5j6CibRVFOiziAT%2BGGggnMDx6hMdCJF%2BM2rjNUJ8KvmoFnK9zByik0dXcjyetD%2BGQVocPRuM9SnYhXZQ2hpa0PGf5sx8KOAepLh9FTPYGtgw2MLVUhJYPCk%2Bi8ninVXb7peDY86Nfw0kzUlLSiMKcOF2cRXN4eQ%2FUQKCr5%2F2uoRc%2BxvDeA8bUAokTDZP8iRttCyGXNuL9kMJigPMBBFnd6MbMe%2FAIZCYaQaOaLzQNX2vYXiOoFivPq4mtKh1eypbbFbjFyAVwA%2BQBM4vOYa9PHN3YoC%2BBRZ7t0c05rv3%2BNHYmMBNfimpvzWievn5mWJVuWwMuzKAbLoryr4w2Jbi%2FGvgH814vZ%2FAGgcyGP3RkpAm%2BFYUPEiO0ttWdRfwWmbQaR%2FUklPRF9CDAAb9yu0RMCGDoAAAAASUVORK5CYII%3D) repeat-x;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003100}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-sprevious-img.inactive, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-sprevious-img.inactive {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAnCAYAAABuf0pMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3MjQwMTYwRDIzMjA2ODExODIyQTkwNENDRjkzMUQzRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1MTEwN0VBMzFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1MTEwN0VBMjFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzU0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw%2FeHBhY2tldCBlbmQ9InIiPz4NctlAAAABwElEQVR42mJhYGBgBGJ5IBYBYhYG%2BoA%2FQPwGiB8yiomJKb169Qpk8Rcg%2FksnBzABMa%2BEhMQvJmVlZW4g5yMdLQeBfyA7FRUVeUHBL0Vny5EBM9MAWg4Cf5kYBhiMOmDUAaMOoJoD9PX1czQ0NPTo7gA9Pb1YY2Pjk%2Fz8%2FCXZ2dmSdHMAzGI%2BPr6miooKvv379%2F8Esm%2BQag7J1a%2Burq4vKytrLhcXl2p%2Bfv6PoKCgX8DadCozM%2FMUcjzCQqrlbGxss6Oiot4VFBRQZDFZDpgxYwbXo0ePGHp6eoSWLFmy%2Bfv374corg6BmIdYxby8vE8SExMZ09LSzD58%2BMBx7969XGCjQl1AQODhmzdvXpLjAFB7QJxUTcC4529qaqr59etXLDBUHm7YsEH%2B379%2Fm1%2B%2BfFny7NmzjzR3AAwsXLhQPiAgIAfkEGC0PLtw4UL1zp07t9PNAcgOCQ4Orrlx48ZiExOTQ3R3wGhdMOqAUQdQ5ICysjKBgbIcZDfj%2Ffv3y4B9tIUD4QBgxZbKJCcnJ%2FHkyZOUoqIifnpZDLILZKe0tDQ3w%2F%2F%2F%2F9mAeCIQv%2FtPP%2FAOaicbI5AYzYajDhjZDgAIMAAbqg9aY87%2B%2BAAAAABJRU5ErkJggg%3D%3D) repeat-x !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003104}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-snext-img, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-snext-img {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAnCAYAAABuf0pMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3MjQwMTYwRDIzMjA2ODExODIyQTkwNENDRjkzMUQzRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowOTMxMTYwMjFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowOTMxMTYwMTFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzU0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw%2FeHBhY2tldCBlbmQ9InIiPz4Tywb9AAAB7klEQVR42mLZcr2BjYGBoRuIY4BYiIE%2B4D0QLwbiUpY%2F%2F3%2F3Pnx%2FKufll1sMf%2F79pIvtLEzsguI8annyAma%2FmC0i2dY9%2B3yF5d%2F%2Fvwz0AiC7Pv98BaT%2FGTG9%2BnqHg2GAwMsvNziY6BXs2ADIbiaGAQajDhh1wNBzwNf3%2Fxh%2Bff8%2FcA5wUa1mEP3pwfDuyR%2BqOIRkB%2FDz8zNURSxgKHDfTBWHMJZtlyBZtzi3KYOTUh6DgbQLw9XHJxg2Hp3BcP%2FLVgY%2BMWYGFjZG2jsAm0Mu3z%2FBsOxgC8M%2FibP0cwAsUfL%2FNWUo8Z%2FHIMgrxlC%2BQ5K0qpkSiz%2B%2F%2BcvgrV%2FH4GYcycAITE3brk8mvW1AqoafX%2F8xvH8GtdgvkoGDnYth3%2B15DAcftpHXOCFVg5ZgDEOYRwXY4uP31zDsuFtBWeuIVA16SjYM559to9hish2w%2FkbWaGU06oBRBwwzB%2Fz%2FP3CWg%2BxmYvjLPGBdo%2F9%2FmH8yfXr7e9nf3%2F8Z6BkSILtAdn5%2B83sBo5gSi5xfpUATJx9TILBK5aOLA%2F4xfPr%2B6d%2F6Te0f6kDtJ2Eg5gJi0EAFM50CATQW8AuIv4Eqox%2BwziqSAxhp5Xk0B%2FwAWcQKrRWZ6Zgt%2F0Ed8YcR6lsmKM1Ir3QIxf8Y%2Fw9kQTAYSkKAAAMAUwW%2F3O46iD4AAAAASUVORK5CYII%3D) repeat-x;
  left: -4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003108}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-snext-img:hover, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-snext-img:hover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAnCAYAAABuf0pMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3MjQwMTYwRDIzMjA2ODExODIyQTkwNENDRjkzMUQzRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1MTBDRDQxNzFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1MTBDRDQxNjFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzU0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw%2FeHBhY2tldCBlbmQ9InIiPz7fCeQ6AAAB0klEQVR42mLceb%2BRjYGBoRuIY4BYiIE%2B4D0QLwbiUpY%2F%2F%2F70Pv58Kuf191sMf%2F79pIvtLEzsgqKcanmyPKa%2FWB5%2BOpHy8ttVBnoCkEeff70MZDHmML39cYeDYYDA6%2B83OZjoFey4QoKJYYDBqANGHTD0HPDl7T%2BGX9%2F%2FD5wD7OWrGAQ%2FuzO8ffSHKg4h2QH8AvwMpQHzGbLsNlLFISQ7YN%2BTSoap5%2FwZ%2FrB8wXDIn1%2F%2F6ZMIX%2F84w7D2TjyKQzKsNzIwvTCiby4AOWThyViGxnW%2BDFJCygxNEVtIr5rJtRyUGz6%2F%2BcvgplnD4KwfycAE9Mque1No74AfX%2F4xvH8Ktdg5koGTjYvh4KP5DMdetJPXOCFVgzpPFENgeAXY4pPP1oITJUWtI1I16CjYMFx6s51ii8l2wNYHOaOV0agDRh0wzBzw%2F%2F%2FAWQ6ym%2BnvT%2BYB6xqB7Gb68OLXMlCLhp4hAbILZOf7578WMIors8oF1Ao0cfEzBTIyMfDRxQH%2FGD59%2B%2Fhv%2FYbmD3WMQL4wEHMBMWiggpleoQ%2FEv4D4G6gy%2BgHrrCI5gJFWnkdzwA%2BQRazQWpGZjtnyH9QRfxihvmWC0oz0SodQ%2FI%2Fx%2F0AWBIOhJAQIMAAbfMEiwjTXewAAAABJRU5ErkJggg%3D%3D) repeat-x;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003111}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-snext-img:active, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-snext-img:active {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAnCAYAAABuf0pMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3MjQwMTYwRDIzMjA2ODExODIyQTkwNENDRjkzMUQzRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1MTBFOTRBQzFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1MTBFOTRBQjFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzU0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw%2FeHBhY2tldCBlbmQ9InIiPz7tEe%2FQAAABrUlEQVR42mL8%2F%2F8%2Fw0ACxoAZArwC%2FMyHuZmZ9JgZGRnpYelfoK%2B%2F%2Fv136cPHv7Ys%2FHzMh%2FlYmPXp6WuQR0F2%2Fudj2M3Ew8KkN1DBD7TbjIlewY4rJJgYBhiMOmDUAaMOINkB3z78Y%2Fj94%2F%2FAOcBDq5ZB4q8nw%2Ftnf6niEJIdwCfAz1AXv5ChzG8LVRxCsgO2XCtjaN%2Fpy%2FCL8TOGQ%2F7%2B%2Fk%2BfRPji8ymGhadjUBxS4r2ZgfOjKentgbzVYhRFJChRCjGaM5SHzmMQ4hNjyF8jTpJ%2BFkos%2FvLuH4O%2FcT2Du3kEAyMTI8OmC5NJNodkB%2Fz8%2Bp%2Fh48u%2FEIsjIhg42bkZdl2dx7D3TgtZHiHZAXpiMQyRwRVgiw%2FfXgNOlJQAkh2gr2LDcObRdootJtsBqy5mjlZGow4YdcAwc8DfAeweg%2Bxm%2BvTz77WBcsCnH38vMB2c%2Btn%2F%2Ffc%2F1%2BkZEiC7QHYenPY5FNQxFQZiLiBmA%2FUX6eUGIP4FqtVBdcEPqOAfJAfQqsf8H80BP0AWsUIrJWY65op%2FUEf8YYT6lglK02us4D8U%2F2Mc6EGqAS%2BIAAIMAOvQqPZFM8dUAAAAAElFTkSuQmCC) repeat-x;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003114}}
.b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-back .jPag-snext-img.inactive, .b-wizard .seats .passengers .container > .selectors.jPaginate .jPag-control-front .jPag-snext-img.inactive {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAnCAYAAABuf0pMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3MjQwMTYwRDIzMjA2ODExODIyQTkwNENDRjkzMUQzRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo1MTEwN0U5RjFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo1MTEwN0U5RTFERDAxMUUyQkFBM0QyQkM5NUNEMzJDRiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NzU0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NzI0MDE2MEQyMzIwNjgxMTgyMkE5MDRDQ0Y5MzFEM0UiLz4gPC9yZGY6RGVzY3JpcHRpb24%2BIDwvcmRmOlJERj4gPC94OnhtcG1ldGE%2BIDw%2FeHBhY2tldCBlbmQ9InIiPz4DrTRMAAABn0lEQVR42mJhYGBgBGJ5IBYBYhYG%2BoA%2FQPwGiB8yiomJKb169Qpk8Rcg%2FksnBzABMa%2BEhMQvJmVlZW4g5yMdLQeBfyA7FRUVeUHBL0Vny5EBM9MAWg4Cf5kYBhiMOmDUAaMOIMkBGhoaekAQO2AOyM7OluTj42syNjY%2BSS2HkOQAoOU3Dh48%2BKuiooKPWg4B1QXipGp6%2Fvx5DrAWzV23bt2%2FiRMncnz%2F%2Fv3Vr1%2B%2FWi5fvryZLg5Ad8jUqVOZFy5cyAN0RCqpjqCoAeLo6HiIk5NTn4mJybekpIRBTk6Oy9ramoHmDgDlBqDFuSCLAwICHhYVFTEAo2FKc3PzDlLNIskBUlJS%2FOLi4j0wizMyMhjY2NgOVVVVtQDTwkdyPEOSA3R1da1sbGz0YBZv2LBhSnx8%2FEO65YIzZ87Yqaqq%2BlLDYqrkgtHKaNQBow6gigPKysoEBspykN2M9%2B%2FfLwP20RYOhAMePXqUygSswSSePHmSAqxQ%2BOllMcgukJ3S0tLcDP%2F%2F%2F2cD4olA%2FO4%2F%2FcA7qJ1sjEBiNBuOOmBkOwAgwAB4Iv30c0GjrQAAAABJRU5ErkJggg%3D%3D) repeat-x !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003120}}
.b-wizard .seats .passengers .container > .selectors.jPaginate ul.jPag-pages {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAcCAYAAACzipU4AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A%2FwD%2FoL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wKBRAlAVeU3WYAAAAuSURBVDjLY2RgYJBiIAAY%2F%2F%2F%2F%2F5%2BgImNjY0JqGJgYiACjikYVjSoiVhEj1XIwACfxCPnqH4fsAAAAAElFTkSuQmCC) repeat-x;
  float: left;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003127}}
.b-wizard .seats .passengers .container > .selectors.jPaginate ul.jPag-pages li {
  display: inline;
  float: left;
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003136}}
.b-wizard .seats .passengers .container > .selectors.jPaginate ul.jPag-pages li a {
  font-size: 14px;
  line-height: 25px;
  height: 25px;
  color: #6d6d6d;
  cursor: pointer;
  float: left;
  font-size: 14px !important;
  font-weight: bold;
  width: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003148}}
.b-wizard .seats .passengers .container > .selectors.jPaginate ul.jPag-pages li a {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003152}}
.b-wizard .seats .passengers .container > .selectors.jPaginate ul.jPag-pages li a.jPag-current {
  background-color: #333333;
  color: white;
  font-size: 14px;
  font-weight: normal;
  height: 24px;
  margin-top: 2px;
  padding: 0 2px;
  width: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003166}}
.b-wizard .seats .passengers .container > .selectors.disabled {
  color: #c5c5c5;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003171}}
.b-wizard .seats .passengers .container > .selectors.disabled ul.jPag-pages li a {
  cursor: default;
  color: #c5c5c5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003176}}
.b-wizard .seats .passengers .container > .selectors.disabled ul.jPag-pages li a.jPag-current {
  background-color: #d9d9d9;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003186}}
.b-wizard .seats .passengers .container.right {
  float: right;
  margin-right: 62px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003193}}
.b-wizard .seats .payment {
  color: #6d6d6d;
  font-size: 14px;
  margin-bottom: 34px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003198}}
.b-wizard .seats .payment > span {
  padding-right: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003201}}
.b-wizard .seats .payment > span > input {
  margin: 0 5px 0 0;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003205}}
.b-wizard .seats .payment > span .comission {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003207}}
.b-wizard .seats .payment > span .comission.more {
  color: #cc0033;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003210}}
.b-wizard .seats .payment > span .comission.less {
  color: #76b718;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003214}}
.b-wizard .seats .payment > span:first-child {
  font-weight: normal;
  padding-right: 30px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003221}}
.b-wizard .seats #price {
  opacity: 0;
  filter: alpha(opacity=0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_seats\.css\.scss}line{font-family:\00003224}}
.b-wizard .seats .no-seats {
  color: #cc0033;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}
