@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\000037}}
.b-wizard .ticket {
  margin: 19px 0 28px -10px;
  padding-top: 14px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000312}}
.b-wizard .ticket .ticket-price {
  bottom: 30px;
  line-height: 40px;
  position: absolute;
  right: 55px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000318}}
.b-wizard .ticket tbody {
  display: block;
  /*padding: 8px 0 10px 0;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000322}}
.b-wizard .ticket tbody th {
  color: #555555;
  font-weight: bold;
  height: 24px;
  line-height: 25px;
  padding-bottom: 14px;
  padding-top: 18px;
  text-align: left;
  width: 129px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000332}}
.b-wizard .ticket tbody th.short {
  width: 114px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000335}}
.b-wizard .ticket tbody th:last-child {
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000339}}
.b-wizard .ticket tbody td {
  height: 73px;
  color: #67a015;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000342}}
.b-wizard .ticket tbody td .first {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000348}}
.b-wizard .ticket tbody td .second {
  display: block;
  font-size: 13px;
  max-height: 35px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000356}}
.b-wizard .ticket tbody th:first-child, .b-wizard .ticket tbody td:first-child {
  padding-left: 77px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000362}}
.b-wizard .ticket tbody:first-child th {
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000367}}
.b-wizard .ticket.ow {
  background: url(/assets/blocks/b-wizard/ticket-both-sprite.png) 0px -331px no-repeat;
  height: 320px;
  width: 846px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000373}}
.b-wizard .ticket.rt {
  background: url(/assets/blocks/b-wizard/ticket-both-sprite.png) no-repeat;
  height: 320px;
  width: 846px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_ticket\.css\.scss}line{font-family:\0000378}}
.b-wizard .ticket .company {
  max-height: 54px;
  max-width: 112px;
}
