@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
/* мастер оформления заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\000038}}
.b-wizard {
  font-size: 12px;
  margin-left: 0px;
  min-height: 360px;
  width: 928px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000314}}
.b-wizard .header {
  color: #6d6d6d;
  font-size: 20px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000319}}
.b-wizard .description {
  color: #6d6d6d;
  font-size: 13px;
  margin: 0 auto 27px auto;
  width: 336px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000325}}
.b-wizard .description p {
  margin-bottom: 0.667em;
  text-indent: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000331}}
.b-wizard .subheader {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000337}}
.b-wizard .info-list {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000339}}
.b-wizard .info-list li {
  line-height: 17px;
  list-style: none;
  padding: 3px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000345}}
.b-wizard .ticket-price {
  color: #67a015;
  font-size: 34px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000351}}
.b-wizard .wizard-next.centered {
  float: right;
  right: 50%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003120}}
.b-wizard .wizard-next.centered > div {
  float: right;
  right: -50%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000355}}
.b-wizard .next-background {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA8EAAAA5CAYAAAAWYSnpAAAABmJLR0QA%2FwD%2FAP%2BgvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQJCx8GwpAIUQAAA8tJREFUeNrt3LFLnHcYwPHnd5bUaM1VoZDokKExFEpoQKdsBYeburkc%2FRviIMFBKBSEVnCxa6bYvyAZUv%2BI7B2OZvM61KS8UEEj59Mhb9pSrHieFzz6%2BSwK7%2Fb4O37PF863BAAMR4mIGxFxPSIaxsEZTk5OTn4upexExKNSyhsjAQAARi2Am%2B12e7rX6%2F2Qma8STlGfl8aTJ0%2Fm9vf31zJzOzOv%2BQgBAAAjF8B10DzMzJm%2Fewf%2B06QQBgAARs2%2FA9hE6MdHVVV9k5nfGwUAADAKbvZ6ve3MXBHAXEBjdXX1s8x8ZRQAAMAomK3%2FB9hXoBnkDDk8AAyFt3UCMAwzEfG6lGISAIAIBgAAABEMAAAAIhgAAABEMAAAAIhgAAAAEMEAAACIYAAAABDBAAAAIIIBAABABAMAAIAIBgAAABEMAAAAIhgAAABEMAAAAIhgAAAAEMEAAACI4IiIzJwyCgAG5T4BAK76ntKIiLGIWDQSAC7BYn2vwCCcIQCGuqdMZeZz8wBgUPV9cjffMhAu6q4DBMCQ9pSpiIg79bKybiwADHCxrNfh8kAEM6AHdhMAhrSn3ImIWOh2u%2FVdk08z88vMnDQmAM5xoUzW98bTzMxut5sR0RLBDKhlNwFgSHvKwgcREd1uN6qq%2BmV3d%2Ffx5ubmy6qqPo6IprEBcJaJiYnSbDZfrq2tPW61Wp8fHBx8GhG%2FmQyDereb7O%2Fvf7e8vPyr3QSAQfaUpaWlL46Ojm5HxCclIhY6nc6Lubm5GB8fj1KKaQHQl8yMw8PD2Nvbi%2Fn5%2BcXMfBERxZ3CBbU6nc5P9W7yrJTylZEAcBl7SlVVERFxq%2F660bPMvJeZY5lpawHgPJdKqe%2BNe%2FU9khFx39ehGdB9uwkAQ9pTbr176MUTAFzGZbMeEbMimAHNOkAADGlPAYDhBIyGQQQDcBU1jAAAAAARDAAAACIYAAAARDAAAACIYAAAABDBAAAAIIIBAABABAMAAIAIBgAAABEMAAAAIhgAAAARDAAAACIYAAAARDAAAACIYAAAABDBAAAAIIIBAABABAMA%2F5%2Fd5MQYABDBAIyS1xExk5kmQb8mtra2PqzPEAAAwJV38%2Fj4eDszV0QwfZqMiGav11vLzE3jAAAARkGz3W5PZ%2BZ2Zj4UwvQZwCv12blmJAAAwCgop4TwtBjmLBsbG7cFMADva1EBgGHcLzfa7XZjZ2fn27Gxsa8jYtpY%2BKfMjFL%2BWkV%2Bj4gfI%2BJRKeWN6QAgggEYyRCOiOvhRYxXukX7eJan%2FH7az%2FM8i3j7Fug%2F%2FAkAeJ%2F%2BBD2%2FJ%2BuCRhamAAAAAElFTkSuQmCC) no-repeat;
  height: 57px;
  margin-left: -17px;
  width: 960px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000362}}
.b-wizard .g-button-new {
  width: 131px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000365}}
.b-wizard .wizard-next {
  display: block;
  margin: 7px auto 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000370}}
.b-wizard .button-clear {
  clear: both;
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000374}}
.b-wizard li {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000377}}
.b-wizard .controls {
  margin-top: 72px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000381}}
.b-wizard .controls .agree-box {
  width: 448px;
  margin: 0 auto;
  margin-bottom: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000386}}
.b-wizard .controls .agree-box label {
  font-size: 15px;
  padding-left: 20px;
  display: block;
  min-height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000392}}
.b-wizard .controls .agree-box label input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard\.css\.scss}line{font-family:\0000399}}
.b-wizard .not-immediate {
  color: #cc0033;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}
