@charset "US-ASCII";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\000037}}
.b-wizard .passports-table {
  width: 846px;
  margin: 0 auto;
  table-layout: fixed;
  clear: left;
  margin-bottom: 39px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000318}}
.b-wizard .passports-table tr {
  height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000321}}
.b-wizard .passports-table tr th {
  color: #4a4a4a;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000328}}
.b-wizard .passports-table tr td {
  color: #4a4a4a;
  font-size: 15px;
  font-weight: bold;
  line-height: 38px;
  padding-left: 2px;
  word-wrap: break-word;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000336}}
.b-wizard .passports-table tr.odd td {
  background-color: #ebebeb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000339}}
.b-wizard .passports-table tr.data {
  height: 73px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000343}}
.b-wizard .passports-table input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: white;
  border: 1px solid #cccccc;
  color: #4a4a4a;
  line-height: 16px;
  padding: 4px 5px!important;
  width: 208px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 17px;
  padding: 3px 5px;
  width: 125px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003218}}
.b-wizard .passports-table input::-webkit-input-placeholder {
  color: #878787 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003219}}
.b-wizard .passports-table input:-moz-placeholder {
  color: #878787 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003220}}
.b-wizard .passports-table input::placeholder {
  color: #878787 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003221}}
.b-wizard .passports-table input:-ms-input-placeholder {
  color: #878787 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000351}}
.b-wizard .passports-table input.date {
  width: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000354}}
.b-wizard .passports-table input.series {
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000357}}
.b-wizard .passports-table input.number {
  width: 57px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000361}}
.b-wizard .passports-table .control-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-shadow: none;
  background-color: #67a015;
  color: whitesmoke;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 12px 3px 14px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color,color;
  -moz-transition-property: background-color,color;
  -o-transition-property: background-color,color;
  transition-property: background-color,color;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003203}}
.b-wizard .passports-table .control-button:hover {
  background-color: #659c14;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003206}}
.b-wizard .passports-table .control-button:active {
  background-color: #629714;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/global\/mixins\.css\.scss}line{font-family:\00003209}}
.b-wizard .passports-table .control-button.disabled {
  background-color: #646464 !important;
  color: white !important;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000365}}
.b-wizard .passports-table .control-button .label {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000368}}
.b-wizard .passports-table .control-button.apply {
  padding: 3px 20px 3px 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000371}}
.b-wizard .passports-table .control-button.download {
  padding: 3px 31px 3px 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000374}}
.b-wizard .passports-table .control-button.new {
  padding-left: 15px;
  padding-right: 47px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000378}}
.b-wizard .passports-table .control-button.new .label {
  color: #FFF500;
  display: inline;
  padding-left: 8px;
  padding-top: 1px;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000387}}
.b-wizard .passports-table .odd .control-button {
  background-color: #76b718;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000389}}
.b-wizard .passports-table .odd .control-button:hover {
  background-color: #6da719;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/wizard\/b-wizard_passports-table\.css\.scss}line{font-family:\0000392}}
.b-wizard .passports-table .odd .control-button:active {
  background-color: #598a12;
}
