@charset "UTF-8";
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/*

  project specific SASS mixins

*/
/*
  ==========================================================================================================
  File stores projet styles varialbles.
  Must be included in each your block/layout file to ensure consistance.
  You may latter ovverride variables if you need.
  Keep here only variables for WHOLE PROJECT - declare scoped variables inside files they assign to.

  NOTES:
  1. feel free to add your own variables;
  1. try to use _underscore style for naming - this help you in text editors. using '-' also will do.
     but not the double undescore;
  2. using color for naming may be a bad idea - orange tomorrow can become pupure etc;
     use shortcuts instead, if you really need to keep it:
     $super_green: $primary_color;
  3. comment, comment, comment;
  ==========================================================================================================
*/
/*
  ===========================================================================================================
  COLORS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  BACKGROUNDS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  FONTS
  ===========================================================================================================
*/
/*
  ===========================================================================================================
  GRID
  ===========================================================================================================
*/
/*$page-width: 56*$bw; //896px*/
/*
  ===========================================================================================================
  Z_INDEXes
   - you're don't want to mess with it 
  ===========================================================================================================
*/
/* центрирование элемента */
/* кнопка навигации слайдера */
/* круглая кнопка, используется в оформлении заказа */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/popup\/b-feedback-popup_feedback\.css\.scss}line{font-family:\000034}}
.b-feedback-popup .feedback {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1060;
  height: 512px;
  width: 798px;
  margin-top: -210px;
  margin-left: -399px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/popup\/b-feedback-popup_feedback\.css\.scss}line{font-family:\0000317}}
.b-feedback-popup .feedback > .inner {
  -webkit-box-shadow: 0 0 15px black;
  -moz-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ECECEC;
  border: 4px solid #F08200;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/popup\/b-feedback-popup_feedback\.css\.scss}line{font-family:\0000324}}
.b-feedback-popup .feedback > .inner > .header {
  background-color: #fbe5cc;
  border-bottom: 1px solid #CDCDCD;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/popup\/b-feedback-popup_feedback\.css\.scss}line{font-family:\0000328}}
.b-feedback-popup .feedback > .inner > .header h1 {
  font: bold 20px/44px Arial;
  padding-left: 13px;
  text-shadow: 1px 1px 1px white;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/popup\/b-feedback-popup_feedback\.css\.scss}line{font-family:\0000335}}
.b-feedback-popup .feedback > .inner > .footer {
  height: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/popup\/b-feedback-popup_feedback\.css\.scss}line{font-family:\0000338}}
.b-feedback-popup .feedback > .inner > .footer .section-link {
  font-size: 12px;
  margin-left: 18px;
  margin-top: -15px;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/voviarka\/Sites\/ClickaviaRails\/app\/assets\/stylesheets\/blocks\/feedback\/popup\/b-feedback-popup_feedback\.css\.scss}line{font-family:\0000346}}
.b-feedback-popup .feedback > .close {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1%2B%2FAAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNy8wOS8xMchul7MAAAarSURBVFiF1Zh%2FTFTZFcc%2FzDDQARyW5wLCpB35zfwo6bokrvAHm9U%2FWtSqlU3T0KWbMHEL7JIsZBP%2FwLjGJo3%2FkTRoseLiblTSQBR1xVazpCbOyi5Rw8rI4AJBRoYBOsCAIuLw%2BsfchzAzkLG7%2FaPf5GTe3PveOd973jn3nvMiCB8RQlQBshJLASILCUt5OPNqIRogSvxqxJhyjwz4gEUhz8WvT4hyzysTUVYfCUQD2j179iRVVFQUpaWl5UuSlBsbG%2Fuz6OhoCWBhYcHz5MmTRx6Pp29oaKj7xIkT%2F2pvbx8H5oEF4AUvvRQ2IsSKY4FEq9X6ZldX17GJiYl7cpiYmJi419XVdcxqtb4JJApdmrUWH2pQIfETQHfx4sWd%2Bfn57%2Bn1%2BkKAhw%2F7udDWit1%2Bn8GBASYnJwB4%2FfVE0jMyMJks7NtfQlZWNgCPHz%2B%2B1d3d%2FcXevXu%2FBLzAM%2FyvbF3PROCPgXjA0NnZ%2BanX6x2RZVl2u8fkDys%2FkDM26%2BXNP920rmRs1ssfVn4gu91jsizLstfrHens7PwUMAjdUYFOiAi4jgS0QMKNGzfKCwoKqrRarfS17RZVlQeY8njWW0QQEiSJhuMn2VZQyPz8vMdmszXs2LGjCZjCHzsvFM%2BoV5BQ4Q%2FK186dO7e3qKjoo7i4uOTr%2F7zG%2B2WlPJuffyUSAM%2Fm52lr%2FTtms4WcXKN248aNmXl5eZNtbW1DvMwoAologLiSkpKs8vLymuTkZNPXtlu8X1b6ygQCcflSO1u3biMzK0un0%2BkSnE5nt91un1lJRtmQ1Pi9saGiouJdg8Hw1vi4m6rKAz%2BYhIKqygOMj7sxGAxvVVRUvAtsEDbVCpEI8UdbWFioNxqN2wGOHjkcMibKrQf4uOYTdDpd0JxOp%2BPjmk8otwYvYMrj4eiRwwAYjcbthYWFevzxuLwpqoA4IK25ublOlmW5v98RMjt%2B99v98tzsrDw3Oyt%2F03VbzjNnL8%2FlmbPlb7puL88X%2F3J7yGzq73fIsizLzc3NdUCasK1SzosoICYnJ2cLwIW2Vnw%2BX%2BCiGHn0CK%2FXC4DJZObU6c%2FR6XTodDpOnf4ck8kMgNfrxTvjDXre5%2FNxoa0VAGErRtheJqIBtJs2bcoEsNvvBykBcDpHsJaXBZEJJGEtL8PpHAmpQ9EtbGmF7VVEoiVJSgEYHBgIqQTA3tsbRCaQhL23d83nFd3CVnQgETWgiYmJiQeWt%2B31yNTWVAeN19ZUr0tipW5hSznBVUr6KpkTFpTsCMRa2bQOVmXMMubm5mbBf4CtRyIwJhSsDOC1oOhWbClQiMiAb3Jy0g2QnpERNglreRm1NdVBAbwWFN3Clk%2FYRoW%2FWPEBi8PDw4%2F8yiwhlZgtPw8ZmP%2B41hEUwNsKCkPqUHQLW8oWv6QQWQQW7t69%2BwBg3%2F4S1OrgkOm9%2Fx1O50jI7FiZTXZ7L733vwt6Xq1Ws29%2FCQDC1oKwvaQc%2FTogJScn5xdXr149mp6envZR1R%2B5crk95Kr%2BW%2BzavYe%2FNPyVwcHBoeLi4kMOh%2BMe4AK8ikeeA08dDofLZrN9C3Do8BESJOlHI5EgSRw6fAQAm832rcPhcAFPhe0lFf5gWRSD0%2FX19dd7enoeJCUl03D85I9GpOH4SZKSkunp6XlQX19%2FHZgWNhcBeWU9EgGoXC6XnJiYqDGZTJm5RmOM2Wzh8qUf9opOnvqMorffwe12%2F%2FvMmTMXW1pabgNj%2BGvY58CSQkQpZCMA1c2bNz0GgyEmOzs73Wy2RG3duo2vvrrxylVagiRx%2BrMvKHr7Haanp5%2B0tLRcPXjw4CVgFPDg98gLWF2hrerKOjo6RvV6vcZgMKQajSbtvt%2BUMOZyMTDwPbK8fmuiVqvZuevX%2FK2pmdxcI2NjY57z589fq66ubgWcwCQwK7yxqmZVILOiZezo6HBGRkY%2BkyQpPjMza2Pxzl38aucu4uI2EBsby5JvicXF52g0GlJSUnljyxaKi3fzpz8f4%2Ffv%2FYHY2Dju3LnzsKmp6cu6urrLgsQ4MIM%2FdZc3tECsaieAfGC3xWKpbWxsvNLX1zcSboPV19c30tjYeMVisdQCu4WusNqJlWPLDRaQgL9TSzQYDPrS0tI38vPzMzMyMlJSU1MT4uPjYwBmZmaejo6OTg0MDLi6u7u%2FP3v27N3h4eHHwISQKdZpsNbqfZWNLgp%2FFbUBeE1IPP7yTqmuIsUzLxD7ETAn3D8tZJaXe8ZyLxMOEWVuVRMujMeIa6WoUeJM%2BRKwgL95eiokrCb8%2F%2BKzRKh7%2F2cfav4DOk9Iyn8pfPIAAAAASUVORK5CYII%3D) no-repeat;
  cursor: pointer;
  display: block;
  height: 34px;
  position: absolute;
  right: -17px;
  top: -17px;
  width: 34px;
  z-index: 100004;
}
